<% content_for(:title) { "Google Drive Settings" } %>

<% content_for(:action_links) do %>
  <% if !@auth_required && policy(sample_item).create? %>
    <%= link_to(icon_tag("plus") << " Link Item", new_gdrive_item_path, class: "btn btn-primary") %>
  <% end %>
<% end %>

<% if @auth_required %>
  <% if @config.new_record? %>
    <h2>Google Workspace Credentials</h2>
    <p>Your community is not yet connected to Google Drive. Add your Google Workspace credentials to connect.</p>
    <%= render("config_form") %>
  <% else %>
    <h2>Authentication</h2>
    <p>
      <% if @config.items.any? %>
        Your community needs to be reconnected to Google Drive.
      <% else %>
        Your community is not yet connected to Google Drive.
      <% end %>
      Please authenticate with Google as <strong><%= @config.org_user_id %></strong>.
    </p>
    <%= render("gdrive/browse/auth_button") %>

    <h2>Google Workspace Credentials</h2>
    <p>If you need to update your Google Workspace credentials, you can do so here.</p>
    <%= render("config_form") %>
  <% end %>
<% else %>
  <section aria-label="Introduction">
    <p>
      <strong>System User:</strong> <%= @config.org_user_id %>
    </p>
    <p>
      Add items below to link them to Gather and sync permissions. Shared drives listed below are shown on the Gather
      <%= link_to("Google Drive browse page", gdrive_home_path) %> for users that have permission.
      Folders and files will not be accessible via the browse page unless their parent shared drive
      is accessible.
    </p>
  </section>

  <table class="full-width">
    <% %i[drive folder file].each do |kind| items = @items_by_kind[kind] %>
      <tr class="heading">
        <td colspan="4">
          <h2><%= t("gdrive.item_kinds.#{kind}", count: 2) %></h2>
        </td>
      </tr>
      <% if items.any? %>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Groups & Permissions</th>
          <th></th>
        </tr>
        <% items.each do |item| %>
          <tr>
            <td><%= item.name.presence || "[#{item.external_id.truncate(32)}]" %></td>
            <td>
              <% if item.error_type %>
                <%= icon_tag("times-circle", class: "status bad") %> &nbsp;
                <%= t("gdrive.item_error_types.#{item.error_type}") %>
              <% else %>
                <%= icon_tag("check-circle", class: "status good") %>
              <% end %>
            </td>
            <td>
              <% item.item_groups.each do |item_group| %>
                <div>
                  <%= link_to(item_group.group.name, item_group.group) %>:
                  <%= t("gdrive.access_levels.#{item_group.access_level}") %> (<%= t("gdrive.access_level_hints.#{item_group.access_level}") %>)&nbsp;
                  <%= link_to(icon_tag("times"), gdrive_item_group_path(item_group),
                        method: :delete,
                        data: {confirm: I18n.t("confirmations.gdrive/item_group.destroy")}) %>
                </div>
              <% end %>
              <%= link_to(icon_tag("plus") << " Add Group", new_gdrive_item_group_path(item_id: item.id)) %>
            </td>
            <td>
              <%= link_to(icon_tag("trash"), gdrive_item_path(item),
                    method: :delete,
                    data: {confirm: I18n.t("confirmations.gdrive/item.destroy")}) %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr class="heading">
          <td colspan="4">
            No <%= t("gdrive.item_kinds.#{kind}", count: 2).downcase %> linked to Gather.
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <footer id="local-footer" class="footer-links">
    <% unless @auth_required %>
      If you need to disconnect from Google or update your Google Workspace credentials you can <%= link_to("revoke authorization", gdrive_setup_auth_revoke_path, method: :delete,
          data: {confirm: "Are you sure you want to revoke authorization? Nobody will be able " \
            "to use Google Drive features for this community until authorization is re-established."}) %>.
    <% end %>
  </footer>
<% end %>