<div class="row" id="resource-forms">
  <div class="col-sm-3 col-sm-push-9">
    <%= render("shared/dropzone", obj: resource, attrib: :photo, format: :thumb) %>
  </div>

  <div class="col-sm-9 col-sm-pull-3">
    <%= gather_form_for(resource, width: :full) do |f| %>
      <%= f.hidden_field :photo_new_signed_id %>
      <%= f.hidden_field :photo_destroy %>
      <%= f.input :name, maxlength: 24 %>
      <%= f.input :abbrv, maxlength: 6 %>
      <%= f.input :meal_hostable, as: :select, required: true %>
      <%= f.input :default_calendar_view, collection: Reservations::Resource::DEFAULT_CALENDAR_VIEWS,
        required: true %>
      <%= f.input :guidelines, as: :markdown %>

      <%= form_actions do %>
        <%= f.button :primary %>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(function() {
    window.uploadView = new Gather.Views.FileUploadView(<%=json(
      el: '#resource-forms',
      maxSize: Reservations::Resource.attachment_size_limits[:photo]
    )%>);
    new Gather.Views.DirtyChecker({el: '.reservations--resource-form', helpers: [uploadView]});
  });
<% end %>
