<div class="row" id="resource-forms">
  <div class="col-sm-3 col-sm-push-9">
    <%= render("shared/photo_dropzone", obj: resource, format: :thumb, width: 220, height: 165) %>
  </div>

  <div class="col-sm-9 col-sm-pull-3">
    <%= horizontal_form_for(resource, width: :full) do |f| %>
      <%= f.input :photo_tmp_id, as: :hidden %>
      <%= f.input :photo_destroy, as: :hidden %>
      <%= f.input :name %>
      <%= f.input :abbrv, maxlength: 6 %>
      <%= f.input :meal_hostable, as: :select, include_blank: false, required: true %>
      <%= f.input :default_calendar_view, collection: Reservations::Resource::DEFAULT_CALENDAR_VIEWS,
        include_blank: false, required: true %>
      <%= f.input :guidelines %>

      <%= form_actions do %>
        <%= deactivate_btn(@resource, name: @resource.name) %>
        <%= destroy_btn(@resource, name: @resource.name) %>
        <%= f.button :submit, class: "btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(function(){
    var uploadView = new Gather.Views.FileUploadView(<%=json(
      el: '#resource-forms',
      maxFilesize: Settings.photos.max_size_mb / 1
    )%>);
    new Gather.Views.DirtyChecker({el: '.reservations--resource-form', helpers: [uploadView]});
  });
<% end %>
