<div class="row" id="resource-forms">
  <div class="col-sm-3 col-sm-push-9">
    <%= render("shared/photo_dropzone", obj: resource, format: :thumb, width: 220, height: 165) %>
  </div>

  <div class="col-sm-9 col-sm-pull-3">
    <%= horizontal_form_for(resource, width: :full) do |f| %>
      <%= f.input :photo_tmp_id, as: :hidden %>
      <%= f.input :photo_destroy, as: :hidden %>
      <%= f.input :name %>
      <%= f.input :abbrv, maxlength: 6 %>
      <%= f.input :meal_hostable, as: :select, include_blank: false %>
      <%= f.input :default_calendar_view, collection: Reservations::Resource::DEFAULT_CALENDAR_VIEWS %>
      <%= f.input :guidelines %>

      <%= form_actions do %>
        <% if policy(@resource).deactivate? && !@resource.new_record? && @resource.active? %>
          <%= link_to(icon_tag("times-circle") << " Deactivate Resource",
            deactivate_reservations_resource_path(@resource),
            class: "btn btn-default", method: :put,
            data: { confirm: I18n.t("activerecord.deact_confirms.resource", name: resource.name) }) %>
        <% end %>
        <% if policy(@resource).destroy? && !@resource.new_record? %>
          <%= link_to(icon_tag("trash") << " Delete Resource",
            reservations_resource_path(@resource),
            class: "btn btn-default", method: :delete,
            data: { confirm: I18n.t("activerecord.delete_confirms.resource", name: resource.name) }) %>
        <% end %>
        <%= f.button :submit, class: "btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(function(){
    var uploadView = new Gather.Views.FileUploadView(<%=json(
      el: '#resource-forms',
      maxFilesize: Settings.photos.max_size_mb / 1
    )%>);
    new Gather.Views.DirtyChecker({el: '.reservations--resource-form', helpers: [uploadView]});
  });
<% end %>
