<% photo_path = @resource.photo.url(:thumb, allow_tmp: true) %>
<% size = local_assigns[:size] || "thumb" %>
<% hide_existing = local_assigns[:hide_existing] %>
<% photo_present = !hide_existing && photo_path !~ %r{missing/resources/} %>
<%= form_tag "/uploads", id: "resource-photo", data: {width: width, height: height}, class: "dropzone
    #{photo_present ? 'has-existing' : ''}
    #{@resource.photo_destroy? ? 'existing-deleted' : ''}" do %>
  <%= hidden_field_tag(:model, "reservations/resource") %>
  <%= hidden_field_tag(:attribute, "photo") %>
  <%= hidden_field_tag(:tmp_id, @resource.photo_tmp_id) %>
  <%= hidden_field_tag(:id, @resource.id) %>
  <%= link_to(icon_tag("trash"), "#", class: "delete") %>
  <%= image_tag(photo_path, class: "existing") %>
  <div class="dz-message" data-dz-message>
    <span>Click or Drag<br/>Photo Here</span>
  </div>
<% end %>
