<% content_for(:title, "Resources") %>

<% content_for(:top_buttons) do %>
  <% if policy(sample_resource).create? %>
    <%= link_to(icon_tag("plus") << " Create Resource",
      new_reservations_resource_path, class: "btn btn-primary") %>
  <% end %>
<% end %>

<% if resources.empty? %>
  <div class="center-notice">
    No resources found.
  </div>
<% else %>
  <table class="index part-width">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Reservations</th>
    </tr>
    <% resources.each do |resource| %>
      <tr class="<%= resource.tr_classes %>">
        <td><%= image_tag(resource.photo_variant(:thumb), alt: resource.name) %></td>
        <td class="name">
          <%= link_to(resource.name_with_inactive, edit_reservations_resource_path(resource.id)) %>
        </td>
        <td><%= number_with_delimiter(resource.reservation_count) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
