<% flag = FeatureFlag.find_by(name: "restrictions")&.on? %>
<div class="custom-fields">
  <% if (title = group_entry.label) && !local_assigns[:hide_title] %>
    <div class="group-title"><%= title %></div>
  <% end %>
  <% if (hint = CustomFields::EntryDecorator.new(group_entry).sanitized_hint) %>
    <div class="hint group-hint"><%= hint %></div>
  <% end %>
  <div class="fields">
    <%= f.simple_fields_for(group_entry) do |ff| %>
      <% group_entry.entries.each do |entry| %>
        <% if entry.group? %>
          <%= render("custom_fields/group_entry_edit", group_entry: entry, f: ff) %>
        <% else %>
          <%= ff.input entry.key, entry.input_params %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
