<% content_for(:title) { "Google Drive" } %>
<% content_for(:action_links) do %>
  <% if @setup_policy.setup? %>
    <% if @config && !@no_credentials && !@authorization_error %>
      <%= link_to(icon_tag("gear") << " Settings", gdrive_items_path,
            class: "btn btn-default") %>
    <% end %>
    <% if @config && !@no_credentials && !@authorization_error && @migration_operation %>
      <%= link_to(icon_tag("truck") << " Migration", gdrive_migration_dashboard_home_path,
            class: "btn btn-default") %>
    <% end %>
  <% end %>
<% end %>

<% if @authorization_error %>
  <div class="center-notice">
    <% if @setup_policy.setup? %>
      <p>
        There was an error connecting to Google Drive.
      </p>
      <%= render("auth_button") %>
    <% else %>
      There was an error connecting to Google Drive. Please notify a Gather Admin.
    <% end %>
  </div>
<% elsif @config.nil? || @no_credentials || @no_drives %>
  <div class="center-notice">
    <% if @setup_policy.setup? %>
      <% if @config.nil? %>
        Your community is not yet connected to Google Drive. Please contact Gather support to get started.
      <% elsif @no_credentials %>
        <p>
          Your community is not yet connected to Google Drive.
        </p>
        <%= render("auth_button") %>
      <% elsif @no_drives %>
        Your community does not have any linked Shared Drives. Please go to the
        <%= link_to("settings page", gdrive_items_path) %> to link a drive.
      <% end %>
    <% else %>
      Your community is not yet connected to Google Drive. Please talk to a Gather Admin.
    <% end %>
  </div>
<% elsif @no_accessible_drives %>
  <div class="center-notice">
    No files found.
  </div>
<% else %>
  <% if @browse_decorator.old_item_url %>
    <div class="synopsis">
       Looking for something? Files are currently being migrated to this new community-owned drive.
       If you can't find something, try the <%= link_to("old location", @browse_decorator.old_item_url) %>.
    </div>
  <% end %>

  <% if @ancestors_decorator.any? %>
    <div class="breadcrumbs">
      <%= link_to(icon_tag("home"), gdrive_home_path) %><span class="divider">></span
        ><%= @ancestors_decorator.links %>
    </div>
  <% end %>
  <% if @file_list %>
    <% if @file_list.files.any? %>
      <table class="full-width item-list">
        <% @file_list.files.each do |file| %>
          <tr>
            <td>
              <%= image_tag(file.icon_link, class: "file-icon", alt: "File icon") %>
              <% if file.mime_type == GDrive::FOLDER_MIME_TYPE %>
                <%= link_to(file.name, gdrive_browse_path(item_id: file.id)) %>
              <% else %>
                <%= link_to(file.name, file.web_view_link, target: "_blank") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="center-notice">
        No files found in this folder.
      </div>
    <% end %>
  <% else %>
    <table class="full-width item-list">
      <% @drives.each do |drive| %>
        <tr>
          <td>
            <%= image_tag("https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+shared",
                          class: "file-icon", alt: "Folder icon") %>
            <%= link_to(drive.name, gdrive_browse_path(item_id: drive.external_id, drive: 1)) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>

<footer id="local-footer" class="footer-links">
  <%= @browse_decorator.footer_links %>
</footer>
