<!DOCTYPE html>
<html>
<head>
  <title>Gather</title>
  <%= render("layouts/head") %>
</head>
<body class="home">
  <div id="main-wrapper">
    <%= flash_messages %>
    <div id="container">
      <br/>
      <div id="blurb">
        It's never been easier to organize a common meal at cohousing.<br/>
        <strong>Let's eat together!</strong>
      </div>
      <div id="logo">
        <%= image_tag("logo-tagline-white.png") %>
      </div>
      <%= link_to(icon_tag("google") << " Log in with Google",
        user_omniauth_authorize_path(:google_oauth2), class: "btn btn-primary btn-login") %>
      <div id="help-link">
        <%= link_to(icon_tag("question-circle") << " Need help logging in?", "#",
           data: {toggle: "modal", target: "#help-modal"}) %>
      </div>
    </div>
    <div id="footer-pusher"></div>
  </div>
  <%= render("layouts/footer") %>

  <div id="help-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h3>Login Help</h3>
          <h4>Why Google?</h4>
          <p>Gather uses Google for log in so that you don't have to remember yet another password. This increases security and decreases headache! Most people have a Google account. If you use Gmail or an Android phone, you have one.</p>
          <p>When you click the 'Log in with Google' button, you will be taken to a Google page where you will be asked to authorize Gather to see your basic info. The only piece of information that Gather actually uses is your Google email address. You only have to do this step once.</p>
          <p>If you suspect you have a Google account but you don't know your username or password, <strong>do not create a new Google account</strong>. This will cause confusion later on. Use the 'Need help?' link on the Google log in page to get access to your existing account. Contact your tech team or Gather admin if you can't figure it out.</p>
          <p>If you are certain you do not have a Google account, you can create one after you click the 'Log in with Google' button.</p>

          <h4>Invitations</h4>
          <p>If you got an invitation in your email, be sure to use the link in the email to reach this page, otherwise you may not be able to log in.</p>
          <p>Invitations expire <%= number_with_precision(Devise.reset_password_within / 1.day, precision: 0) %> days after they are sent. If you receive an 'invitation expired' error, you will need to contact your Gather admin to get a new one.</p>

          <h4>Troubleshooting</h4>
          <p><h5>Error: "Your Google ID xxx@gmail.com was not found in the system"</h5></p>
          <p>This means you tried to login with a Google ID that is not recognized. Please contact your Gather admin to get your Google ID added.</p>
          <p><h5>Error: "You must login with the Google ID xyz@gmail.com"</h5></p>
          <p>This means your Gather admin has specified a Google ID for your account but you have attempted to log in with a different Google ID. Please log in with the specified Google ID, or contact the Gather admin to have your Google ID changed.</p>
          <p><h5>Error: "Your invitation has expired"</h5></p>
          <p>Invitations expire <%= number_with_precision(Devise.reset_password_within / 1.day, precision: 0) %> days after they are sent. Contact your Gather admin to get a new one.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
