<!DOCTYPE html>
<html>
<head>
  <title>Gather</title>
  <%= render("layouts/head") %>
</head>
<body class="landing">
  <%= flash_messages %>
  <main>
    <h1 id="blurb">Life is better together.</h1>
    <%= image_tag("logo-white.png", id: "logo", alt: "Gather logo") %>
    <div id="sign-in-btns">
      <%= link_to(icon_tag("brands google") << " Sign in with Google",
            user_google_oauth2_omniauth_authorize_url(host: Settings.url.host, state: @invite_token),
            method: :post, id: "sign-in-btn", class: "btn btn-primary") %>
      <% if @invite_token %>
        <%= link_to(icon_tag("asterisk") << " Sign in with Password",
              edit_user_password_url(host: Settings.url.host, reset_password_token: @invite_token),
              id: "sign-in-btn", class: "btn btn-primary") %>
      <% else %>
        <%= link_to(icon_tag("asterisk") << " Sign in with Password",
              new_user_session_url(host: Settings.url.host),
              id: "sign-in-btn", class: "btn btn-primary") %>
      <% end %>
    </div>
    <div id="help-links">
      <div>
        <%= link_to(icon_tag("info-circle") << " Learn more about Gather", "http://info.gather.coop") %>
      </div>
    </div>
  </main>
  <%= render("layouts/footer") %>
</body>
</html>
