<%= gather_form_for(period, width: (:full unless period.archived?)) do |f| %>
  <div class="row">
    <div class="form-fields">
      <%= f.input :name %>
      <%= f.input :phase, collection: Work::Period::PHASE_OPTIONS, include_blank: false %>
      <%= f.input :starts_on, as: :date_picker %>
      <%= f.input :ends_on, as: :date_picker %>
      <%= f.input :quota_type, collection: Work::Period::QUOTA_TYPE_OPTIONS, include_blank: false %>
      <%= f.input :auto_open_time, as: :datetime_picker, stepping: 5 %>
      <%= f.input :pick_type, collection: Work::Period::PICK_TYPE_OPTIONS, include_blank: false,
                              wrapper_html: {class: "hiding"} %>
      <div class="staggering-options hiding">
        <%= f.input :max_rounds_per_worker %>
        <%= f.input :workers_per_round %>
        <%= f.input :round_duration, collection: period.round_duration_options, include_blank: false %>
      </div>
      <% if period.new_record? %>
        <%= f.input :job_copy_source_id, collection: @periods, include_blank: "Do not copy jobs" %>
        <%= f.input :copy_preassignments, as: :boolean %>
      <% end %>

      <% if @meal_job_sync_settings.settings_by_formula.any? %>
        <%= f.input :meal_job_sync_settings do %>
          <%= f.input_field :meal_job_sync, collection: Work::Period::MEAL_JOB_SYNC_OPTIONS,
                            class: "form-control", include_blank: false %>
          <div id="meal-job-sync-settings">
            <table>
              <thead>
                <tr>
                  <th>Meal Formula</th>
                  <th>Meal Roles To Sync</th>
                </tr>
              </thead>
              <tbody>
                <% index = 0 %>
                <% @meal_job_sync_settings.settings_by_formula.each do |formula, settings| %>
                  <tr>
                    <td><%= formula.decorate.name_with_suffix %></td>
                    <td>
                      <% settings.each do |setting| %>
                        <%= f.simple_fields_for(:meal_job_sync_settings_attributes,
                              setting, index: index) do |setting_fields| %>
                          <%= setting_fields.hidden_field :id %>
                          <%= setting_fields.hidden_field :formula_id %>
                          <%= setting_fields.hidden_field :role_id %>
                          <div class="setting">
                            <%= setting_fields.check_box :_destroy, {checked: setting.selected?}, "0", "1" %>
                            <%= setting_fields.label :_destroy, setting.role_title %>
                          </div>
                        <% end %>
                        <% index += 1 %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="hint">
              Meal jobs will be sync'd whenever the period changes or meals are added/changed/removed.
              Signups will be sync'd whether user signs up via meal or work system.
              Changes to meal roles will only cause sync if period is in draft mode.
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="shares hiding">
    <h2>Shares</h2>
    <p class="intro"><%= t("work/shares.intro") %></p>
    <p class="priority-hint"><%= t("work/shares.priority_hint_html") %></p>

    <% @users_by_kind.each do |kind, users| %>
      <% if @users_by_kind.size > 1 %>
        <h3><%= t("common.#{kind.pluralize}") %></h3>
      <% end %>
      <div class="work-share-section">
        <% users.each do |user| %>
          <% share = @shares_by_user[user.id].decorate %>
          <%= f.simple_fields_for(:shares_attributes, share, index: user.id) do |share_fields| %>
            <div class="work-share">
              <%= share_fields.hidden_field :id %>
              <%= share_fields.hidden_field :user_id %>
              <%= share_fields.hidden_field :priority, data: {"orig-val": share.priority} %>
              <%= share_fields.label :portion, link_to(user.full_name, user_path(user)) %>
              <%= icon_tag("star#{'-o' unless share.priority?}", class: "priority-icon") %>
              <%= share_fields.select :portion, share.select_options,
                {include_blank: share.portion.nil?}, class: "form-control" %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= form_actions do %>
    <%= f.button :primary %>
  <% end %>

  <%= javascript_tag do %>
  $(function() {
    new Gather.Views.DirtyChecker({el: '.work--period-form'});
    new Gather.Views.Work.PeriodFormView({el: '.work--period-form'});
  });
  <% end %>
<% end %>
