<% content_for(:title, "Work Periods") %>
<% content_for(:action_links) do %>
  <% if policy(sample_period).create? %>
    <%= link_to(icon_tag("plus") << " Create Period",
      new_work_period_path, class: "btn btn-primary") %>
  <% end %>
<% end %>

<% if periods.empty? %>
  <%= render("work/shared/no_period_notice") %>
<% else %>
  <table class="index part-width">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Phase</th>
      </tr>
    </thead>
    <tbody>
      <% periods.each do |period| %>
        <tr>
          <td class="name"><%= link_to(period.name, work_period_path(period)) %></td>
          <td class="start-date"><%= l(period.starts_on) %></td>
          <td class="end-date"><%= l(period.ends_on) %></td>
          <td class="phase"><%= t("work/period.phase_names.#{period.phase}") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= gather_paginate(periods) %>
<% end %>
