<% content_for(:title, "Select Files") %>

<% if @config&.complete? %>
  <div data-controller="gdrive--file-picker"
    data-gdrive--file-picker-client-id-value="<%= Settings.gdrive.auth.client_id %>"
    data-gdrive--file-picker-api-key-value="<%= Settings.gdrive.auth.api_key %>"
    data-gdrive--file-picker-access-token-value="<%= @access_token %>"
    data-gdrive--file-picker-root-folder-id="<%= @config.folder_id %>"
    data-gdrive--file-picker-ingest-files-url-value="<%= gdrive_migration_ingest_file_selection_url(
      host: Settings.url.host, community_id: current_community.id) %>"
    data-gdrive--file-picker-test-mode-value="<%= Rails.env.test? %>"
    >
    <button data-action="gdrive--file-picker#showPicker"
      class="btn btn-primary">Choose Files</button>
  </div>


<% else %>
  <div class="center-notice">
    Your connection is not set up yet. Please do that first.
  </div>
<% end %>

<script src="https://apis.google.com/js/api.js"></script>
