<div class="row" id="user-forms">
  <div class="col-sm-3 col-sm-push-9">
    <% photo_path = @user.photo.url(:thumb, allow_tmp: true) %>
    <% photo_present = !(photo_path =~ %r{missing/users/}) %>
    <%= form_tag "/uploads", id: "user-photo", class: "dropzone
        #{photo_present ? 'has-existing' : ''}
        #{@user.photo_destroy? ? 'existing-deleted' : ''}" do %>
      <%= hidden_field_tag(:model, "user") %>
      <%= hidden_field_tag(:attribute, "photo") %>
      <%= hidden_field_tag(:tmp_id, @user.photo_tmp_id) %>
      <%= hidden_field_tag(:id, @user.id) %>
      <%= link_to(icon_tag("trash"), "#", class: "delete") %>
      <%= image_tag(photo_path, class: "existing") %>
      <div class="dz-message" data-dz-message>
        <span>Click or Drag<br/>Photo Here</span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-9 col-sm-pull-3">
    <%= horizontal_form_for(@user, width: :full) do |f| %>
      <%= f.input :photo_tmp_id, as: :hidden %>
      <%= f.input :photo_destroy, as: :hidden %>
      <%= f.input :child, as: :hidden %>

      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :household_id,
        collection: [@user.household].compact, label_method: :full_name,
        disabled: !policy(@user).administer?,
        input_html: { data: { "select2-src" => "household", "select2-label-attr" => "full_name" } } %>

      <% if @user.child? %>

      <% else %>

        <%= f.input :email, required: true %>
        <%= f.input :google_email, disabled: !policy(@user).administer? %>

        <%= f.input :phone, required: true do %>
          <div class="nested-fields">
            <div class="row">
              <div class="col-sm-4">
                <%= f.input :mobile_phone, as: :tel, wrapper: :nested_fields,
                  input_html: { value: @user.format_phone(:mobile) } %>
              </div>
              <div class="col-sm-4">
                <%= f.input :home_phone, as: :tel, wrapper: :nested_fields,
                  input_html: { value: @user.format_phone(:home) } %>
              </div>
              <div class="col-sm-4">
                <%= f.input :work_phone, as: :tel, wrapper: :nested_fields,
                  input_html: { value: @user.format_phone(:work) } %>
              </div>
            </div>
          </div>
        <% end %>

        <%= f.input :preferred_contact, collection: User::CONTACT_TYPES, prompt: :translate %>
      <% end %>

      <%= f.input :birthdate_str, as: :string %>
      <%= f.input :joined_on, as: :date_picker %>

      <% if policy(@user).administer? && @user.adult? %>
        <%= f.input :alternate_id %>
        <%= f.input :roles do %>
          <div class="roles">
            <% User::ROLES.each do |role| %>
              <% disabled = !policy(@user).grantable_roles.include?(role) %>
              <div class="role <%= disabled ? 'disabled' : '' %>">
                <label>
                  <%= f.input_field :"role_#{role}", as: :boolean, disabled: disabled %>
                  <%= t("roles.#{role}") %>
                </label>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <%= form_actions do %>
        <% if policy(@user).deactivate? && !@user.new_record? && @user.active? %>
          <%= link_to(icon_tag("times-circle") << " Deactivate User", deactivate_user_path(@user),
            class: "btn btn-default", method: :put,
            data: { confirm: I18n.t("activerecord.deact_confirms.user", name: @user.name) }) %>
        <% end %>
        <% if policy(@user).destroy? && !@user.new_record? %>
          <%= link_to(icon_tag("trash") << " Delete User", user_path(@user),
            class: "btn btn-default", method: :delete,
            data: { confirm: I18n.t("activerecord.delete_confirms.user", name: @user.name) }) %>
        <% end %>
        <%= f.button :submit, class: "btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(function(){
    new Mess.Views.Select2View({el: '.user-form'});
    var uploadView = new Mess.Views.FileUploadView(<%=json(
      el: '#user-forms',
      maxFilesize: Settings.photos.max_size / 1.megabyte
    )%>);
    new Mess.Views.DirtyChecker({el: '.user-form', helpers: [uploadView]});
  });
<% end %>
