<%= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :google_email, disabled: cannot?(:manage, @user) %>
  <%= f.input :household_id, collection: Household.sorted, disabled: cannot?(:manage, @user) %>
  <%= f.input :mobile_phone, input_html: { value: @user.format_phone(:mobile) } %>
  <%= f.input :home_phone, input_html: { value: @user.format_phone(:home) } %>
  <%= f.input :work_phone, input_html: { value: @user.format_phone(:work) } %>

  <% if can?(:manage, @user) %>
    <%= f.input :admin %>
  <% end %>

  <div class="row">
    <div class="form-actions col-sm-8">
      <%= f.button :submit, class: "pull-right btn-primary" %>
    </div>
  </div>

<% end %>
