<div class="col-sm-12">
  <%= render("shared/photo_dropzone",
    obj: user, format: :medium, width: 300, height: 300, hide_existing: true) %>
  <%= gather_form_for(user, width: :full) do |f| %>
    <%= f.hidden_field :photo_new_signed_id %>
    <%= f.hidden_field :photo_destroy %>
    <%= f.input :household_by_id, as: :hidden %>
    <%= f.button :primary %>
  <% end %>
</div>
