<table>
  <% @users.each_slice(3) do |row| %>
    <tr>
      <% row.each do |user| %>
        <td class="user">
          <%= user_photo_if_permitted(user, :medium) %>
          <div class="info">
            <div>
              <div class="unit-num"><%= user.unit_num_with_hash %></div>
              <div class="name"><%= user.name %></div>
            </div>
            <% if user.email.present? %>
              <div class="email <%= user.long_email_class %>"><%= user.email %></div>
            <% end %>
            <div class="phones">
              <%= user.phone_tags %>
            </div>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
