<% content_for(:title, "Directory") %>
<% content_for(:print_title) { "#{current_community.name} Directory" } %>
<% content_for(:action_links) do %>
  <%- concat(print_button) -%>
  <%- if policy(sample_user).create? -%>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle icon-only" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false" aria-label="Show user action dropdown menu">
    <%= icon_tag("plus") %></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to("Create Adult", new_user_path) %></li>
    <li><%= link_to("Create Child", new_user_path(child: 1)) %></li>
    <li><%= link_to("Invite To Sign In", new_people_sign_in_invitation_path) %></li>
  </ul>
</div>
  <%- end -%>
<% end %>

<% if users.empty? %>
  <div class="center-notice">
    No users found. <%= lenses.no_result_clear_filter_link %>
  </div>
<% else %>
  <% if lenses[:view].any_table? %>
    <div class="index-wrapper">
      <table id="directory-table" class="index">
        <thead>
          <tr>
            <th>Name</th>
            <th>Unit</th>
            <th>Email</th>
            <th>Mobile Phone</th>
            <th>Home Phone</th>
            <th>Work Phone</th>
            <th>Pref</th>
          </tr>
        </thead>
        <tbody>
          <% users.each do |user| %>
            <tr class="<%= user.tr_classes %>">
              <td>
                <%= link_to(user.name, user) %>
                <% if user.pronouns.present? %>
                  <span class="pronouns">(<%= user.pronouns %>)</span>
                <% end %>
              </td>
              <td><%= user.unit_link %></td>
              <td><%= user.email_link if user.email %></td>
              <% %i(mobile home work).each do |kind| %>
                <td class="phone"><%= phone_link(user.phone(kind), kind_abbrv: true) %></td>
              <% end %>
              <% if user.preferred_contact.present? %>
                <td><%= t("simple_form.options.user.preferred_contact.#{user.preferred_contact}") %></td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div id="directory-album" class="flowing-columns-max-3 hidden-print">
      <% users.each do |user| %>
        <section class="user section <%= user.active? ? "" : "inactive" %>">
          <%= link_to(user.photo_if_permitted(:thumb), user, tabindex: -1) %>
          <div class="info">
            <% if user.preferred_contact.present? %>
              <%= icon_tag(user.preferred_contact_icon,
                class: "preferred-contact", title: user.preferred_contact_tooltip) %>
            <% end %>
            <h2 class="person-name"><%= link_to(user.name, user) %></h2>
            <% if user.pronouns.present? %>
              <div class="pronouns">(<%= user.pronouns %>)</div>
            <% end %>
            <div class="email"><%= user.email_link if user.email %></div>
            <div class="unit-phone"><%= user.unit_and_phone %></div>
          </div>
        </section>
      <% end %>
    </div>
  <% end %>

  <%# Printable album gets inserted here %>
  <div id="printable-directory-album" class="visible-print">
  </div>

  <footer id="local-footer">
    <div class="row">
      <div class="col-sm-6">
        <div class="<%= "hidden-print" unless lenses[:view].tableall? %>">
          <%= gather_paginate(@users) unless lenses[:view].active_only? %>
        </div>
        <div class="visible-print"><%= generated_time %></div>
      </div>
      <div class="footer-links footer-2nd-col col-sm-6 hidden-print">
        <%= link_to(icon_tag("download") << " Download as CSV", users_path(format: :csv, view: lenses[:view].value)) %>
      </div>
    </div>
  </footer>
<% end %>

<%= javascript_tag do %>
  $(function() {
    new Gather.Views.People.DirectoryPrintView({viewType: '<%= lenses[:view].value %>'});
  });
<% end %>
