<% content_for(:title){ "Users" } %>

<% content_for(:top_buttons) do %>
  <%= link_to("Invite Users", invite_users_path, class: "btn btn-default") if can?(:create, User) %>
  <%= link_to("Create User", new_user_path, class: "btn btn-primary") if can?(:create, User) %>
<% end %>

<% if @users.empty? %>
  <div class="none-found">
    No users found.
  </div>
<% else %>
  <table class="index">
    <tr>
      <th class="col-md-2">Name</th>
      <% if can?(:manage, User) %>
        <th class="col-md-2">Household</th>
        <th class="col-md-2">Google ID</th>
      <% else %>
        <th class="col-md-2">Community</th>
      <% end %>
      <th class="col-md-2">Contact Email</th>
      <th class="col-md-3">Phone</th>
      <th class="col-md-1"></th>
    </tr>
    <% @users.each do |user| %>
      <tr class="<%= user.deleted? ? "deleted" : "" %>">
        <td class="col-md-2">
          <%= link_to(user.name, can?(:manage, User) ? edit_user_path(user) : user_path(user)) %>
          <%= icon_tag('trophy') if user.admin? %>
        </td>
        <% if can?(:manage, User) %>
          <td class="col-md-2"><%= user.household_full_name %></td>
          <td class="col-md-2">
            <%= user.google_email ? link_to(user.google_email, "mailto:#{user.google_email}") : "[None]" %>
          </td>
        <% else %>
          <td class="col-md-2"><%= user.community.name %></td>
        <% end %>
        <td class="col-md-2"><%= link_to(user.email, "mailto:#{user.email}") %></td>
        <td class="col-md-3 phones"><%= user_phones(user) %></td>
        <td class="col-md-1">
          <div class="action-icons">
            <% if can?(:update, user) %>
              <%= link_to(icon_tag('pencil'), edit_user_path(user)) %>
            <% end %>
            <% if can?(:destroy, user) && !user.deleted? %>
              <%= link_to(icon_tag('trash'), user_path(user), method: :delete) %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @users %>
<% end %>
