<% content_for(:title){ "Directory" } %>

<% content_for(:top_buttons) do %>
  <%= lens_bar %>

  <% if policy(User).create? %>
    <%= link_to(icon_tag("plus") << " Invite Users", invite_users_path, class: "btn btn-default") %>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= icon_tag("plus") %> Create User <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to("Create Adult", new_user_path) %></li>
        <li><%= link_to("Create Child", new_user_path(child: 1)) %></li>
      </ul>
    </div>
  <% end %>
<% end %>

<% if @users.empty? %>
  <div class="none-found">
    No users found<%= params[:search].blank? ? "" : " matching '#{params[:search]}'" %>.
  </div>
<% else %>
  <div class="row clearfix">
    <% @users.each do |user| %>
      <div class="col-sm-6 col-md-4 clearfix user <%= user.active? ? "" : "inactive" %>">
        <div class="inner clearfix">
          <%= link_to(image_tag(user.photo.url(:thumb)), user) %>
          <div class="info">
            <div><%= link_to(user.name, user) %></div>
            <div class="email"><%= email_link(user.email) if user.email %></div>
            <div class="unit-phone">
              <% unit = user.unit_num.nil? ? nil : link_to("##{user.unit_num}", user.household) %>
              <% phone = user.no_phones? ? nil : phone_link(user.phones.first, kind_abbrv: true) %>
              <%= [unit, phone].compact.join(" &bull; ").html_safe %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @users %>
<% end %>
