<% content_for(:title) { "Directory" } %>
<% content_for(:print_title) { "#{current_community.name} Directory" } %>

<% content_for(:top_buttons) do %>
  <% if policy(dummy_user).create? %>
    <%= print_button %>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= icon_tag("plus") %> Add User <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to("Create Adult", new_user_path) %></li>
        <li><%= link_to("Create Child", new_user_path(child: 1)) %></li>
        <li><%= link_to("Invite Users", invite_users_path) %></li>
      </ul>
    </div>
  <% end %>
<% end %>

<% if @users.empty? %>
  <div class="none-found">
    No users found<%= params[:search].blank? ? "" : " matching '#{params[:search]}'" %>.
  </div>
<% else %>
  <% if %w(table tableall).include?(lens[:user_view]) %>
    <div class="index-wrapper">
      <table class="index">
        <thead>
          <tr>
            <th>Name</th>
            <th>Unit</th>
            <th>Email</th>
            <th>Mobile Phone</th>
            <th>Home Phone</th>
            <th>Work Phone</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr class="<%= user.tr_classes %>">
              <td><%= link_to(user.name, user) %></td>
              <td><%= user.unit_link %></td>
              <td><%= email_link(user.email) if user.email %></td>
              <% %i(mobile home work).each do |kind| %>
                <td><%= phone_link(user.phone(kind), kind_abbrv: true) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="row clearfix">
      <% @users.each do |user| %>
        <div class="col-sm-6 col-md-4 clearfix user <%= user.active? ? "" : "inactive" %>">
          <div class="inner clearfix">
            <%= link_to(user_photo_if_permitted(user, :thumb), user) %>
            <div class="info">
              <div><%= link_to(user.name, user) %></div>
              <div class="email"><%= email_link(user.email) if user.email %></div>
              <div class="unit-phone"><%= user.unit_and_phone %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="index-footer row">
    <div class="col-sm-6">
      <%= paginate @users unless lens[:user_view] == "table" %>
      <div class="visible-print"><%= generated_time %></div>
    </div>
    <div class="links col-sm-6 hidden-print">
      <%= link_to(icon_tag("download") << " Download as CSV", users_path(format: :csv)) %>
    </div>
  </div>
<% end %>

<%= javascript_tag do %>
  $(function(){
    new Gather.Views.People.DirectoryPrintView();
  });
<% end %>
