<% content_for(:title){ "Directory" } %>

<% content_for(:top_buttons) do %>
  <%= lens_bar %>

  <% if policy(User).create? %>
    <%= link_to(icon_tag("plus") << " Invite Users", invite_users_path, class: "btn btn-default") %>
    <%= link_to(icon_tag("plus") << " Create User", new_user_path, class: "btn btn-primary") %>
  <% end %>
<% end %>

<% if @users.empty? %>
  <div class="none-found">
    No users found<%= params[:search].blank? ? "" : " matching '#{params[:search]}'" %>.
  </div>
<% else %>
  <table class="index">
    <tr>
      <th class="col-md-2">Name</th>
      <% if policy(User).administer? %>
        <th class="col-md-2">Household</th>
        <th class="col-md-2">Google ID</th>
      <% else %>
        <th class="col-md-2">Community</th>
      <% end %>
      <th class="col-md-2">Contact Email</th>
      <th class="col-md-3">Phone</th>
      <th class="col-md-1"></th>
    </tr>
    <% @users.each do |user| %>
      <tr class="<%= user.active? ? "" : "inactive" %>">
        <td class="col-md-2">
          <%= link_to(user.name, user) %>
        </td>
        <% if policy(User).administer? %>
          <td class="col-md-2">
            <% if policy(user.household).edit? %>
              <%= link_to(user.household_full_name, edit_household_path(user.household)) %>
            <% elsif policy(user.household).show? %>
              <%= link_to(user.household_full_name, household_path(user.household)) %>
            <% else %>
              <%= user.household_full_name %>
            <% end %>
          </td>
          <td class="col-md-2">
            <%= user.google_email ? link_to(user.google_email, "mailto:#{user.google_email}") : "[None]" %>
          </td>
        <% else %>
          <td class="col-md-2"><%= user.community.name %></td>
        <% end %>
        <td class="col-md-2"><%= link_to(user.email, "mailto:#{user.email}") %></td>
        <td class="col-md-3 phones"><%= user_phones(user) %></td>
        <td class="col-md-1">
          <div class="action-icons">
            <% if policy(user).update? %>
              <%= link_to(icon_tag('pencil'), edit_user_path(user)) %>
            <% end %>
            <% if policy(user).deactivate? && user.active? %>
              <%= link_to(icon_tag('times-circle'), deactivate_user_path(user), method: :put,
                data: { confirm: I18n.t("activerecord.deact_confirms.user", name: user.name) }) %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @users %>
<% end %>
