<% content_for(:title){ "#{@user.name}" } %>

<% content_for(:top_buttons) do %>
  <% if policy(@user).update_info? %>
    <%= link_to(icon_tag("pencil") << " Edit Profile", edit_user_path(@user), class: "btn btn-primary") %>
  <% elsif policy(@user).update_photo? %>
    <%= link_to(icon_tag("camera") << " Edit Photo", edit_user_path(@user), class: "btn btn-primary") %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4">
        <%= user_photo_if_permitted(@user, :medium) %>
        <% @user.roles.each do |role| %>
          <div class="role"><%= icon_tag("star-o") %> <%= t("roles.#{role.name}") %></div>
        <% end %>
      </div>
      <div class="col-sm-8">
        <table class="key-value key-value-full">
          <%= render("households/unit_community", household: @user.household) %>
          <% if @user.email? %>
            <tr>
              <td>Email</td>
              <td><%= @user.email_link %></td>
            </tr>
          <% end %>
          <% unless @user.no_phones? %>
            <tr>
              <td>Phone</td>
              <td class="phones">
                <%= safe_join(@user.phones.map{ |p| phone_link(p, kind_abbrv: true) }, tag(:br)) %>
              </td>
            </tr>
          <% end %>
          <% if @user.preferred_contact %>
            <tr>
              <td>Preferred Contact Method</td>
              <td><%= t("simple_form.options.user.preferred_contact.#{@user.preferred_contact}") %></td>
            </tr>
          <% end %>
          <% if policy(@user).show_personal_info? %>
            <% if @user.birthdate %>
              <tr>
                <td>Birthday</td>
                <td><%= l(@user.birthday.date, format: @user.birthday.format) %></td>
              </tr>
            <% end %>
            <% if @user.age %>
              <tr>
                <td>Age</td>
                <td><%= @user.age %></td>
              </tr>
            <% end %>
            <% if @user.joined_on %>
              <tr>
                <td>Join Date</td>
                <td><%= @user.joined_on %></td>
              </tr>
            <% end %>
          <% end %>
          <% @households_and_members.each do |household, members| %>
            <%= render("households/attribs",
                  household: household,
                  members: members,
                  context: :user,
                  child: @user.child?) %>
          <% end %>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <% if @head_cook_meals.any? %>
          <h2>Past Head Cook Meals</h2>
          <table class="index part-width">
            <tr>
              <th class="col-md-1">Date</th>
              <th class="col-md-3">Title</th>
              <th class="col-md-1">Signups</th>
            </tr>
            <% @head_cook_meals.each do |meal| %>
              <tr>
                <td class="col-md-1">
                  <%= meal.served_at.to_date.to_s(:short_date) %>
                </td>
                <td class="col-md-3">
                  <%= link_to(meal.title || "[No title]", meal) %>
                </td>
                <td class="col-md-1">
                  <%= meal.signup_count %>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
