<% content_for(:title) { "Google Drive Migration" } %>

<div class="synopsis gdrive-migration-synopsis">
  <%= render("gdrive/migration/dashboard/synopsis") %>
</div>

<h2>Owners</h2>

<%= form_tag({}, method: "post", "data-controller": "batchable-table") do %>
  <div class="batchable-table-actions">
    <%= button_tag(I18n.t("batchable_tables.actions.gdrive__migration__owners.send_request"),
          class: "btn btn-default",
          "data-scope": "gdrive__migration__owners",
          "data-key": "send_request",
          "data-action": "batchable-table#actionClicked",
          "data-submit-url": send_requests_gdrive_migration_dashboard_owners_path) %>
  </div>
  <table class="full-width">
    <tr class="superheader">
      <th></th>
      <th></th>
      <th colspan="8" class="superheader-cell">
        <div>Files</div>
      </th>
      <th colspan="2" class="superheader-cell">
        <div>Request</div>
      </th>
    </tr>
    <tr>
      <th>
        <%= check_box_tag("b_select_all", "1", false, "data-action": "batchable-table#allSelectedClicked",
              "data-batchable-table-target": "allSelected") %>
      </th>
      <th>Owner</th>
      <th>Total</th>
      <th>Pending</th>
      <th>Declined</th>
      <th>Errored</th>
      <th>Transferred</th>
      <th>Copied</th>
      <th>Ignored</th>
      <th>Disappeared</th>
      <th>Date Sent</th>
      <th>Status</th>
    </tr>
    <% @stats.owners.each do |owner| %>
      <tr>
        <td>
          <%= check_box_tag("b_ids[]", owner, false, "data-action": "batchable-table#itemClicked",
                "data-batchable-table-target": "item") %>
        </td>
        <td><%= link_to(owner, gdrive_migration_dashboard_owner_path(id: owner)) %></td>
        <td><%= link_to(number_with_delimiter(@stats.by_owner[owner]), gdrive_migration_dashboard_files_path(owner: owner)) %></td>
        <td><%= number_with_delimiter(@stats.by_owner_and_status[[owner, "pending"]]) %></td>
        <td><%= number_with_delimiter(@stats.by_owner_and_status[[owner, "declined"]]) %></td>
        <td><%= number_with_delimiter(@stats.by_owner_and_status[[owner, "errored"]]) %></td>
        <td><%= number_with_delimiter(@stats.by_owner_and_status[[owner, "transferred"]]) %></td>
        <td><%= number_with_delimiter(@stats.by_owner_and_status[[owner, "copied"]]) %></td>
        <td><%= number_with_delimiter(@stats.by_owner_and_status[[owner, "ignored"]]) %></td>
        <td><%= number_with_delimiter(@stats.by_owner_and_status[[owner, "disappeared"]]) %></td>
        <% if (request = @stats.requests_by_owner[owner]) %>
          <td>
            <%= I18n.l(request.created_at, format: :day_mo_yr_no_time) %>
          </td>
          <td>
            <% if request.pending? %>
              <%= link_to(I18n.t("gdrive.request_statuses.#{request.status}"), gdrive_migration_request_url(token: request.token)) %>
            <% else %>
              <%= I18n.t("gdrive.request_statuses.#{request.status}") %>
            <% end %>
          </td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>