<% content_for(:title) { "Google Drive Migration" } %>

<h2><%= @owner_id %></h2>
<h3>Files</h3>
<table class="key-value">
  <tr>
    <td>Total Files</td>
    <td><%= number_with_delimiter(@stats.by_owner[@owner_id]) %></td>
  </tr>
  <tr>
    <td>Pending</td>
    <td><%= number_with_delimiter(@stats.by_owner_and_status[[@owner_id, "pending"]]) %></td>
  </tr>
  <tr>
    <td>Declined</td>
    <td><%= number_with_delimiter(@stats.by_owner_and_status[[@owner_id, "declined"]]) %></td>
  </tr>
  <tr>
    <td>Errored</td>
    <td><%= number_with_delimiter(@stats.by_owner_and_status[[@owner_id, "errored"]]) %></td>
  </tr>
  <tr>
    <td>Transferred</td>
    <td><%= number_with_delimiter(@stats.by_owner_and_status[[@owner_id, "transferred"]]) %></td>
  </tr>
  <tr>
    <td>Copied</td>
    <td><%= number_with_delimiter(@stats.by_owner_and_status[[@owner_id, "copied"]]) %></td>
  </tr>
  <tr>
    <td>Ignored</td>
    <td><%= number_with_delimiter(@stats.by_owner_and_status[[@owner_id, "ignored"]]) %></td>
  </tr>
  <tr>
    <td>Disappeared</td>
    <td><%= number_with_delimiter(@stats.by_owner_and_status[[@owner_id, "disappeared"]]) %></td>
  </tr>
</table>

<h3>Requests</h3>
<table class="full-width">
  <tr>
    <th>Date Sent</th>
    <th>Status</th>
    <th>Link</th>
    <th>Opt Out Reason</th>
  </tr>
  <% @requests.each do |request| %>
    <tr>
      <td><%= I18n.l(request.created_at) %></td>
      <td><%= I18n.t("gdrive.request_statuses.#{request.status}") %></td>
      <td>
        <% if request.pending? %>
          <%= link_to("Link", gdrive_migration_request_url(token: request.token)) %>
        <% end %>
      </td>
      <td><%= request.opt_out_reason %></td>
    </tr>
  <% end %>
</table>