<% content_for(:title) { "Google Drive Migration" } %>

<h2><%= @owner_id %></h2>
<h3>Files</h3>
<table class="key-value">
  <tr>
    <td>Total Files</td>
    <td><%= number_with_delimiter(@stats.by_owner[@owner_id]) %></td>
  </tr>
  <tr>
    <td>Pending</td>
    <td><%= number_with_delimiter(@stats.by_owner_and_status[[@owner_id, "pending"]]) %></td>
  </tr>
  <tr>
    <td>Declined</td>
    <td><%= number_with_delimiter(@stats.by_owner_and_status[[@owner_id, "declined"]]) %></td>
  </tr>
  <tr>
    <td>Errored</td>
    <td><%= number_with_delimiter(@stats.by_owner_and_status[[@owner_id, "errored"]]) %></td>
  </tr>
  <tr>
    <td>Transferred</td>
    <td><%= number_with_delimiter(@stats.by_owner_and_status[[@owner_id, "transferred"]]) %></td>
  </tr>
  <tr>
    <td>Copied</td>
    <td><%= number_with_delimiter(@stats.by_owner_and_status[[@owner_id, "copied"]]) %></td>
  </tr>
  <tr>
    <td>Ignored</td>
    <td><%= number_with_delimiter(@stats.by_owner_and_status[[@owner_id, "ignored"]]) %></td>
  </tr>
  <tr>
    <td>Disappeared</td>
    <td><%= number_with_delimiter(@stats.by_owner_and_status[[@owner_id, "disappeared"]]) %></td>
  </tr>
</table>

<h3>Request</h3>
<table class="key-value">
  <tr>
    <td class="key">Date Sent</td>
    <td class="value"><%= I18n.l(migration_request.created_at) %></td>
  </tr>
  <tr>
    <td class="key">Status</td>
    <td class="value"><%= I18n.t("gdrive.request_statuses.#{migration_request.status}") %></td>
  </tr>
  <% if migration_request.active? %>
    <tr>
      <td class="key">Request Intro Page</td>
      <td class="value">
        <%= link_to("Link", gdrive_migration_request_url(token: migration_request.token)) %>
        <% if migration_request.new? %>
          <br/>Note that clicking this link will change the request to "opened" status.
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td class="key">File Drop Drive</td>
    <td class="value">
      <%= link_to(migration_request.file_drop_drive_name, migration_request.file_drop_drive_url) %>
    </td>
  </tr>
  <tr>
    <td class="key">Opt Out Reason</td>
    <td class="value"><%= migration_request.opt_out_reason %></td>
  </tr>
</table>