<%= gather_form_for(meal, class: "help-out-form", width: :full, top_error_notification: false, remote: true) do |f| %>
  <% if @household_workers.existing? %>
    <div id="household-worker-info">
      <%= t("meals.persion_is_helping", count: @household_workers.existing.size) %>:
      <ul>
        <% @household_workers.existing.each do |assign| %>
          <li>
            <%= assign.user.decorate.full_name %> - <%= assign.role_title %>&nbsp;
            <%= link_to(assign, class: "delete-assign") do %>
              <i class="fa fa-close"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @household_workers.no_open? %>
    <% unless @household_workers.existing? %>
      <%# If nothing was rendered above, show something here to populate the section. %>
      <p>This meal doesn't need any more workers.</p>
    <% end %>
  <% else %>
    <p>This meal still needs <b>2 Assistant Cooks</b>.</p>

    <% if local_assigns[:ajax_success] %>
      <div class="alert alert-success alert-minimal">Workers saved successfully</div>
    <% end %>

    <div class="help-out-fields" <%= @expand_help_out_form ? "" : "data-toggle-off=help-out-form" %>>
      <%= form_actions do %>
        <%= f.button(:primary) %>
      <% end %>
    </div>
    <% unless @expand_help_out_form %>
      <button class="btn btn-primary" data-toggle="help-out-form" data-toggle-preserve-link="false">
        Help Out
      </button>
    <% end %>

    <%= javascript_tag do %>
      $(function() {
        new Gather.Views.DirtyChecker({el: '.meals--meal-form'});
        new Gather.Views.Meals.HouseholdWorkerFormView(<%=json(
          el: ".meals--meal-form",
          notifyOnWorkerChange: !policy(meal).change_workers_without_notification?
        )%>);
      });
    <% end %>
  <% end %>
<% end %>
