<section id="meal-menu">
  <h2 class="menu-label">menu</h2>
  <%= render("meals/meals/time_cook") %>
  <div id="details">
    <% if meal.location_name %>
      <div class="chunk">
        At <%= meal.location_name %>
      </div>
    <% end %>
    <% if multi_community? %>
      <div class="chunk">
        for <%= meal.communities.map(&:name).join(', ') %>
      </div>
    <% end %>
    <% meal.assignments_by_role.each do |role, assignments| %>
      <div class="chunk">
        <%= role.title %>
        <%= "[None]" if assignments.empty? %>
        <% assignments.each do |a| %>
          <div class="job"><%= a.user.decorate.link %></div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if meal.menu_posted? %>
    <% meal.nonempty_menu_items.each do |item, text| %>
      <hr/>
      <div class="menu-label smaller"><%= item %></div>
      <section><%= safe_render_markdown(text) %></section>
    <% end %>
    <hr/>
    <div class="menu-label smaller">allergens</div>
    <section>
      <% if meal.allergens? %>
        <%= meal.allergens.join(", ") %>
      <% else %>
        [None]
      <% end %>
    </section>
    <% if meal.menu_posted_at.present? %>
      <small><br/><%= t("meals.menu_posted_at", time: l(meal.menu_posted_at)) %></small>
    <% end %>
  <% else %>
    <hr/>
    No menu posted yet.
  <% end %>
</section>
