<% highlight = :all if local_assigns[:highlight].nil? %>
<% num_cols = 7 + (multi_community? ? @communities.size : 0) %>

<table class="<%= name %> stats <%= multi_community? ? 'multi-community' : '' %>">
  <tr class="surheader">
    <th></th>
    <th colspan="3" class="totals">Totals</th>
    <th colspan="2" class="general-avg">General Averages</th>
    <% if multi_community? %>
      <th colspan="<%= @communities.size %>" class="cmty-rep">Avg. Community Representation</th>
    <% end %>
  </tr>
  <tr class="header">
    <th></th>
    <th class="totals">Meals</th>
    <th class="totals">Diners</th>
    <th class="totals">Cost</th>
    <th class="general-avg">Full Meal Price</th>
    <th class="general-avg">Diners</th>
    <% if multi_community? %>
      <% @communities.each do |community| %>
        <th class="cmty-rep"><%= community.name %></th>
      <% end %>
    <% end %>
  </tr>
  <% data.each do |period, cols| %>
    <tr class="<%= period == highlight ? %Q{highlight} : "" %>
      <%= period == :all ? "totals" : "" %>">
      <td>
        <%=
          case period
          when :all then "Total"
          when Date then I18n.l(period, format: period_format)
          else period
          end %>
      </td>

      <% if cols == {} %>
        <%= (num_cols - 1).times.map { content_tag(:td, "-") }.reduce(:<<) %>
      <% else %>
        <td class="totals"><%= number_with_delimiter(cols["ttl_meals"]) %></td>
        <td class="totals"><%= number_with_delimiter(cols["ttl_servings"]) %></td>
        <td class="totals"><%= number_to_currency(cols["ttl_cost"]) %></td>
        <td class="general-avg"><%= number_to_currency(cols["avg_max_cost"]) %></td>
        <td class="general-avg"><%= number_with_precision(cols["avg_servings"], precision: 1) %></td>
        <% if multi_community? %>
          <% @communities.each do |c| %>
            <td class="cmty-rep">
              <span title="<%= number_with_precision(cols["avg_from_#{c.id}"], precision: 1) %>">
                <%= number_to_percentage(cols["avg_from_#{c.id}_pct"], precision: 0) %>
              </span>
            </td>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
