<% content_for(:title, "Meals") %>
<% content_for(:action_links) do %>
  <%- concat(Calendars::ExportDecorator.new(current_community, current_user).legacy_export_link) %>
  <%- if policy(sample_meal).create? && policy(sample_meal).import? -%>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle icon-only" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false" aria-label="Show meal action dropdown menu">
    <%= icon_tag("plus") %></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><%= link_to("Create Meal", new_meal_path) %></li>
    <li><%= link_to("Import Meals", new_meals_import_path) %></li>
  </ul>
</div>
  <%- elsif policy(sample_meal).create? -%>
    <%- concat(link_to(icon_tag("plus") << " Create Meal", new_meal_path, class: "btn btn-primary")) %>
  <%- end -%>
<% end %>

<% if meals.empty? %>
  <div class="center-notice">
    No meals found. <%= lenses.no_result_clear_filter_link %>
  </div>
<% else %>
  <table class="index non-mobile">
    <thead>
      <tr>
        <th class="nowrap">Date/Time</th>
        <th>Location</th>
        <th>Cook</th>
        <th>Title</th>
        <th>Going?</th>
        <th>Signups</th>
      </tr>
    </thead>
    <tbody>
      <% meals.each do |meal| %>
        <tr class="<%= meal.css_classes %>">
          <td class="nowrap"><%= meal.served_at_lens_dependent(lenses[:time]) %></td>
          <td><%= meal.location_abbrv %></td>
          <td><%= meal.head_cook_name %></td>
          <td>
            <%= meal.link %>
            <%= icon_tag("lock") if meal.closed? %>
            <%= icon_tag("ban") if meal.cancelled? %>
            <%= icon_tag("certificate") if meal.finalized? %>
            <%= meal.closing_soon_pill if meal.auto_close_time_soon? %>
          </td>
          <td>
            <% if signup = meal.current_signup %>
              <% if policy(meal.sample_signup).update? %>
                <%= link_to(signup.total_diners_formatted, meal_url(meal)) %>
              <% else %>
                <%= signup.total_diners_formatted %>
              <% end %>
            <% elsif meal.full? %>
              <span class="weak">[Full]</span>
            <% elsif policy(meal.sample_signup).create? %>
              <%= signup_link(meal) %>
            <% else %>
              No
            <% end %>
          </td>
          <td><%= signup_count(meal) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="meals-list mobile">
    <% meals.each do |meal| %>
      <div class="meal <%= meal.css_classes %>">
        <h4 class="top">
          <%= meal.link %>
          <% if meal.head_cook.present? %>
            by <%= meal.head_cook_name %>
          <% end %>
          <%= icon_tag("lock") if meal.closed? %>
          <%= icon_tag("certificate") if meal.finalized? %>
          <%= icon_tag("ban") if meal.cancelled? %>
          <%= meal.closing_soon_pill if meal.auto_close_time_soon? %>
        </h4>
        <div>
          <%= icon_tag("calendar") %> <%= meal.served_at_lens_dependent(lenses[:time]) %>
          at <%= meal.location_abbrv %>
        </div>
        <div><%= signup_count(meal) %> signed up</div>
        <% if (signup = meal.current_signup) %>
          <div class="signed-up">
            <%= signup.total_diners_formatted %> signed up from your household
            <%= link_to("(Edit)", meal_url(meal)) if policy(meal.sample_signup).update? %>
          </div>
        <% elsif meal.full? %>
          <span class="weak">[Full]</span>
        <% elsif policy(meal.sample_signup).create? %>
          <%= signup_link(meal) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= gather_paginate(meals) %>
<% end %>
