<% content_for(:title, "Meal Jobs") %>

<% content_for(:top_buttons) do %>
  <%= calendar_exports_link %>
<% end %>

<% if meals.empty? %>
  <div class="center-notice">
    No jobs found<% @user ? "for #{@user.name}" : "" %>.
  </div>
<% else %>
  <div class="meals-list">
    <% meals.each do |meal| %>
      <div class="meal <%= meal.css_classes %>">
        <h4><%= meal_date_time(meal) %></h4>
        <div><%= meal_link(meal) %> at <%= meal.location_abbrv %></div>
        <% meal.roles.each do |role| %>
          <div><%= role.title %>: <%= meal.worker_links_for_role(role) %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= paginate meals %>
<% end %>

<%= javascript_tag do %>
  $(function() { new Gather.Views.AjaxSelect2({el: '.lens-bar'}); });
<% end %>
