<% content_for(:title, "Meals Report") %>

<% if meals_report.empty? %>
  <div class="center-notice">
    No matching meal data found for <%= meals_report.range_formatted %>.
    The report includes finalized meals only.
  </div>
<% else %>
  <div class="report">
    <div class="overview row">
      <div class="set col-sm-4 <%= multi_community? ? "col-sm-offset-1" : "col-sm-offset-4" %>">
        <div class="title"><%= multi_community? ? "#{@community.name} " : "" %>All-Time</div>
        <table class="numbers">
          <tr class="numbers">
            <td><%= number_with_delimiter(meals_report.overview[@community.id]["ttl_meals"]) %></td>
            <td><%= number_with_delimiter(meals_report.overview[@community.id]["ttl_servings"]) %></td>
            <td><%= number_to_currency(meals_report.overview[@community.id]["ttl_cost"]) %></td>
          </tr>
          <tr class="captions">
            <td>Meals</td>
            <td>Servings</td>
            <td>Cost</td>
          </tr>
        </table>
      </div>
      <% if multi_community? %>
        <div class="set col-sm-4 col-sm-offset-2">
          <div class="title">Overall All-Time</div>
          <table class="numbers">
            <tr class="numbers">
              <td><%= number_with_delimiter(meals_report.overview[:all]["ttl_meals"]) %></td>
              <td><%= number_with_delimiter(meals_report.overview[:all]["ttl_servings"]) %></td>
              <td><%= number_to_currency(meals_report.overview[:all]["ttl_cost"]) %></td>
            </tr>
            <tr class="captions">
              <td>Meals</td>
              <td>Servings</td>
              <td>Cost</td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2><%= meals_report.range_formatted %></h2>

        <div id="charts">
          <div class="row">
            <div id="chart1" class="col-sm-4"><svg></svg></div>
            <div id="chart2" class="col-sm-4"><svg></svg></div>
            <div id="chart3" class="col-sm-4"><svg></svg></div>
          </div>
          <div class="row">
            <div id="chart4" class="col-sm-4"><svg></svg></div>
            <div id="chart5" class="col-sm-4"><svg></svg></div>
            <div id="chart6" class="col-sm-4"><svg></svg></div>
          </div>
        </div>

        <h2 class="with-subhead">By Month</h2>
        <%= meals_report.subhead %>
        <%= render("report_main_table", name: "month",
                                        data: meals_report.by_month, period_format: :month_yr) %>

        <h2 class="with-subhead">By Weekday</h2>
        <%= meals_report.subhead %>
        <%= render("report_main_table", name: "weekday",
                                        data: meals_report.by_weekday, period_format: :weekday) %>

        <% if multi_community? %>
          <h2 class="with-subhead">By Community</h2>
          <%= meals_report.subhead(current_cmty_only: false) %>
          <%= render("report_main_table", name: "community", data: meals_report.by_community,
                                          highlight: @community.name) %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h2 class="with-subhead">By Type</h2>
        <%= meals_report.subhead %>
        <%= render("report_type_table", name: "type", data: meals_report.by_type) %>
      </div>
      <%# This report table can be empty even if the rest has data %>
      <% unless meals_report.by_category.empty? %>
        <div class="col-sm-6">
          <h2 class="with-subhead">By Category</h2>
          <%= meals_report.subhead %>
          <%= render("report_type_table", name: "category", data: meals_report.by_category) %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="footnote">
          The above statistics include finalized, non-cancelled meals only.
          There were <%= meals_report.cancelled %> cancelled meals
          <%= multi_community? ? "at #{@community.name} " : "" %>in this period.
        </div>
      </div>
    </div>
  </div>

  <%= javascript_tag do %>
    $(function() { new Gather.Views.Meals.ReportChartsView(<%=json(
      el: "#charts",
      data: meals_report.chart_data,
      cmty: @community.abbrv,
      multiCommunity: multi_community?
      )%>); });
  <% end %>
<% end %>
