<% content_for(:title, meal.title || "Untitled Meal") %>
<% content_for(:title_icons) do
  "".html_safe <<
    (meal.cancelled? ? icon_tag("ban") : "") <<
    (meal.closed? ? icon_tag("lock") : "") <<
    (meal.finalized? ? icon_tag("certificate") : "")
end %>

<% content_for(:mobile_back_link) do %>
  <%= render partial: "shared/mobile_back_link", locals: {label: "Meals", path: meals_path } %>
<% end %>

<% content_for(:action_links, meal.action_links) %>

<div class="row">
  <div class="col-sm-8">
    <%= render("meals/meals/menu") %>

    <%# We want to show these below signup form on XS screens so we include them twice with different
        visiblity classes %>
    <div class="hidden-xs">
      <%= render("who_is_going") %>
      <%= render("cost_info") unless meal.cancelled? %>
    </div>
  </div>

  <a name="signup"></a>
  <div class="signup col-sm-4">
    <% if prev_meal.present? || next_meal.present? %>
      <div class="row">
        <div class="prev-meal col-xs-6">
          <% if prev_meal.present? %>
            <% url = meal_url(prev_meal, anchor: "signup") %>
            <%= link_to(icon_tag("angle-left"), url) %>
            <div>
              <%= link_to(content_tag(:small, "Previous Meal"), url) %>
              <%= prev_meal.link(anchor: "signup") %>
              <%= link_to(content_tag(:small, prev_meal.served_at_wday_no_year), url) %>
            </div>
          <% end %>
        </div>
        <div class="next-meal col-xs-6">
          <% if next_meal.present? %>
            <% url = meal_url(next_meal, anchor: "signup") %>
            <%= link_to(icon_tag("angle-right"), url) %>
            <div>
              <%= link_to(content_tag(:small, "Next Meal"), url) %>
              <%= next_meal.link(anchor: "signup") %>
              <%= link_to(content_tag(:small, next_meal.served_at_wday_no_year), url) %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <section>
      <h2 class="top">
        Your Order
        <%= meal.closed? ? icon_tag("lock") : "" %>
      </h2>
      <%= render("meals/meals/signup_form") %>
    </section>

    <% if current_community.settings.meals.allow_job_signup_on_meal_page && !meal.in_past? %>
      <section>
        <h2>
          Helping Out
        </h2>
        <%= render("meals/meals/household_worker_form") %>
      </section>
    <% end %>

    <%# We want to show these below signup form on XS screens so we include them twice with different
        visiblity classes %>
    <div class="visible-xs-block">
      <%= render("who_is_going") %>
      <%= render("cost_info") unless meal.cancelled? %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();
  })
<% end %>
