<% content_for(:title, meal.title || "Untitled Meal") %>
<% content_for(:title_icons) do
  "".html_safe <<
    (meal.cancelled? ? icon_tag("ban") : "") <<
    (meal.closed? ? icon_tag("lock") : "") <<
    (meal.finalized? ? icon_tag("certificate") : "")
end %>

<% content_for(:top_buttons, meal.action_links) %>

<div class="row">
  <div class="col-sm-8">
    <%= render("meals/meals/menu") %>
  </div>

  <a name="signup"></a>
  <div class="signup col-sm-4">
    <div class="row">
      <div class="prev-meal col-sm-6">
        <% if prev_meal.present? %>
          <%= link_to(icon_tag("angle-left"), meal_path(prev_meal)) %>
          <div>
            <%= link_to(content_tag(:small, "Previous Meal"), meal_path(prev_meal, anchor: "signup")) %>
            <%= meal_link(prev_meal, anchor: "signup") %>
            <%= link_to(content_tag(:small, meal_date_time(prev_meal)),
                  meal_path(prev_meal, anchor: "signup")) %>
          </div>
        <% end %>
      </div>
      <div class="next-meal col-sm-6">
        <% if next_meal.present? %>
          <%= link_to(icon_tag("angle-right"), meal_path(next_meal)) %>
          <div>
            <%= link_to(content_tag(:small, "Next Meal"), meal_path(next_meal, anchor: "signup")) %>
            <%= meal_link(next_meal, anchor: "signup") %>
            <%= link_to(content_tag(:small, meal_date_time(next_meal)),
                  meal_path(next_meal, anchor: "signup")) %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render("meals/meals/signup_form") %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 who-is-going">
    <h2>Who is Going?</h2>
    <ul>
      <% if @signups.empty? %>
        Nobody, yet!
      <% else %>
        <% @signups.each do |s| %>
          <li><%= s.household.decorate.name_with_prefix %> (<%= s.total %>)</li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<% unless meal.cancelled? %>
  <div class="row">
    <div class="col-sm-12 cost-info">
      <h2>Cost</h2>
      <% if meal.finalized? || formula.fixed_meal? %>
        <div class="row">
          <div class="col-sm-4">
            <table class="key-value key-value-full">
              <% formula.defined_signup_types.each do |st| %>
                <tr>
                  <td><%= t("signups.types.#{st}") %></td>
                  <td><%= number_to_currency(cost.blank? ? @calculator.price_for(st) : cost.send(st)) %></td>
                </tr>
              <% end %>
            </table>
            <br/>
          </div>
          <div class="col-sm-4">
            <table class="key-value key-value-full">
              <tr>
                <td><%= t("activerecord.attributes.meals/cost.ingredient_cost") %></td>
                <td><%= cost.present? ? cost.ingredient_cost_formatted : "?" %></td>
              </tr>
              <tr>
                <td>
                  <%= t("activerecord.attributes.meals/formula.pantry_fee_formatted") %>
                  (Included)
                </td>
                <td><%= formula.pantry_fee_formatted %></td>
              </tr>
              <% if cost.present? && policy(meal).show_reimbursement_details? %>
                <% if formula.pantry_reimbursement? %>
                  <%# This is in here because without context an average
                      user might think it's related to pantry fee. %>
                  <tr>
                    <td><%= t("activerecord.attributes.meals/cost.pantry_cost") %></td>
                    <td><%= cost.pantry_cost_formatted %></td>
                  </tr>
                <% end %>
                <tr>
                  <td><%= t("activerecord.attributes.meals/cost.payment_method") %></td>
                  <td><%= cost.payment_method_formatted %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      <% else %>
        This meal uses a proportional formula so cost calculations will be performed after the meal has taken place and is finalized.
      <% end %>
    </div>
  </div>
<% end %>

<%= javascript_tag do %>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();
  })
<% end %>
