<div class="<%= classes.join(" ") %> <%= "hidden" if f.object.marked_for_destruction? %>">
  <%= f.hidden_field :id %>
  <div class="fields-col">
    <%= render(options[:inner_partial], f: f, options: options) %>
  </div>
  <% if options[:multiple] && !options[:enable] %>
    <% unless options[:no_remove_link] %>
      <div class="remove-link-col">
        <%= link_to_remove_association(icon_tag("trash"), f) %>
      </div>
    <% end %>
  <% elsif options[:enable] %>
    <div class="disabled">
          <label>Deactivated?</label>
          <%= f.input :deactivated, label: false, input_html: {checked: f.object.deactivated?} %>
    </div>
  <% else %>
    <%# We need a way to set the destroy flag if the object is cleared %>
    <% if options[:allow_clear] %>
      <%= f.hidden_field(:_destroy, value: f.object._destroy) %>
    <% end %>
  <% end %>
</div>
