<%= gather_form_for(formula) do |f| %>
  <%= f.input :name, maxlength: 32 %>
  <%= f.input :is_default, disabled: @force_default %>
  <%= f.hidden_field :is_default if @force_default %>
  <%= f.input :pantry_reimbursement %>
  <%= f.input :role_ids, collection: @role_options, label_method: :title_with_suffix,
        required: true, input_html: {multiple: "multiple"} %>
  <%= javascript_tag do %>
    $(function() {
      // We don't use AjaxSelect2 here since it's not an ajax-based select2.
      // We specify width 100% so that the control has the proper width when the section is toggled.
      $("#meals_formula_role_ids").select2({width: '100%'});
    });
  <% end %>
  <% if policy(formula).update_calcs? %>
    <h2>Meal Calculations</h2>
    <p class="hint"><%= t("meals/formulas.hints.meal") %></p>
    <%= f.input :meal_calc_type, collection: Meals::Formula::MEAL_CALC_TYPES %>
    <%= f.input :signup_types, required: true do %>
      <div class="formula-part-hints">
        <% Meals::Formula::MEAL_CALC_TYPES.each do |t| %>
          <%= content_tag(:p, t("meals/formulas.hints.signup_type.#{t}"), class: "hint #{t}") %>
        <% end %>
      </div>
      <div class="fields">
        <% Meals::Signup::SIGNUP_TYPES.each do |st| %>
          <%= f.input "#{st}_nice", as: :string, label: t("signups.types.#{st}") %>
        <% end %>
      </div>
    <% end %>

    <h2>Pantry Calculations</h2>
    <p class="hint"><%= t("meals/formulas.hints.pantry") %></p>
    <%= f.input :pantry_calc_type, collection: Meals::Formula::PANTRY_CALC_TYPES %>
    <%= f.input :pantry_fee_nice, as: :string %>
  <% end %>

  <%= form_actions do %>
    <%= f.button :primary %>
  <% end %>
<% end %>

<%= javascript_tag do %>
  $(function() {
    new Gather.Views.Meals.FormulaFormView({el: '.meals--formula-form'});
    new Gather.Views.DirtyChecker({el: '.meals--formula-form'});
  });
<% end %>
