<% content_for(:title, "Meal Formula: #{formula.name_with_suffix}") %>
<% content_for(:action_links, formula.action_links) %>

<% content_for(:mobile_back_link) do %>
  <%= render partial: "shared/mobile_back_link", locals: {label: "Formulas", path: meals_formulas_path } %>
<% end %>

<table class="key-value key-value-narrow">
  <tr>
    <td><%= Meals::Formula.human_attribute_name(:pantry_reimbursement) %></td>
    <td><%= formula.pantry_reimbursement? ? "Yes" : "No" %></td>
  </tr>
  <tr>
    <td><%= Meals::Formula.human_attribute_name(:role_ids) %></td>
    <td><%= formula.role_titles %></td>
  </tr>
  <tr>
    <td><%= Meals::Formula.human_attribute_name(:takeout) %></td>
    <td><%= formula.takeout? ? "Yes" : "No" %></td>
  </tr>
</table>

<h2>Meal Calculations</h2>

<table class="key-value">
  <tr>
    <td><%= t("activerecord.attributes.meals/formula.meal_calc_type") %></td>
    <td><%= t("simple_form.options.meals_formula.meal_calc_type.#{formula.meal_calc_type}") %></td>
  </tr>
  <tr>
    <td><%= t("activerecord.attributes.meals/formula.parts") %></td>
    <td>
      <div class="formula-parts">
        <div class="header">
          <div><%= t("activerecord.attributes.meals/formula_part.name") %></div>
          <div><%= t("activerecord.attributes.meals/formula_part.share_formatted") %></div>
          <div><%= t("activerecord.attributes.meals/formula_part.portion_size") %></div>
        </div>
        <% formula.parts.decorate.each do |part| %>
          <div class="formula-part">
            <div><%= part.name %></div>
            <div><%= part.share_formatted %></div>
            <div><%= part.portion_size_short_name %></div>
          </div>
        <% end %>
      </div>
    </td>
  </tr>
</table>

<h2>Pantry Calculations</h2>

<table class="key-value key-value-narrow">
  <tr>
    <td><%= t("activerecord.attributes.meals/formula.pantry_calc_type") %></td>
    <td><%= t("simple_form.options.meals_formula.pantry_calc_type.#{formula.pantry_calc_type}") %></td>
  </tr>
  <tr>
    <td><%= t("activerecord.attributes.meals/formula.pantry_fee") %></td>
    <td><%= formula.pantry_fee_formatted %></td>
  </tr>
</table>
