<% content_for(:title){ "Account Statement ##{@statement.id.to_s.rjust(5, '0')}" } %>

<table class="key-value">
  <tr>
    <td>Date</td>
    <td>
      <%= @statement.created_on.to_s(:short_date) %>
    </td>
  </tr>
  <tr>
    <td>Previous Statement Date</td>
    <td>
      <%= @statement.prev_stmt_on.try(:to_s, :short_date) || "None" %>
    </td>
  </tr>
  <tr>
    <td>Household</td>
    <td>
      <%= @statement.household_full_name %>
    </td>
  </tr>
</table>

<table class="index">
  <tr>
    <th class="col-md-1">Date</th>
    <th class="col-md-1">Type</th>
    <th class="col-md-4">Description</th>
    <th class="col-md-1">Amount</th>
  </tr>
  <tr>
    <td class="col-md-1"></td>
    <td class="col-md-1"></td>
    <td class="col-md-4">Previous balance</td>
    <td class="col-md-1"><%= currency_with_cr(@statement.prev_balance) %></td>
  </tr>
  <% if @statement.line_items.empty? %>
    <tr>
      <td class="col-md-7 no-items" colspan="4">
        There are no new charges or credits on this statement. Please pay the outstanding balance below. Thanks!
      </td>
    </tr>
  <% else %>
    <% @statement.line_items.each do |li| %>
      <tr>
        <td class="col-md-1"><%= li.incurred_on.to_s(:short_date) %></td>
        <td class="col-md-1"><%= t("line_item_codes.#{li.code}") %></td>
        <td class="col-md-4">
          <% if li.statementable.present? %>
            <%= link_to(li.description, polymorphic_path(li.statementable)) %>
          <% else %>
            <%= li.description %>
          <% end %>
        </td>
        <td class="col-md-1"><%= currency_with_cr(li.amount) %></td>
      </tr>
    <% end %>
  <% end %>
  <tr class="total">
    <td class="col-md-6" colspan="3">Total Due</td>
    <td class="col-md-1"><%= number_to_currency(@statement.total_due) %></td>
  </tr>
</table>