<% content_for(:title){ "Statement ##{@statement.id.to_s.rjust(5, '0')}" } %>

<table class="key-value">
  <tr>
    <td>Household</td>
    <td>
      <%= @statement.household_full_name %>
    </td>
  </tr>
  <tr>
    <td>Date</td>
    <td>
      <%= @statement.created_on.to_s(:short_date) %>
    </td>
  </tr>
  <tr>
    <td>Previous Statement</td>
    <td>
      <%= @statement.prev_stmt_on.try(:to_s, :short_date) || "None" %>
    </td>
  </tr>
  <tr>
    <td>Previous Balance</td>
    <td>
      <%= currency_with_cr_span(@statement.prev_balance) %>
    </td>
  </tr>
  <tr>
    <td>Total Charges</td>
    <td>
      <%= currency_with_cr_span(@charges.sum(&:amount)) %>
    </td>
  </tr>
  <tr>
    <td>Total Payments/Credits</td>
    <td>
      <%= currency_with_cr_span(@credits.sum(&:amount)) %>
    </td>
  </tr>
  <tr>
    <td>New Balance</td>
    <td>
      <strong><%= currency_with_cr_span(@statement.total_due) %></strong>
    </td>
  </tr>
</table>

<% if @statement.line_items.empty? %>
  <p>
    There are no new charges or credits on this statement.
    <% if @statement.total_due > 0 %>
      Please pay the outstanding balance above. Thanks!
    <% else %>
      Please note your credit balance above.
    <% end %>
  </p>
<% end %>

<% if @charges.any? %>
  <h4>Charges</h4>
  <table class="index charges">
    <%= render("line_items/charge_header") %>
    <% @charges.each do |li| %>
      <%= render("line_items/charge_row", txn: li) %>
    <% end %>
  </table>
<% end %>

<% if @credits.any? %>
  <h4>Payments/Credits</h4>
  <table class="index credits">
    <%= render("line_items/credit_header") %>
    <% @credits.each do |li| %>
      <%= render("line_items/credit_row", txn: li) %>
    <% end %>
  </table>
<% end %>