<% content_for(:title){ "Statement ##{@statement.id.to_s.rjust(5, '0')}" } %>

<table class="key-value">
  <tr>
    <td>Community Account</td>
    <td>
      <%= @community.name %>
    </td>
  </tr>
  <tr>
    <td>Household</td>
    <td>
      <%= @statement.household_full_name %>
    </td>
  </tr>
  <tr>
    <td>Date</td>
    <td>
      <%= @statement.created_on.to_s(:short_date) %>
    </td>
  </tr>
</table>

<% if @statement.transactions.empty? %>
  <p class="inner">
    There are no new charges or credits on this statement.
    <% if @statement.total_due > 0 %>
      Please pay the outstanding balance below. Thanks!
    <% else %>
      Please note your credit balance below.
    <% end %>
  </p>
<% else %>
  <%= render("transactions/charges_and_credits") %>
<% end %>


<h4 class="inner">Summary</h4>

<table class="key-value">
  <tr>
    <td>Previous Balance</td>
    <td>
      <%= currency_with_cr_span(@statement.prev_balance) %>
    </td>
  </tr>
  <tr>
    <td>Total Payments/Credits</td>
    <td>
      <%= currency_with_cr_span(@statement.total_credits) %>
    </td>
  </tr>
  <tr>
    <td>Total Charges</td>
    <td>
      <%= currency_with_cr_span(@statement.total_charges) %>
    </td>
  </tr>
  <tr>
    <td><strong>Pay This Amount</strong></td>
    <td>
      <strong><%= currency_with_cr_span(@statement.total_due) %></strong>
    </td>
  </tr>
  <% if @statement.due_on %>
    <tr>
      <td>Due Date</td>
      <td>
        <%= @statement.due_on.to_s(:short_date) %>
      </td>
    </tr>
  <% end %>
</table>

<div class="summary">
  <% if @statement.total_due > 0 %>
    <%= icon_tag("warning") %> Please pay
    <% if @statement.due_on.present? %>
      <%= number_to_currency(@statement.total_due) %> by <%= @statement.due_on.to_s(:short_date) %>. Thanks!
    <% else %>
      <%= number_to_currency(@statement.total_due) %>. Thanks!
    <% end %>
  <% elsif @statement.total_due == 0 %>
    <%= icon_tag("info-circle") %> Your account balance is zero. Nice job!
  <% else %>
    <%= icon_tag("info-circle") %> Your account has a credit of
    <%= number_to_currency(-@statement.total_due) %>. No payment necessary!
  <% end %>
</div>

<% if @community.settings[:payment_instructions] %>
  <h4 class="inner">Payment Instructions</h4>
  <%= simple_format(@community.settings[:payment_instructions]) %>
<% end %>
