<% if with_form %>
  <%= form_tag(wiki_page_compare_path(page), method: :get) %>
<% end %>

<table class="index versions">
  <tr>
    <th>Version</th>
    <th>Date</th>
    <th>Author</th>
    <th>Comment</th>
  </tr>
  <% versions.each do |v| %>
    <tr>
      <td class="radios">
        <div class="number"><%= v.number %></div>
        <% if with_form %>
          <input type="radio" name="old" value="<%=v.number%>" <%= 'checked="true" ' if v == versions[-1] %>/>
          <input type="radio" name="new" value="<%=v.number%>" <%= 'checked="true" ' if v == versions[-2] %>/>
        <% end %>
      </td>
      <td class="timestamp"><%= l(v.updated_at, format: :full_datetime) %></td>
      <td class="updater"><%= v.updator_name %></td>
      <td><%= v.comment %></td>
    </tr>
  <% end %>
</table>

<% if with_form %>
    <%= submit_tag("Compare Selected", name: nil, class: "btn btn-primary") %>
    <%= link_to("Return to Page", wiki_page_path(page), class: "btn btn-default") %>
  </form>
<% end %>
