<% content_for(:title, "Wiki Compare: #{page.title}") %>

<h2>Differences Between Versions <%= @old_version.number %> and <%= @new_version.number %></h2>
<%= page.diff(@old_version, @new_version) %>

<h2>Versions Between <%= @old_version.number %> and <%= @new_version.number %></h2>
<%= page.history(versions) %>
