<% content_for(:title) { "Google Drive Migration" } %>

<div class="synopsis gdrive-migration-synopsis">
  <%= render("gdrive/migration/dashboard/synopsis") %>
</div>

<h2>Files</h2>
<table class="full-width">
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Modified</th>
    <th>Status</th>
    <% if @any_errors %>
      <th>Error</th>
    <% end %>
  </tr>
  <% @files.each do |file| %>
    <tr>
      <td>
        <%= image_tag(file.icon_link, class: "file-icon", alt: "File icon") %>
        <%= link_to(file.name, file.web_view_link, target: "_blank") %>
      </td>
      <td><%= link_to(file.owner, gdrive_migration_dashboard_owner_path(id: file.owner)) %></td>
      <td><%= I18n.l(file.modified_at, format: :day_mo_yr_no_time) %></td>
      <td>
        <% status_str = I18n.t("simple_form.options.gdrive_migration.status.#{file.status}") %>
        <% if file.declined? %>
          <%= link_to(status_str, gdrive_migration_dashboard_owner_path(file.owner)) %>
        <% elsif file.transferred? && file.migrated_parent_id? %>
          <%= link_to(status_str, "https://drive.google.com/drive/folders/#{file.migrated_parent_id}") %>
        <% else %>
          <%= status_str %>
        <% end %>
      </td>
      <% if @any_errors %>
        <td>
          <%= t("gdrive.migration.errors.#{file.error_type}") if file.errored? %>
        </td>
    <% end %>
    </tr>
  <% end %>
</table>

<%= gather_paginate(@files) %>