<% content_for(:title, group.name_with_suffix) %>
<% content_for(:action_links, group.action_links) %>

<% content_for(:mobile_back_link) do %>
  <%= render partial: "shared/mobile_back_link", locals: {label: "Groups", path: groups_groups_path } %>
<% end %>

<%= simple_format(group.description) %>

<table class="key-value key-value-full">
  <tr>
    <td><%= Groups::Group.human_attribute_name(:kind) %></td>
    <td><%= I18n.t("simple_form.options.groups_group.kind.#{group.kind}") %></td>
  </tr>
  <% if group.multi_community? %>
    <tr>
      <td><%= Groups::Group.human_attribute_name(:communities) %></td>
      <td><%= @communities.map(&:name).join(", ") %></td>
    </tr>
  <% end %>
  <tr>
    <td><%= Groups::Group.human_attribute_name(:availability) %></td>
    <td>
      <strong><%= I18n.t("simple_form.options.groups_group.availability.#{group.availability}") %></strong>
      <p><small><%= group.availability_hint %></small></p>
    </td>
  </tr>
  <tr>
    <td><%= Groups::Group.human_attribute_name(:managers) %></td>
    <td><%= group.user_list(:manager) %></td>
  </tr>
  <tr>
    <td><%= Groups::Group.human_attribute_name(:members) %></td>
    <td>
      <div class="flowing-columns-max-4">
        <%= group.user_list(:member) %>
        <%= group.user_list(:opt_out, show_none: false) %>
      </div>
    </td>
  </tr>
</table>

<h2>Email List</h2>
<% if mailman_list %>
  <table class="key-value key-value-full">
    <tr>
      <td><%= Groups::Mailman::List.human_attribute_name(:address) %></td>
      <td><%= link_to(mailman_list.fqdn_listname, "mailto:#{mailman_list.fqdn_listname}") %></td>
    </tr>
    <tr>
      <td>Links</td>
      <td>
        <%= link_to("List Archives", mailman_list.archives_url) %> &bull;
        <%= link_to("List Panel", mailman_list.panel_url) %>
      </td>
    </tr>
    <% if mailman_list.additional_members.present? %>
      <tr>
        <td><%= Groups::Mailman::List.human_attribute_name(:additional_members) %></td>
        <td>
          <div class="flowing-columns-max-4">
            <%= mailman_list.additional_members_ul %>
          </div>
          <p><small>
            All group members above are automatically members of the list.
            These addresses are also members.
          </small></p>
        </td>
      </tr>
    <% end %>
    <% if mailman_list.additional_senders.present? %>
      <tr>
        <td><%= Groups::Mailman::List.human_attribute_name(:additional_senders) %></td>
        <td>
          <div class="flowing-columns-max-4">
            <%= mailman_list.additional_senders_ul %>
          </div>
          <p><small>
            These additional senders can send to the list but don't receive mail from it.
          </small></p>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>Last Sync Time</td>
      <td>
        <%= l(group.mailman_list.last_synced_at) %>
        <p><small>
          Changes in Gather automatically sync to the mailing list system, but changes made in the mailing list
          panel do not sync automatically.
          <% if mailman_list.additional_members.present? || mailman_list.additional_senders.present? %>
            This includes the list of additional members/senders above.
          <% end %>
          <%= link_to("Sync Now", sync_groups_mailman_list_path(group.mailman_list), method: :post) %>
          to get the freshest information.
        </small></p>
      </td>
    </tr>
  </table>
<% else %>
  This group has no attached email list.
<% end %>
