<% content_for(:title, I18n.t("titles.meals/messages")) %>

<%= gather_form_for(@message, url: meal_messages_path) do |f| %>
  <%= f.hidden_field :kind %>
  <%= f.hidden_field :recipient_type %><%# In case disabled below %>

  <%= f.input :meal do %>
    <%= @meal.title_or_no_title %>
    <div class="detail"><%= l(@meal.served_at) %></div>
  <% end %>

  <%= f.input :recipient_type, collection: Meals::Message::RECIPIENT_TYPES,
    disabled: @message.cancellation? %>
  <%= f.input :body %>

  <%= form_actions do %>
    <%= f.button :primary %>
  <% end %>

  <%= javascript_tag do %>
    $(function() {
      new Gather.Views.DirtyChecker({el: '.meals--message-form'});
    });
  <% end %>
<% end %>
