<% content_for(:title, "Reservation: #{reservation.name}") %>
<% content_for(:top_buttons, reservation.action_links) %>

<table class="key-value key-value-wide">
  <tr>
    <td>Resource</td>
    <td>
      <%= image_tag(resource.photo.url(:thumb)) %><br/>
      <%= resource.name %>
    </td>
  </tr>
  <tr>
    <td>Date/Time</td>
    <td><%= reservation.timespan %></td>
  </tr>
  <% if meal %>
    <tr>
      <td>Meal</td>
      <td>
        <% if policy(meal).show? %>
          <%= link_to(meal.title_or_no_title, meal_path(meal)) %>
        <% else %>
          <%= meal.title_or_no_title %>
        <% end %>
      </td>
    </tr>
  <% else %>
    <tr>
      <td>Reserved By</td>
      <td><%= reservation.reserver.decorate.link(show_cmty_if_foreign: true) %></td>
    </tr>
  <% end %>
  <% if reservation.sponsor %>
    <tr>
      <td>Sponsor</td>
      <td><%= reservation.sponsor.decorate.link(show_cmty_if_foreign: true) %></td>
    </tr>
  <% end %>
  <% if reservation.displayable_kind? %>
    <tr>
      <td>Type</td>
      <td><%= reservation.kind %></td>
    </tr>
  <% end %>
  <% if reservation.note %>
    <tr>
      <td>Note</td>
      <td><%= reservation.rendered_note %></td>
    </tr>
  <% end %>
</table>
