<div class="row" id="calendar-forms">
  <div class="col-sm-3 col-sm-push-9">
    <%= render("shared/dropzone", obj: calendar, attrib: :photo, format: :thumb) %>
  </div>

  <div class="col-sm-9 col-sm-pull-3">
    <%= gather_form_for(calendar, url: calendar.submission_url, width: :full) do |f| %>
      <%= f.hidden_field :photo_new_signed_id %>
      <%= f.hidden_field :photo_destroy %>
      <%= f.input :name, maxlength: 24 %>
      <%= f.input :abbrv, maxlength: 6 %>
      <%= f.input :group_id, collection: @group_options, include_blank: "[None]" %>
      <%= f.input :color, required: true do %>
        <%= f.input_field(:color, class: "form-control") %>
        <div class="swatches">
          <% Calendars::Calendar::COLORS.in_groups(2).each do |colors| %>
            <div class="swatch-row">
              <% colors.each do |color| %>
                <%= calendar.swatch_with_x(color, @least_used_colors) %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= f.input :meal_hostable, as: :select, required: true unless calendar.system? %>
      <%= f.input :default_calendar_view, collection: Calendars::Calendar::DEFAULT_CALENDAR_VIEWS,
        required: true %>
      <%= f.input :guidelines, as: :markdown, input_html: {class: "longer"} unless calendar.system? %>
      <%= f.input :allow_overlap, as: :boolean unless calendar.system? %>

      <%= form_actions do %>
        <%= f.button :primary %>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(function() {
    window.uploadView = new Gather.Views.FileUploadView(<%=json(
      el: '#calendar-forms',
      maxSize: @max_photo_size
    )%>);
    new Gather.Views.Calendars.ColorFieldView({el: '.calendars_calendar_color'})
    new Gather.Views.DirtyChecker({el: '.calendars--calendar-form', helpers: [uploadView]});
  });
<% end %>
