<% content_for(:title){ "Reservations: #{@resource.full_name}" } %>

<% content_for(:top_buttons) do %>
  <% if @resource && policy(Reservation::Reservation).create? %>
    <%= link_to(icon_tag("plus") << " Create Reservation",
      new_reservation_path_for_resource(@resource),
      class: "btn btn-default") %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-lg-2 sidebar">
    <%= image_tag(@resource.photo.url(:thumb)) %><br/><br/>
    <small>Other Resources</small>
    <ul class="no-marker">
      <% @other_resources.each do |resource| %>
        <li><%= link_to(resource.name, reservations_path_for_resource(resource)) %></li>
      <% end %>
    </ul>
    <br/>
    <small>Other Communities</small>
    <ul class="no-marker">
      <% @other_communities.each do |community| %>
        <li><%= link_to(community.name, reservations_path_for_community(community)) %></li>
      <% end %>
    </ul>
  </div>
  <div id="calendar-col" class="col-lg-10">
    <div id="calendar"></div>

    <div id="create-confirm-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create Reservation?</h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= javascript_tag do %>
  $(function(){
    new Mess.Views.ReservationCalendarView({
      el: '#calendar-col',
      feedUrl: <%=json reservations_path_for_resource(@resource) %>,
      newUrl: <%=json new_reservation_path_for_resource(@resource) %>,
      focusDate: <%=json params[:date] %>
    });
  });
<% end %>