<% content_for(:title){ "Reservations" } %>

<% content_for(:top_buttons) do %>
  <% if policy(Reservation::Reservation).create? %>
    <%= link_to(icon_tag("plus") << " Create Reservation",
      new_reservation_path_for_resource(@resources.first),
      class: "btn btn-primary") %>
  <% end %>
<% end %>

<form class="form-inline index-filter">
  <%= label_tag("community", "Community:") %>
  <%= select_tag("community",
    options_from_collection_for_select(@communities, "abbrv", "name", @community.abbrv),
    class: "form-control",
    onchange: "window.location.href = '/reservations/' + $(this).val().toLowerCase()") %>
</form>

<% @resources.each do |resource| %>
  <div class="resource">
    <%= link_to(reservations_path_for_resource(resource)) do %>
      <%= image_tag(resource.photo.url(:thumb)) %>
      <%= resource.name %>
    <% end %>
  </div>
<% end %>