<ul class="no-bullets <%= local_assigns[:nested] ? "nested" : "calendar-list" %>">
  <% nodes.each do |node, children| %>
    <li>
      <% if node.group? %>
        <% next if children.empty? %>
        <div class="group"><%= node.name %></div>
        <%= render("calendars/calendar_list", local_assigns.merge(nodes: children, nested: true)) %>
      <% else %>
        <div class="calendar">
          <% unless local_assigns[:checkboxes] == false %>
            <label>
              <%= check_box_tag("calendar", node.id, false, autocomplete: "off") %>
          <% end %>
          <%= node.swatch %>
          <%= link_to(node.name, calendar_events_path(node), class: "calendar-link") %>
          <% unless local_assigns[:checkboxes] == false %>
            </label>
          <% end %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
