<%= simple_form_for(@meal, html: { class: 'form-horizontal meals-form' }) do |f| %>

  <%= base_error(f) %>

  <% if policy(@meal).administer? %>

    <%= f.input :served_at, as: :datetime_picker,
      input_html: {data: {date_options: @min_date.present? ? {minDate: @min_date} : {}}} %>

    <%= f.input :resource_ids, collection: @resource_options, label_method: :full_name, required: true,
      input_html: { multiple: "multiple" } %>

  <% else %>

    <%= f.input :served_at do %>
      <%= @meal.served_at.to_formatted_s(:full_datetime) %>
    <% end %>

    <%= f.input :resource_ids do %>
      <%= @meal.location_name %>
    <% end %>

  <% end %>

  <% if policy(@meal).set_menu? %>

    <div class="form-group text optional
      <%= @meal.errors['invitations'].present? ? "has-error" : "" %>">
      <label class="text optional col-sm-2 control-label" for="meal_invitations">Communities</label>
      <div class="boxes col-sm-6">
        <% @communities.each do |c| %>
          <% checked = community_invited?(@meal, c) %>
          <% disabled = disable_community_checkbox?(@meal, c) %>
          <%= check_box_tag("meal[community_boxes][#{c.id}]", "1", checked, disabled: disabled) %>
          <%= hidden_field_tag("meal[community_boxes][#{c.id}]", "1") if disabled %>
          <%= label_tag("meal[community_boxes][#{c.id}]", c.name) %>
          &nbsp;&nbsp;
        <% end %>
      </div>
      <% if @meal.errors['invitations'].present? %>
        <div class="help-block col-sm-6 col-sm-offset-2"><%= @meal.errors['invitations'].join %></div>
      <% end %>
    </div>

  <% else %>

    <%= f.input :communities do %>
      <%= @meal.communities.map(&:name).join(", ") %>
    <% end %>

  <% end %>

  <% if policy(@meal).set_menu? %>
    <%= f.input :capacity, min: 1 %>
  <% else %>
    <%= f.input :capacity do %><%= @meal.capacity %><% end %>
  <% end %>

  <% if policy(@meal).administer? %>
    <%= f.input :discount, min: 0, max: 100 %>
  <% end %>

  <div id="assignment_fields">

    <%= f.simple_fields_for :head_cook_assign, @meal.head_cook_assign do |head_cook| %>
      <%= render('head_cook_assign_fields', f: head_cook) %>
    <% end %>

    <%= f.simple_fields_for :asst_cook_assigns do |asst_cook| %>
      <%= render('asst_cook_assign_fields', f: asst_cook) %>
    <% end %>

    <!-- Can't use class="row" as it breaks cocoon -->
    <div class="links col-sm-10 col-sm-offset-2">
      <%= link_to_add_association 'Add Assistant Cook', f, :asst_cook_assigns %>
    </div>

    <% if @meal.host_community.settings[:has_table_setters] %>

      <%= f.simple_fields_for :table_setter_assigns do |table_setter| %>
        <%= render('table_setter_assign_fields', f: table_setter) %>
      <% end %>

      <div class="links col-sm-10 col-sm-offset-2">
        <%= link_to_add_association 'Add Table Setter', f, :table_setter_assigns %>
      </div>

    <% end %>

    <%= f.simple_fields_for :cleaner_assigns do |cleaner| %>
      <%= render('cleaner_assign_fields', f: cleaner) %>
    <% end %>

    <div class="links col-sm-10 col-sm-offset-2">
      <%= link_to_add_association 'Add Cleaner', f, :cleaner_assigns %>
    </div>
  </div>

  <% %w(title entrees side kids dessert notes).each do |attrib| %>
    <% if policy(@meal).set_menu? %>
      <%= f.input attrib %>
    <% else %>
      <%= f.input attrib do %><%= (a = f.object[attrib]) ? a : "[None]" %><% end %>
    <% end %>
  <% end %>

  <div class="form-group text optional meal_allergens
    <%= @meal.errors['allergens'].present? ? "has-error" : "" %>">
    <label class="text optional col-sm-2 control-label" for="meal_allergens">Allergens</label>
    <div class="boxes col-sm-6">
      <% sorted_allergens.each do |allergen| %>
        <div>
          <%= f.check_box("allergen_#{allergen}", disabled: !policy(@meal).set_menu?) %>
          <%= f.label("allergen_#{allergen}")%>
        </div>
      <% end %>
    </div>
    <% if @meal.errors['allergens'].present? %>
      <div class="help-block col-sm-6 col-sm-offset-2"><%= @meal.errors['allergens'].join %></div>
    <% end %>
  </div>

  <div class="row">
    <div class="form-actions col-sm-8">
      <%= f.button :submit, class: "pull-right btn-primary" %>
    </div>
  </div>

<% end %>


<%= javascript_tag do %>
  $(function(){
    new Mess.Views.Select2View({el: '.meals-form'});
    $("#meal_resource_ids").select2();

    <% if @notify_on_worker_change %>
      new Mess.Views.WorkerChangeNotificationView({el: '#assignment_fields'});
    <% end %>
  });
<% end %>
