<div id="meal-menu">
  <div class="menu-label">menu</div>
  <%= render("meals/time_cook") %>
  <div id="details">
    <div class="chunk">
      At <%= @meal.location_name %>
    </div>
    <div class="chunk">
      for <%= @meal.communities.map(&:name).join(', ') %>
    </div>
    <div class="chunk">
      Assistants:
      <%= "[None]" if @meal.asst_cooks.empty? %>
      <% @meal.asst_cooks.each do |u| %>
        <div class="job"><%= user_link(u) %></div>
      <% end %>
    </div>
    <% if @meal.host_community.settings[:has_table_setters] %>
      <div class="chunk">
        Table Setters:
        <%= "[None]" if @meal.table_setters.empty? %>
        <% @meal.table_setters.each do |u| %>
          <div class="job"><%= user_link(u) %></div>
        <% end %>
      </div>
    <% end %>
    <div class="chunk">
      Cleaners:
      <%= "[None]" if @meal.cleaners.empty? %>
      <% @meal.cleaners.each do |u| %>
        <div class="job"><%= user_link(u) %></div>
      <% end %>
    </div>
  </div>
  <% if @meal.menu_posted? %>
    <% @meal.nonempty_menu_items.each do |item, text| %>
      <hr/>
      <div class="menu-label smaller"><%= item %></div>
      <section><%= simple_format(text) %></section>
    <% end %>
    <hr/>
    <div class="menu-label smaller">allergens</div>
    <section>
      <% if @meal.any_allergens? %>
        <%= @meal.allergens.map{ |a| t("activerecord.attributes.meal.allergen_#{a}") }.join(", ") %>
      <% else %>
        [None]
      <% end %>
    </section>
  <% else %>
    <hr/>
    No menu posted yet.
  <% end %>
</div>