<div id="meal-menu">
  <div class="menu-label">menu</div>
  <%= render("time_cook") %>
  <div id="details">
    <div class="chunk">
      At <%= @meal.location_name %>
    </div>
    <div class="chunk">
      for <%= @meal.communities.map(&:name).join(', ') %>
    </div>
    <div class="chunk">
      Assistants:
      <%= "[None]" if @meal.asst_cooks.empty? %>
      <% @meal.asst_cooks.each do |u| %>
        <div class="job"><%= user_link(u) %></div>
      <% end %>
    </div>
    <div class="chunk">
      Cleaners:
      <%= "[None]" if @meal.cleaners.empty? %>
      <% @meal.cleaners.each do |u| %>
        <div class="job"><%= user_link(u) %></div>
      <% end %>
    </div>
  </div>
  <% @meal.nonempty_menu_items.each do |item, text| %>
    <hr/>
    <div class="menu-label smaller"><%= item %></div>
    <section><%= simple_format(text) %></section>
  <% end %>
  <hr/>
  <div class="menu-label smaller">allergens</div>
  <section>
    <%= @meal.allergens.map{ |a| t("activerecord.attributes.meal.allergen_#{a}") }.join(", ") %>
  </section>
</div>