<% highlight = :all if local_assigns[:highlight].nil? %>
<% num_cols = 7 + @report.diner_types.size + (multi_community? ? @communities.size : 0) %>

<table class="<%= name %> stats">
  <tr>
    <th colspan="5"></th>
    <% if multi_community? %>
      <th colspan="<%= @communities.size %>">Avg. Community Representation</th>
    <% end %>
    <th colspan="<%= @report.diner_types.size %>">Avg. Diner Types</th>
    <th colspan="2"></th>
  </tr>
  <tr>
    <th></th>
    <th>Meals</th>
    <th>Avg. Adult Cost</th>
    <th>Avg. Diners</th>
    <th>Avg. Veg. Diners</th>
    <% if multi_community? %>
      <% @communities.each do |community| %>
        <th><%= community.name %></th>
      <% end %>
    <% end %>
    <% @report.diner_types.each do |dt| %>
      <th><%= I18n.t("signups.diner_types.#{dt}", count: 2) %></th>
    <% end %>
    <th>Total Diners</th>
    <th>Total Cost</th>
  </tr>
  <% data.each do |period, cols| %>
    <tr <%= period == highlight ? %Q{class=highlight} : "" %>>
      <td>
        <%=
          case period
          when :all then "Total"
          when Date then I18n.l(period, format: period_format)
          else period
          end %>
      </td>

      <% if cols == {} %>
        <%= (num_cols - 1).times.map { content_tag(:td, "-") }.reduce(:<<) %>
      <% else %>
        <td><%= number_with_delimiter(cols["ttl_meals"]) %></td>
        <td><%= number_to_currency(cols["avg_adult_cost"]) %></td>
        <td><%= number_with_precision(cols["avg_diners"], precision: 1) %></td>
        <td>
          <%= number_with_precision(cols["avg_veg"], precision: 1) %>
          (<%= number_to_percentage(cols["avg_veg_pct"], precision: 0) %>)
        </td>
        <% if multi_community? %>
          <% @communities.each do |c| %>
            <td>
              <%= number_with_precision(cols["avg_from_#{c.abbrv.downcase}"], precision: 1) %>
              (<%= number_to_percentage(cols["avg_from_#{c.abbrv.downcase}_pct"], precision: 0) %>)
            </td>
          <% end %>
        <% end %>
        <% @report.diner_types.each do |dt| %>
          <td>
            <%= number_with_precision(cols["avg_#{dt}"], precision: 1) %>
            (<%= number_to_percentage(cols["avg_#{dt}_pct"], precision: 0) %>)
          </td>
        <% end %>
        <td><%= number_with_delimiter(cols["ttl_diners"]) %></td>
        <td><%= number_to_currency(cols["ttl_cost"]) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
