<h2>
  Signups for <%= @household.name %>
  <%= @meal.closed? ? icon_tag("lock") : "" %>
</h2>
<% if @account.present? && @account.credit_exceeded? && @signup.new_record? %>
  <%= t("meals.over_limit_notice_html", community: @meal.community.name,
    account_link: link_to("account",
      accounts_household_path(current_user.household, community: @meal.community_id)),
    limit: number_to_currency(@account.credit_limit)) %>
<% elsif @signup.new_record? && @meal.full? %>
  You have not signed up for this meal and it is now full. You can check back later to see if a spot opens up.
<% elsif @signup.new_record? && @meal.closed? %>
  You have not signed up for this meal and it is now closed.
<% else %>
  <%= gather_form_for(@signup, width: :full, layout: :vertical) do |f| %>
    <%= hidden_field_tag("next_meal_id", @next_meal.try(:id)) %>
    <%= f.input :meal_id, as: :hidden %>
    <%= base_error(f, full_width: true) %>

    <p>
      <%= icon_tag("exclamation-circle") if @meal.full? %>
      <%= t("meals.spots_left", count: @meal.spots_left) %>
    </p>

    <div class="signup-fields">
      <%= render("meals/form/signup_fields", f: f, hide_household: true) %>
    </div>

    <% if policy(@signup).update? %>
      <%= f.input :comments, maxlength: Signup::MAX_COMMENT_LENGTH %>
    <% else %>
      <%= f.input :comments do %>
        <%= simple_format(@signup.comments) %>
      <% end %>
    <% end %>

    <% if policy(@signup).update? %>
      <%= form_actions do %>
        <% if @next_meal %>
          <%= f.button :secondary, t("helpers.submit.signup.save_and_next"), name: "save_and_next" %>
        <% end %>
        <%= f.button :primary %>
      <% end %>
    <% end %>
  <% end %>

  <%= javascript_tag do %>
    $(function() {
      new Gather.Views.DirtyChecker({el: '.signup-form'});
      new Gather.Views.Meals.SignupView({el: '.signup-fields'});
    });
  <% end %>
<% end %>
