<% content_for(:title){ "Meals" } %>

<div class="top-buttons">
  <%= link_to("Create Meal", new_meal_path, class: "btn btn-primary") if can?(:create, Meal) %>
</div>

<table class="index non-mobile">
  <tr>
    <th class="col-md-2">Date/Time</th>
    <th class="col-md-2">Location</th>
    <th class="col-md-2">Cook</th>
    <th class="col-md-4">Title</th>
    <th class="col-md-1">Going?</th>
    <th class="col-md-1">Spots Left</th>
    <th></th>
  </tr>
  <% @meals.each do |meal| %>
    <tr class="<%= signed_up_class(meal) %>">
      <td class="col-md-2"><%= meal_date_time(meal) %></td>
      <td class="col-md-2"><%= meal.location_abbrv %></td>
      <td class="col-md-2"><%= user_link(meal.head_cook) %></td>
      <td class="col-md-4"><%= render("meal_link", meal: meal) %></td>
      <td class="col-md-1">
        <% if signup = meal.signup_for(current_user) %>
          <%= icon_tag("check") %> <%= signup.total %>
        <% end %>
      </td>
      <td class="col-md-1"><%= icon_tag("users") %> <%= meal.spots_left %>/<%= meal.capacity %></td>
      <td class="action-icons"><%= meal_action_icons(meal) %></td>
    </tr>
  <% end %>
</table>

<div class="meals-list mobile">
  <% @meals.each do |meal| %>
    <div class="meal <%= signed_up_class(meal) %>">
      <div class="actions"><%= meal_action_icons(meal) %></div>
      <h4><%= render("meal_link", meal: meal) %> by <%= user_link(meal.head_cook) %></h4>
      <small class="time-place"><%= meal_date_time(meal) %> at <%= meal.location_abbrv %></small>
      <% if signup = meal.signup_for(current_user) %>
        <div class="signed-up">
          <%= icon_tag("check")%> <%= signup.total %> signed up from your household
        </div>
      <% end %>
      <div class="spots-left">
        <%= icon_tag("users") %> <%= meal.spots_left %>/<%= meal.capacity %> spots remaining</div>
    </div>
  <% end %>
</div>


<%= paginate @meals %>
