<% content_for(:title){ "Meals" } %>

<% content_for(:top_buttons) do %>
  <% if can?(:finalize, Meal) %>
    <%= link_to(icon_tag("save") << " Finalizable Meals", meals_path(finalizable: 1), class: "btn btn-default") %>
  <% end %>
  <% if params[:past] %>
    <%= link_to(icon_tag("clock-o") << " Future Meals", meals_path, class: "btn btn-default") %>
  <% else %>
    <%= link_to(icon_tag("clock-o") << " Past Meals", meals_path(past: 1), class: "btn btn-default") %>
  <% end %>
  <%= link_to(icon_tag("plus") << " Create Meal", new_meal_path, class: "btn btn-primary") if can?(:create, Meal) %>
<% end %>

<% if @meals.empty? %>
  <div class="none-found">
    No meals found.
  </div>
<% else %>
  <table class="index non-mobile">
    <tr>
      <th class="col-md-2">Date/Time</th>
      <th class="col-md-1">Location</th>
      <th class="col-md-2">Cook</th>
      <th class="col-md-4">Title</th>
      <th class="col-md-1">Going?</th>
      <th class="col-md-1" colspan="2">Signups</th>
    </tr>
    <% @meals.each do |meal| %>
      <tr class="<%= signed_up_class(meal) %>">
        <td class="col-md-2"><%= meal_date_time(meal) %></td>
        <td class="col-md-1"><%= meal.location_abbrv %></td>
        <td class="col-md-2"><%= link_to(meal.head_cook_name, meal.head_cook) %></td>
        <td class="col-md-4">
          <%= meal_link(meal) %>
          <%= icon_tag("lock") if meal.closed? %>
        </td>
        <td class="col-md-1">
          <% if signup = meal.signup_for(current_user.household) %>
            <% if meal.signups_editable? %>
              <%= link_to(signup_info(signup), meal_path(meal)) %>
            <% else %>
              <%= signup_info(signup) %>
            <% end %>
          <% elsif meal.full? %>
            <span class="weak">[Full]</span>
          <% elsif meal.new_signups_allowed? %>
            <%= signup_link(meal) %>
          <% else %>
            No
          <% end %>
        </td>
        <td class="col-md-1"><%= signup_count(meal) %></td>
        <td>
          <% if params[:finalizable] %>
            <%= link_to("Finalize", finalize_meal_path(meal)) %>
          <% else %>
            <%= meal_action_icons(meal) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="meals-list mobile">
    <% @meals.each do |meal| %>
      <div class="meal <%= signed_up_class(meal) %>">
        <div class="actions"><%= meal_action_icons(meal) %></div>
        <h5><%= meal_link(meal) %> by <%= meal.head_cook_name %></h5>
        <small class="time-place"><%= meal_date_time(meal) %> at <%= meal.location_abbrv %></small>
        <div class="signup-count">
          <%= signup_count(meal) %> signed up
        </div>
        <% if signup = meal.signup_for(current_user.household) %>
          <div class="signed-up">
            <%= signup_info(signup) %> signed up from your household
            <%= link_to("(Edit)", meal_path(meal)) if meal.signups_editable? %>
          </div>
        <% elsif meal.new_signups_allowed? %>
          <%= signup_link(meal) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= paginate @meals %>
<% end %>
