<% content_for(:title, "Meals") %>
<% content_for(:top_buttons) do %>
  <%= calendar_exports_link %>
  <% if policy(sample_meal).create? %>
    <%= link_to(icon_tag("plus") << " Create Meal", new_meal_path, class: "btn btn-primary") %>
  <% end %>
<% end %>

<% if meals.empty? %>
  <div class="none-found">
    No meals found. <%= lenses.no_result_clear_filter_link %>
  </div>
<% else %>
  <table class="index non-mobile">
    <thead>
      <tr>
        <th class="nowrap">Date/Time</th>
        <th>Location</th>
        <th>Cook</th>
        <th>Title</th>
        <th>Going?</th>
        <th>Signups</th>
      </tr>
    </thead>
    <tbody>
      <% meals.each do |meal| %>
        <tr class="<%= meal.css_classes %>">
          <td class="nowrap"><%= meal_date_time(meal) %></td>
          <td><%= meal.location_abbrv %></td>
          <td><%= meal.head_cook_name %></td>
          <td>
            <%= meal_link(meal) %>
            <%= icon_tag("lock") if meal.closed? %>
            <%= icon_tag("ban") if meal.cancelled? %>
            <%= icon_tag("certificate") if meal.finalized? %>
          </td>
          <td>
            <% if signup = meal.current_signup %>
              <% if policy(meal.sample_signup).update? %>
                <%= link_to(signup_info(signup), meal_url(meal)) %>
              <% else %>
                <%= signup_info(signup) %>
              <% end %>
            <% elsif meal.full? %>
              <span class="weak">[Full]</span>
            <% elsif policy(meal.sample_signup).create? %>
              <%= signup_link(meal) %>
            <% else %>
              No
            <% end %>
          </td>
          <td><%= signup_count(meal) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="meals-list mobile">
    <% meals.each do |meal| %>
      <div class="meal <%= meal.css_classes %>">
        <h4 class="top">
          <%= meal_link(meal) %>
          <% if meal.head_cook.present? %>
            by <%= meal.head_cook_name %>
          <% end %>
          <%= icon_tag("lock") if meal.closed? %>
          <%= icon_tag("certificate") if meal.finalized? %>
          <%= icon_tag("ban") if meal.cancelled? %>
        </h4>
        <small class="time-place"><%= meal_date_time(meal) %> at <%= meal.location_abbrv %></small>
        <div class="signup-count">
          <%= signup_count(meal) %> signed up
        </div>
        <% if signup = meal.current_signup %>
          <div class="signed-up">
            <%= signup_info(signup) %> signed up from your household
            <%= link_to("(Edit)", meal_url(meal)) if policy(meal.sample_signup).update? %>
          </div>
        <% elsif meal.full? %>
          <span class="weak">[Full]</span>
        <% elsif policy(meal.sample_signup).create? %>
          <%= signup_link(meal) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= paginate meals %>
<% end %>
