<% content_for(:title){ "Jobs" } %>

<% content_for(:top_buttons) do %>
  <%= lens_bar %>
  <%= calendar_exports_link %>
<% end %>

<% table_setter_present = @meals.any? { |m| m.table_setters.any? } %>

<% if @meals.empty? %>
  <div class="none-found">
    No jobs found<% @user ? "for #{@user.name}" : "" %>.
  </div>
<% else %>
  <table class="index non-mobile">
    <tr>
      <th class="nowrap">Date/Time</th>
      <th>Location</th>
      <th>Title</th>
      <th>Head Cook</th>
      <th>Assistant Cooks</th>
      <% if table_setter_present %>
        <th>Table Setters</th>
      <% end %>
      <th>Cleaners</th>
    </tr>
    <% @meals.each do |meal| %>
      <tr class="<%= signed_up_class(meal) %>">
        <td class="nowrap"><%= meal_date_time(meal, with_break: true) %></td>
        <td><%= meal.location_abbrv %></td>
        <td><%= meal_link(meal) %></td>
        <td class="nowrap"><%= user_link(meal.head_cook, highlight: lens[:user]) %></td>
        <td class="nowrap"><%= meal.asst_cooks.map{ |c| user_link(c, highlight: lens[:user]) }.reduce(:<<) %></td>
        <% if table_setter_present %>
          <td class="nowrap"><%= meal.table_setters.map{ |c| user_link(c, highlight: lens[:user]) }.reduce(:<<) %></td>
        <% end %>
        <td class="nowrap"><%= meal.cleaners.map{ |c| user_link(c, highlight: lens[:user]) }.reduce(:<<) %></td>
      </tr>
    <% end %>
  </table>

  <div class="meals-list mobile">
    <% @meals.each do |meal| %>
      <div class="meal <%= signed_up_class(meal) %>">
        <h4><%= meal_date_time(meal) %></h4>
        <div class="title">
          <%= meal_link(meal) %> at <%= meal.location_abbrv %>
        </div>
        <div class="jobs">
          <div class="job"><%= user_link(meal.head_cook, highlight: lens[:user]) %> (Head)</div>
          <% meal.asst_cooks.each do |u| %>
            <div class="job"><%= user_link(u, highlight: lens[:user]) %> (Asst)</div>
          <% end %>
          <% if table_setter_present %>
            <% meal.table_setters.each do |u| %>
              <div class="job"><%= user_link(u, highlight: lens[:user]) %> (Tbl Set)</div>
            <% end %>
          <% end %>
          <% meal.cleaners.each do |u| %>
            <div class="job"><%= user_link(u, highlight: lens[:user]) %> (Clean)</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= paginate @meals %>
<% end %>

<%= javascript_tag do %>
  $(function(){ new Gather.Views.Select2View({el: '.lens-bar'}); });
<% end %>
