<% content_for(:title){ "Meals Report" } %>

<% content_for(:top_buttons) do %>
  <% if multi_community? %>
    <%= lens_bar(required: true) %>
  <% end %>
<% end %>

<% if @report.overview.nil? %>

  No matching data found.

<% else %>

  <% range = %w(first last).map { |m| l(@report.range.send(m), format: :month_yr) }.join(" - ") %>

  <table class="overview stats">
    <tr>
      <th></th>
      <th>Meals</th>
      <th>Diners</th>
      <th>Revenue</th>
    </tr>
    <tr>
      <td><%= @community.name %> - All Time</td>
      <td><%= number_with_delimiter(@report.overview[@community.id]["ttl_meals"]) %></td>
      <td><%= number_with_delimiter(@report.overview[@community.id]["ttl_diners"]) %></td>
      <td><%= number_to_currency(@report.overview[@community.id]["ttl_cost"]) %></td>
    </tr>
    <% if multi_community? %>
      <tr>
        <td>Overall - All Time</td>
        <td><%= number_with_delimiter(@report.overview[:all]["ttl_meals"]) %></td>
        <td><%= number_with_delimiter(@report.overview[:all]["ttl_diners"]) %></td>
        <td><%= number_to_currency(@report.overview[:all]["ttl_cost"]) %></td>
      </tr>
    <% end %>
  </table>

  <div id="charts">
    <div class="row">
      <div id="chart1" class="col-sm-4"><svg></svg></div>
      <div id="chart2" class="col-sm-4"><svg></svg></div>
      <div id="chart3" class="col-sm-4"><svg></svg></div>
    </div>
    <div class="row">
      <div id="chart4" class="col-sm-4"><svg></svg></div>
      <div id="chart5" class="col-sm-4"><svg></svg></div>
      <div id="chart6" class="col-sm-4"><svg></svg></div>
    </div>
  </div>

  <h3>By Month</h3>
  <small><%= range %>, <%= @community.name %> meals only</small>
  <%= render("report_main_table", name: "by-month", data: @report.by_month, period_format: :month_yr) %>

  <h3>By Weekday</h3>
  <small><%= range %>, <%= @community.name %> meals only</small>
  <%= render("report_main_table", name: "by-weekday", data: @report.by_weekday, period_format: :weekday) %>

  <% if multi_community? %>
    <h3>By Community</h3>
    <small><%= range %></small>
    <%= render("report_main_table", name: "by-community", data: @report.by_community,
      highlight: @community.name) %>
  <% end %>

  <div class="footnote">All reports include finalized meals only.</div>
<% end %>

<%= javascript_tag do %>
  $(function(){ new Mess.Views.Meals.ReportChartsView(<%=json(
    el: "#charts",
    data: @report.chart_data,
    cmty: @community.abbrv,
    multiCommunity: multi_community?
  )%>); });
<% end %>
