<% content_for(:title){ "Meals Report" } %>

<% content_for(:top_buttons) do %>
  <%= lens_bar(required: true) %>
<% end %>

<div class="range">
  <%= l(@report.range.first, format: :month_yr) %> - <%= l(@report.range.last, format: :month_yr) %>,
  Finalized meals only
</div>

<% if @report.overview.nil? %>

  No matching data found.

<% else %>

  <table class="overview stats">
    <tr>
      <th></th>
      <th>Meals</th>
      <th>Diners</th>
      <th>Revenue</th>
    </tr>
    <tr>
      <td><%= @community.name %> - All Time</td>
      <td><%= number_with_delimiter(@report.overview[@community.id]["ttl_meals"]) %></td>
      <td><%= number_with_delimiter(@report.overview[@community.id]["ttl_diners"]) %></td>
      <td><%= number_to_currency(@report.overview[@community.id]["ttl_cost"]) %></td>
    </tr>
    <tr>
      <td>Overall - All Time</td>
      <td><%= number_with_delimiter(@report.overview[:all]["ttl_meals"]) %></td>
      <td><%= number_with_delimiter(@report.overview[:all]["ttl_diners"]) %></td>
      <td><%= number_to_currency(@report.overview[:all]["ttl_cost"]) %></td>
    </tr>
  </table>

  <h2>By Month</h2>
  <%= render("report_main_table", name: "by-month", data: @report.by_month, period_format: :month_yr) %>

  <h2>By Weekday</h2>
  <%= render("report_main_table", name: "by-weekday", data: @report.by_weekday, period_format: :weekday) %>
<% end %>
