<% content_for(:title){ "Meals Report" } %>

<% if @report.empty? %>
  <div class="none-found">
    No matching meal data found. The report starts from the last month with no unfinalized meals.
  </div>
<% else %>

  <% range = %w(first last).map { |m| l(@report.range.send(m), format: :month_yr) }.join(" - ") %>

  <div class="overview row">
    <div class="set col-sm-4 <%= multi_community? ? "col-sm-offset-1" : "col-sm-offset-4" %>">
      <div class="title"><%= multi_community? ? "#{@community.name} " : "" %>All-Time</div>
      <div class="numbers">
        <div>
          <div class="number"><%= number_with_delimiter(@report.overview[@community.id]["ttl_meals"]) %></div>
          <div class="caption">Meals</div>
        </div>
        <div>
          <div class="number"><%= number_with_delimiter(@report.overview[@community.id]["ttl_diners"]) %></div>
          <div class="caption">Diners</div>
        </div>
        <div class="cost">
          <div class="number"><%= number_to_currency(@report.overview[@community.id]["ttl_cost"]) %></div>
          <div class="caption">Cost</div>
        </div>
      </div>
    </div>
    <% if multi_community? %>
      <div class="set col-sm-4 col-sm-offset-2">
        <div class="title">Overall All-Time</div>
        <div class="numbers">
          <div>
            <div class="number"><%= number_with_delimiter(@report.overview[:all]["ttl_meals"]) %></div>
            <div class="caption">Meals</div>
          </div>
          <div>
            <div class="number"><%= number_with_delimiter(@report.overview[:all]["ttl_diners"]) %></div>
            <div class="caption">Diners</div>
          </div>
          <div class="cost">
            <div class="number"><%= number_to_currency(@report.overview[:all]["ttl_cost"]) %></div>
            <div class="caption">Cost</div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="charts">
    <div class="row">
      <div id="chart1" class="col-sm-4"><svg></svg></div>
      <div id="chart2" class="col-sm-4"><svg></svg></div>
      <div id="chart3" class="col-sm-4"><svg></svg></div>
    </div>
    <div class="row">
      <div id="chart4" class="col-sm-4"><svg></svg></div>
      <div id="chart5" class="col-sm-4"><svg></svg></div>
      <div id="chart6" class="col-sm-4"><svg></svg></div>
    </div>
  </div>

  <% this_cmty_only = multi_community? ? ", #{@community.name} meals only" : "" %>

  <h2 class="with-subhead">By Month</h2>
  <small>
    <%= range %><%= this_cmty_only %></small>
  <%= render("report_main_table", name: "by-month", data: @report.by_month, period_format: :month_yr) %>

  <h2 class="with-subhead">By Weekday</h2>
  <small>
    <%= range %><%= this_cmty_only %></small>
  <%= render("report_main_table", name: "by-weekday", data: @report.by_weekday, period_format: :weekday) %>

  <% if multi_community? %>
    <h2 class="with-subhead">By Community</h2>
    <small><%= range %></small>
    <%= render("report_main_table", name: "by-community", data: @report.by_community,
      highlight: @community.name) %>
  <% end %>

  <div class="footnote">All reports include finalized meals only.</div>

  <%= javascript_tag do %>
    $(function() { new Gather.Views.Meals.ReportChartsView(<%=json(
      el: "#charts",
      data: @report.chart_data,
      cmty: @community.abbrv,
      multiCommunity: multi_community?
      )%>); });
  <% end %>
<% end %>
