<% content_for(:title){ (@meal.title || "Untitled Meal") } %>

<% content_for(:top_buttons) do %>
  <%= link_to(icon_tag("reply") << " Back to Meal Listing", meals_path, class: "btn btn-default") %>
<% end %>

<div class="row">
  <div class="col-sm-8">
    <div class="meal-menu ">
      <div class="menu-label">menu</div>

      <div class="actions">
        <%= meal_action_icons(@meal, show_name: true) %>
      </div>
      <div class="time-place">
        <%= icon_tag("calendar") %>
        <strong><%= meal_date_time(@meal) %></strong> at
        <%= @meal.location_name %>
      </div>
      <div class="head-cook-communities">
        By <%= user_link(@meal.head_cook) %> for
        <%= @meal.communities.map(&:name).join(', ') %>
      </div>
      <div class="asst-cooks">
        Assistants:
        <%= "[None]" if @meal.asst_cooks.empty? %>
        <% @meal.asst_cooks.each do |u| %>
          <div class="job"><%= user_link(u) %></div>
        <% end %>
      </div>
      <div class="cleaners">
        Cleaners:
        <%= "[None]" if @meal.cleaners.empty? %>
        <% @meal.cleaners.each do |u| %>
          <div class="job"><%= user_link(u) %></div>
        <% end %>
      </div>
      <% Meal::MENU_ITEMS.each do |item| %>
        <hr/>
        <div class="menu-label smaller"><%= item %></div>
        <section><%= simple_format(@meal.send(item)) %></section>
      <% end %>
      <hr/>
      <div class="menu-label smaller">allergens</div>
      <section>
        <%= @meal.allergens.map{ |a| t("activerecord.attributes.meal.allergen_#{a}") }.join(", ") %>
      </section>
    </div>
  </div>

  <div class="signup col-sm-4">
    <div class="row">
      <div class="prev-meal col-sm-6">
        <% if @prev_meal.present? %>
          <%= link_to(icon_tag("angle-left"), meal_path(@prev_meal)) %>
          <div>
            <%= link_to(content_tag(:small, "Previous Meal"), meal_path(@prev_meal)) %>
            <%= meal_link(@prev_meal) %>
            <%= link_to(content_tag(:small, meal_date_time(@prev_meal)), meal_path(@prev_meal)) %>
          </div>
        <% end %>
      </div>
      <div class="next-meal col-sm-6">
        <% if @next_meal.present? %>
          <%= link_to(icon_tag("angle-right"), meal_path(@next_meal)) %>
          <div>
            <%= link_to(content_tag(:small, "Next Meal"), meal_path(@next_meal)) %>
            <%= meal_link(@next_meal) %>
            <%= link_to(content_tag(:small, meal_date_time(@next_meal)), meal_path(@next_meal)) %>
          </div>
        <% end %>
      </div>
    </div>

    <% unless @signup.not_allowed? %>
      <%= link_to(icon_tag('close'), "#", title: "Clear Form",
        onclick: "$('.signup select').val(0); $('.signup textarea').val(''); return false") %>
    <% end %>

    <h4>Signups for <%= current_user.household_full_name %></h4>
    <% if current_user.over_limit?(@meal.host_community) && @signup.new_record? %>
      <%= t("meals.over_limit_notice", community: @meal.host_community.name) %>
    <% elsif @signup.not_allowed? %>
      You have not signed up for this meal and it is now full. You can check back later to see if a spot opens up.
    <% else %>
      <%= simple_form_for(@signup, wrapper: :equal_width_form, html: { class: 'form-horizontal' }) do |f| %>
        <%= hidden_field_tag("next_meal_id", @next_meal.try(:id)) %>
        <%= f.input :meal_id, as: :hidden %>
        <%= base_error(f) %>
        <%= f.input :spots_left do %>
          <%= icon_tag("exclamation-circle") if @meal.full? %>
          <strong><%= @meal.spots_left %></strong>
        <% end %>
        <% Signup::SIGNUP_TYPES.each do |type| %>
          <%= f.input type, label: signup_label(type),
            collection: 0..Signup::MAX_PEOPLE_PER_TYPE, include_blank: false %>
        <% end %>
        <%= f.input :comments %>
        <div class="pull-right">
          <%= f.button :submit, "Save & Go To Next Meal", name: "save_and_next", class: "btn btn-default" if @next_meal %>
          <%= f.button :submit, "Save", class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
<% end %>