<% content_for(:title){ h(@meal.title || "Untitled Meal") <<
  (@meal.closed? ? " ".html_safe << icon_tag("lock") : "") <<
  (@meal.finalized? ? " ".html_safe << icon_tag("certificate") : "") } %>

<% content_for(:top_buttons) do %>
  <% if policy(Meal).index? %>
    <%= link_to(icon_tag("reply") << " Back to Meal Listing", meals_path, class: "btn btn-default") %>
  <% end %>
<% end %>

<%= meal_action_icons(@meal, show_name: true) %>

<div class="row">
  <div class="col-sm-8">
    <%= render("meals/menu") %>
  </div>

  <div class="signup col-sm-4">
    <div class="row">
      <div class="prev-meal col-sm-6">
        <% if @prev_meal.present? %>
          <%= link_to(icon_tag("angle-left"), meal_path(@prev_meal)) %>
          <div>
            <%= link_to(content_tag(:small, "Previous Meal"), meal_path(@prev_meal)) %>
            <%= meal_link(@prev_meal) %>
            <%= link_to(content_tag(:small, meal_date_time(@prev_meal)), meal_path(@prev_meal)) %>
          </div>
        <% end %>
      </div>
      <div class="next-meal col-sm-6">
        <% if @next_meal.present? %>
          <%= link_to(icon_tag("angle-right"), meal_path(@next_meal)) %>
          <div>
            <%= link_to(content_tag(:small, "Next Meal"), meal_path(@next_meal)) %>
            <%= meal_link(@next_meal) %>
            <%= link_to(content_tag(:small, meal_date_time(@next_meal)), meal_path(@next_meal)) %>
          </div>
        <% end %>
      </div>
    </div>

    <% if @signup.allowed? && @meal.signups_editable? %>
      <%= link_to(icon_tag('close'), "#", title: "Clear Form",
        onclick: "$('.signup select').val(0); $('.signup textarea').val(''); return false") %>
    <% end %>

    <h4>
      Signups for <%= current_user.household_full_name %>
      <%= @meal.closed? ? icon_tag("lock") : "" %>
    </h4>
    <% if @account.present? && @account.credit_exceeded? && @signup.new_record? %>
      <%= t("meals.over_limit_notice_html", community: @meal.host_community.name,
        account_link: link_to("account",
          accounts_household_path(current_user.household, community: @meal.host_community_id)),
        limit: number_to_currency(@account.credit_limit)) %>
    <% elsif @signup.new_record? && @meal.full? %>
      You have not signed up for this meal and it is now full. You can check back later to see if a spot opens up.
    <% elsif @signup.new_record? && @meal.closed? %>
      You have not signed up for this meal and it is now closed.
    <% else %>

      <%= simple_form_for(@signup, wrapper: :equal_width_form, html: { class: 'form-horizontal' }) do |f| %>

        <%= hidden_field_tag("next_meal_id", @next_meal.try(:id)) %>
        <%= f.input :meal_id, as: :hidden %>
        <%= base_error(f, full_width: true) %>

        <%= f.input :spots_left do %>
          <%= icon_tag("exclamation-circle") if @meal.full? %>
          <strong><%= @meal.spots_left %></strong>
        <% end %>

        <div id="col-labels">
          <span>Meat</span>
          <span>Veg</span>
        </div>

        <% Signup::DINER_TYPES.each do |dt| %>
          <% next unless @meal.formula.nil? || @meal.formula.allows_diner_type?(dt) %>

          <%= f.input dt, label: signup_label(dt) do %>
            <% Signup::FOOD_TYPES.each do |ft| %>
              <% attrib = "#{dt}_#{ft}" %>
              <% if @meal.formula.nil? || @meal.formula.allows_signup_type?(dt, ft) %>
                <% if @meal.signups_editable? %>
                  <%= f.select(attrib,
                    (0..Signup::MAX_PEOPLE_PER_TYPE).to_a.map{ |i| [i == 0 ? "0" : "#{i} #{ft}", i] },
                    { include_blank: false }, class: "select form-control") %>
                <% else %>
                  <% if (n = @signup[attrib]) > 0 %>
                    <div class="ro-signup nonzero"><%= n %> <%= ft %></div>
                  <% else %>
                    <div class="ro-signup"></div>
                  <% end %>
                <% end %>
              <% else %>
                <div class="blank"></div>
              <% end %>
            <% end %>
          <% end %>

        <% end %>

        <% if @meal.signups_editable? %>
          <%= f.input :comments, maxlength: Signup::MAX_COMMENT_LENGTH %>
        <% else %>
          <%= f.input :comments do %>
            <%= simple_format(@signup.comments) %>
          <% end %>
        <% end %>

        <% if @meal.signups_editable? %>
          <div class="pull-right">
            <%= f.button :submit, "Save & Go To Next Meal", name: "save_and_next", class: "btn btn-default" if @next_meal %>
            <%= f.button :submit, "Save", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>

    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 who-is-going">
    <h4>Who is Going?</h4>
    <ul>
      <% if @signups.empty? %>
        Nobody, yet!
      <% else %>
        <% @signups.each do |s| %>
          <li><%= s.household_full_name %> (<%= s.total %>)</li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<%= javascript_tag do %>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
<% end %>
