<% content_for(:title){ @meal.title || "Untitled Meal" } %>

<% content_for(:top_buttons) do %>
  <%= link_to(icon_tag("reply") << " Back to Meal Listing", meals_path, class: "btn btn-default") %>
  <%= link_to(icon_tag("print") << " Print", "#", class: "btn btn-primary",
    onclick: "window.print(); return false;") %>
<% end %>

<%= meal_action_icons(@meal, show_name: true, except: :summary) %>

<div class="row">
  <div class="col-sm-12">
    <%= render("menu") %>
  </div>
</div>

<div id="signups" class="row">
  <div class="col-sm-12">
    <div id="gen-time">Generated: <%= Time.now.to_s(:full_datetime) %></div>
    <h2>Signups</h2>
    <div id="portion-counts">
      <%= portion_counts(@meal) %>
    </div>
    <table class="compact">
      <%= render("summary_signups_header") %>
      <% @signups.each do |signup| %>
        <tr>
          <td><%= signup.household_full_name %></td>
          <% @meal.allowed_signup_types.each do |st| %>
            <td><%= signup[st] unless signup[st] == 0 %></td>
          <% end %>
          <td><%= signup.comments %></td>
        </tr>
      <% end %>
      <tr class="total">
        <td>Total</td>
        <% @meal.allowed_signup_types.each do |st| %>
          <td><%= @meal.signup_totals[st] %></td>
        <% end %>
        <td><%= @meal.signup_count %></td>
      </tr>
      <% cols = @meal.allowed_signup_types.size + 2 %>
      <tr class="late-signups-header">
        <td colspan="<%= cols %>">
          Late Signups
        </td>
      </tr>
      <%= render("summary_signups_header") %>
      <% 8.times do %>
        <tr class="late-signup">
          <% cols.times do %><td>&nbsp;</td><% end %>
        </tr>
      <% end %>
    </table>
    <small id="portion-formula">
      * Total portions calculated as
      <%= @meal.portion_factors.map do |dt, f|
        dt = t("signups.diner_types.#{dt}", count: 2)
        f == 0 ? nil : "#{f} &times; #{dt}"
      end.compact.join(" + ").html_safe %>.
    </small>
  </div>
</div>


<div id="groc-calc" class="row">
  <div class="col-sm-12">
    <h2>Grocery Calculator</h2>
    <% if @cost_calculator.type == :fixed %>
      Based on the fixed cost of this meal, you should spend no more than
      <strong><%= number_to_currency(@cost_calculator.max_grocery) %></strong> on groceries,
      not including pantry/staple items (see your community's meals guidelines
      for a list of qualifying staple items).
    <% else %>
      Based on the cost-sharing formula of this meal, the below table shows how
      much you can spend on groceries depending on how much you would like the meal to cost.
      <table id="cost-table" class="compact">
        <tr>
          <% 2.times do %>
            <th>Per-Adult Cost</th>
            <th>Max Grocery Amt.</th>
            <th></th>
          <% end %>
        </tr>
        <% MealSummaryHelper::COST_TABLE_AMOUNTS.each_slice(2).to_a.each do |costs| %>
          <tr>
            <% 2.times do |i| %>
              <td><%= number_to_currency(costs[i]) %></td>
              <td><%= number_to_currency(@cost_calculator.max_grocery_for_per_adult_cost(costs[i])) %></td>
              <td>&nbsp;&nbsp;&nbsp;</td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2>Cook Reimbursement Form</h2>
    <table id="reimb-form">
      <tr>
        <td>Name as should appear on check:</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Date of grocery purchase:</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/</td>
      </tr>
      <tr>
        <td>Amount spent for groceries:</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Amount spent on staple items:</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Total amount to be reimbursed:</td>
        <td>$</td>
      </tr>
    </table>
    Cooks, to obtain reimbursement, please:
    <ol>
      <li>Print and fill out the above form.</li>
      <li>Write your name and meal date on all receipts.</li>
      <li>Circle any staple items you purchased.</li>
      <li>
        Assemble: <strong>reimbursement form</strong>, <strong>receipts</strong>,
        and <strong>late signup list</strong>.
      </li>
      <% if dropoff_loc = @meal.host_community.settings[:meal_reimb_dropoff_loc] %>
        <li>Place <%= dropoff_loc %>.</li>
      <% else %>
        <li>Give to your meals admin.</li>
      <% end %>
    </ol>
  </div>
</div>
