<% content_for(:title){ "Work" } %>

<% content_for(:top_buttons) do %>
  <%= lens_bar %>
  <%= calendar_exports_link %>
<% end %>

<% if @meals.empty? %>
  <div class="none-found">
    No work shifts found<% @user ? "for #{@user.name}" : "" %>.
  </div>
<% else %>
  <table class="index non-mobile">
    <tr>
      <th class="col-md-2">Date/Time</th>
      <th class="col-md-1">Location</th>
      <th class="col-md-3">Title</th>
      <th class="col-md-2">Head Cook</th>
      <th class="col-md-2">Assistant Cooks</th>
      <th class="col-md-2">Cleaners</th>
      <th></th>
    </tr>
    <% @meals.each do |meal| %>
      <tr class="<%= signed_up_class(meal) %>">
        <td class="col-md-2"><%= meal_date_time(meal) %></td>
        <td class="col-md-1"><%= meal.location_abbrv %></td>
        <td class="col-md-3"><%= meal_link(meal) %></td>
        <td class="col-md-2"><%= user_link(meal.head_cook, highlight: lens[:user]) %></td>
        <td class="col-md-2"><%= meal.asst_cooks.map{ |c| user_link(c, highlight: lens[:user]) }.reduce(:<<) %></td>
        <td class="col-md-2"><%= meal.cleaners.map{ |c| user_link(c, highlight: lens[:user]) }.reduce(:<<) %></td>
        <td><%= meal_action_icons(meal) %></td>
      </tr>
    <% end %>
  </table>

  <div class="meals-list mobile">
    <% @meals.each do |meal| %>
      <div class="meal <%= signed_up_class(meal) %>">
        <div class="actions"><%= meal_action_icons(meal) %></div>
        <h4><%= meal_date_time(meal) %></h4>
        <div class="title">
          <%= meal_link(meal) %> at <%= meal.location_abbrv %>
        </div>
        <div class="jobs">
          <div class="job"><%= user_link(meal.head_cook, highlight: lens[:user]) %> (Head)</div>
          <% meal.asst_cooks.each do |u| %>
            <div class="job"><%= user_link(u, highlight: lens[:user]) %> (Asst)</div>
          <% end %>
          <% meal.cleaners.each do |u| %>
            <div class="job"><%= user_link(u, highlight: lens[:user]) %> (Clean)</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= paginate @meals %>
<% end %>

<%= javascript_tag do %>
  $(function(){ new Mess.Views.Select2View({el: '.lens-bar'}); });
<% end %>
