<% content_for(:title){ "Work" } %>

<form class="form-inline index-filter">
  <%= label_tag("uid", "Filter by User:") %>
  <%= select_tag("uid",
    @user ? content_tag(:option, @user.name, value: @user.id, selected: "selected") : "",
    prompt: "Select User...", class: "form-control", onchange: "this.form.submit();",
    data: { "select2-src" => "user" }) %>
  <% if @user.present? %>
    &nbsp;<%= clear_work_filter_link("Show All") %>
  <% end %>
</form>

<% if @meals.empty? %>
  No meals found for <%= @user.name %>.
<% else %>
  <table class="index non-mobile">
    <tr>
      <th class="col-md-2">Date/Time</th>
      <th class="col-md-1">Location</th>
      <th class="col-md-3">Title</th>
      <th class="col-md-2">Head Cook</th>
      <th class="col-md-2">Assistant Cooks</th>
      <th class="col-md-2">Cleaners</th>
      <th></th>
    </tr>
    <% @meals.each do |meal| %>
      <tr class="<%= signed_up_class(meal) %>">
        <td class="col-md-2"><%= meal_date_time(meal) %></td>
        <td class="col-md-1"><%= meal.location_abbrv %></td>
        <td class="col-md-3"><%= meal_link(meal) %></td>
        <td class="col-md-2"><%= user_link(meal.head_cook, params[:uid]) %></td>
        <td class="col-md-2"><%= meal.asst_cooks.map{ |c| user_link(c, params[:uid]) }.reduce(:<<) %></td>
        <td class="col-md-2"><%= meal.cleaners.map{ |c| user_link(c, params[:uid]) }.reduce(:<<) %></td>
        <td><%= meal_action_icons(meal) %></td>
      </tr>
    <% end %>
  </table>

  <div class="meals-list mobile">
    <% @meals.each do |meal| %>
      <div class="meal <%= signed_up_class(meal) %>">
        <div class="actions"><%= meal_action_icons(meal) %></div>
        <h4><%= meal_date_time(meal) %></h4>
        <div class="title">
          <%= meal_link(meal) %> at <%= meal.location_abbrv %>
        </div>
        <div class="jobs">
          <div class="job"><%= user_link(meal.head_cook, params[:uid]) %> (Head)</div>
          <% meal.asst_cooks.each do |u| %>
            <div class="job"><%= user_link(u, params[:uid]) %> (Asst)</div>
          <% end %>
          <% meal.cleaners.each do |u| %>
            <div class="job"><%= user_link(u, params[:uid]) %> (Clean)</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= paginate @meals %>
<% end %>

<%= javascript_tag do %>
  $(function(){ new Mess.Views.Select2View({el: '.index-filter'}); });
<% end %>
