<% content_for(:title, "Import Meals") %>

<h2>How To Import a CSV File</h2>

<p>
  Click <b><%= link_to "here", meals_import_download_meal_csv_url(format: :csv) %></b> to download a sample CSV file. Ypu can create a new file just like this or edit this one.
  The sample is currently filled with the required fields so please do not delete any column.
  <br>
  Feel free to add more columns with meal details to the sample CSV file. The only compulsory fields are Date/Time, Capacity and Location.
  The Head Cook must have the first and last name added in the stated order.
  You may decide to leave the other fields empty if you wish. If at anytime you intended to have more than one input, for instance more than one head cook, separate them with a semicolon.
</p>

<%= gather_form_for @meal, url: meals_import_path, html: { multipart: true } do |f| %>
  <%= base_error(f) %>

  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>


