<% content_for(:title, "Sign In") %>

<%= gather_form_for(resource, layout: :vertical, width: :narrow, as: resource_name,
                              url: session_path(resource_name)) do |f| %>
  <%= f.input(:email, required: false, autofocus: true, hint: false) %>
  <%= f.input(:password, required: false, hint: false) %>
  <%= f.input(:remember_me, as: :boolean) %>

  <%= form_actions do %>
    <div class="secondary-links">
      <%= link_to("Don't know your password?", reset_password_path) %>
    </div>
    <div class="buttons">
      <%= f.button(:primary, :sign_in) %>
    </div>
  <% end %>
<% end %>
