<% content_for(:title, "Events: #{calendar.name_with_prefix}") %>

<% content_for(:action_links) do %>
  <%- if calendar && policy(@sample_event).create? -%>
    <%- concat(link_to(icon_tag("plus") << " Create Event",
      new_calendars_event_path(calendar_id: calendar.id),
      class: "btn btn-default")) -%>
    <%- concat(calendar_exports_link) %>
  <%- end -%>
<% end %>

<div class="row calendar-and-links">
  <div id="calendar-col" class="col-md-10 col-sm-9">
    <div id="calendar"></div>
    <footer>
      <%= link_to("Permalink", calendars_events_path(calendar_id: calendar.id), id: "permalink") %> &nbsp;
      <a href="#" class="early" id="show-early">Show Early Morning</a>
      <a href="#" class="early" id="hide-early">Hide Early Morning</a>
    </footer>
    <div id="create-confirm-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title">Create Event?</h2>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 sidebar">
    <%= image_tag(calendar.photo_variant(:thumb)) %><br/><br/>
    <% if @other_calendars.any? %>
      <div class="other-calendars">
        <small>Other Calendars</small>
        <%= render("simple_calendar_list", nodes: @other_calendars) %>
      </div>
    <% end %>
    <% if multi_community? %>
      <div>
        <small>Other Communities</small>
        <ul class="no-marker">
          <% @other_communities.each do |community| %>
            <li><%= link_to(community.name, url_in_community(community, calendars_events_path)) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(function() {
    var calendarView = new Gather.Views.CalendarView({
      el: '#calendar-col',
      calendarId: <%= json(calendar.id) %>,
      feedUrl: <%= json(calendars_events_path(calendar_id: calendar.id)) %>,
      newUrl: <%= json(new_calendars_event_path(calendar_id: calendar.id)) %>,
      focusDate: <%= json(params[:date]) %>,
      viewType: <%= json(params[:view]) %>,
      defaultViewType: <%= json(calendar.default_calendar_view) %>,
      ruleSet: <%= json(@rule_set_serializer) %>
    });
    var linkManager = new Gather.Views.CalendarLinkManager({
      el: '.calendar-and-links',
      calendarView: calendarView
    });
  });
<% end %>
