<% content_for(:title, "Event: #{event.name}") %>
<% content_for(:action_links, event.action_links) %>

<table class="key-value key-value-wide">
  <tr>
    <td>Calendar</td>
    <td>
      <%= image_tag(calendar.photo_variant(:thumb), alt: calendar.name) %><br/>
      <%= calendar.name %>
    </td>
  </tr>
  <tr>
    <td>Date/Time</td>
    <td><%= event.timespan %></td>
  </tr>
  <% if meal %>
    <tr>
      <td>Meal</td>
      <td>
        <% if policy(meal).show? %>
          <%= link_to(meal.title_or_no_title, meal_path(meal)) %>
        <% else %>
          <%= meal.title_or_no_title %>
        <% end %>
      </td>
    </tr>
  <% else %>
    <% if event.group %>
      <tr>
        <td>Group</td>
        <td><%= link_to(event.group.name, event.group) %></td>
      </tr>
    <% end %>
    <tr>
      <td>Reserved By</td>
      <td><%= event.creator.decorate.link(show_cmty_if_foreign: true) %></td>
    </tr>
  <% end %>
  <% if event.sponsor %>
    <tr>
      <td>Sponsor</td>
      <td><%= event.sponsor.decorate.link(show_cmty_if_foreign: true) %></td>
    </tr>
  <% end %>
  <% if event.displayable_kind? %>
    <tr>
      <td>Type</td>
      <td><%= event.kind %></td>
    </tr>
  <% end %>
  <% if event.note %>
    <tr>
      <td>Note</td>
      <td><%= event.rendered_note %></td>
    </tr>
  <% end %>
</table>
