<% content_for(:title, user.full_name) %>
<% content_for(:action_links, memorial.action_links) %>

<% content_for(:mobile_back_link) do %>
  <%= render partial: "shared/mobile_back_link", locals: {label: "Memorials", path: people_memorials_path } %>
<% end %>

<div class="row memorial">
  <div class="col-sm-3">
    <div class="photo">
      <%= image_tag(user.photo_variant(:medium), alt: "Photo of #{user.name}") %>
      <div class="years">
        <%= "#{memorial.birth_year}–#{memorial.death_year}" %>
      </div>
    </div>
  </div>
  <div class="col-sm-9 flowing-columns-max-2 obit-memories">
    <% if memorial.obituary.present? %>
      <h2 class="top">Obituary</h2>
      <%= safe_render_markdown(memorial.obituary) %>
    <% end %>
    <% messages.each_with_index do |message, index| %>
      <div class="message">
        <%# Putting this inside the .message so we can use break-inside: avoid %>
        <%# break-after: avoid doesn't work :( %>
        <% if index == 0 && memorial.obituary.present? %>
          <h2>Community Memories</h2>
        <% end %>
        <div class="body"><%= safe_render_markdown(message.body) %></div>
        <div class="author-links">
          <div class="author">
            &nbsp;&nbsp;&nbsp;–&nbsp;<%= message.author.decorate.full_name %>
          </div>
          <div>
            <% if policy(message).edit? %>
              <%= link_to("Edit", edit_people_memorial_message_path(memorial, message)) %>
            <% end %>
            <% if policy(message).destroy? %>
              <%= link_to("Delete", people_memorial_message_path(memorial, message),
                          method: :delete,
                          data: {confirm: I18n.t("confirmations.people/memorial_message.destroy")}) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= gather_form_for([@memorial, @new_message], url: people_memorial_messages_path(memorial),
                                                   width: :full) do |f| %>
      <%# Putting this inside the form, if there are no messages, so we can use break-inside: avoid %>
      <%# break-after: avoid doesn't work :( %>
      <% if messages.empty? && memorial.obituary.present? %>
        <h2>Community Memories</h2>
      <% end %>
      <%= f.input(:body, as: :markdown, label: false) %>
      <%= form_actions do %>
        <%= f.button :primary %>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(function() {
    new Gather.Views.People.MemorialView({
      el: '.people--memorials.action-show'
    });
    new Gather.Views.DirtyChecker({el: '.people--memorial-message-form'});
  });
<% end %>
