<% content_for(:title, "Touchstone Cohousing File Reorganization") %>

<div data-controller="gdrive--file-picker"
  data-gdrive--file-picker-client-id-value="<%= @config.client_id %>"
  data-gdrive--file-picker-api-key-value="<%= @config.api_key %>"
  data-gdrive--file-picker-access-token-value="<%= @access_token %>"
  data-gdrive--file-picker-root-folder-id="<%= @config.folder_id %>"
  data-gdrive--file-picker-ingest-files-url-value="<%= gdrive_migration_consent_ingest_url(
    host: Settings.url.host, community_id: current_community.id) %>"
  data-gdrive--file-picker-test-mode-value="<%= Rails.env.test? %>"
  >
</div>

<script src="https://apis.google.com/js/api.js"></script>
