<% cache(cache_key) do %>
  <%# We need to call this from inside the cached block b/c it triggers DB queries. %>
  <section class="shifts-main" aria-label="List of signups">
    <% if !policy(sample_shift).index? && @period.draft? %>
      <div class="center-notice">
        <%= t("work.phase_notices.shifts.draft") %>
      </div>
    <% else %>
      <%= render("synopsis") %>
      <% if shifts.empty? %>
        <div class="col-sm-12 center-notice">
          <%= t("work/jobs.none_found") %> <%= lenses.no_result_clear_filter_link %>
        </div>
      <% else %>
        <div class="flowing-columns">
          <%= render(partial: "shift", collection: shifts, as: :shift) %>
        </div>
      <% end %>
    <% end %>
  </section>
<% end %>
