<section class="shift-card section <%= "mine" if shift.user_signed_up?(@choosee) %>" data-id="<%= shift.id %>">
  <table>
    <tr>
      <td class="title-cell">
        <h2><%= shift.link_with_icons %></h2>
      </td>
      <td>
        <div class="hours" title="<%= I18n.t("work.num_hours", num: shift.hours_formatted) %>">
          <%= shift.hours_formatted %>h
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="shift-times"><%= shift.times %></div>
      </td>
      <td class="photo-cell" rowspan="2">
        <div class="photos <%= "single" if shift.assignments.size == 1 %>">
          <%= shift.photos %>
        </div>
      </td>
    </tr>
    <tr>
      <td class="owners-cell">
        <% shift.assignments.each do |assignment| %>
          <div class="owner-name">
            <%= link_to(assignment.user.decorate.name_with_inactive, assignment.user) %>
            <% if assignment.preassigned? %>
              &nbsp;<%= icon_tag("thumb-tack", title: I18n.t("work.preassigned")) %>
            <% end %>
            <% if policy(shift).unsignup? && assignment.user == @choosee %>
              <span class="cancel-link">
                &nbsp;<%= link_to(icon_tag("close", title: I18n.t("common.cancel")), "javascript:void(0)",
                  "data-confirm": t("confirmations.work/shift.unsignup")) %>
                <%= inline_loading_indicator %>
              </span>
            <% end %>
          </div>
        <% end %>
        <% if !shift.full_community? && shift.empty_slots > 0 %>
          <div class="open-slots">
            <%= t("work/shift.slots_open", count: shift.empty_slots) %>
          </div>
        <% end %>
        <% if shift_policy(shift).signup? %>
          <div class="signup-link">
            <a href="#"><%= icon_tag("bolt") %> Sign Up!</a>
            <%= inline_loading_indicator %>
          </div>
        <% end %>
      </td>
    </tr>
    <% if @error %>
      <tr>
        <td colspan="2">
          <div class="signup-error alert alert-danger"><%= @error %></div>
        </td>
      </tr>
    <% end %>
  </table>
</section>
