<% content_for(:title, "Job Signups") %>
<% content_for(:top_buttons) do %>
  <%= calendar_exports_link %>
<% end %>

<% if @period.nil? %>
  <%= render("work/shared/no_period_notice") %>
<% else %>
  <%= render("shifts") %>
  <div class="row table-footer">
    <div class="col-sm-6">
      <%= render("pagination") %>
    </div>
    <div class="col-sm-6 choosee">
      <%= lenses[:choosee].render %>
    </div>
  </div>
<% end %>
<%= javascript_tag do %>
  $(function() {
    new Gather.Views.Work.ShiftsView({el: '#content', autorefresh: <%= @autorefresh.to_json %>});
  });
<% end %>
