<% content_for(:title, "Job Signups") %>
<% if @period.nil? %>
  <div class="none-found">
    <% if policy(sample_period).create? %>
      <%= t("work.no_periods_html", link: link_to(t("work.create_one"), work_periods_path)) %>
    <% else %>
      <%= t("work/jobs.none_found") %>
    <% end %>
  </div>
<% else %>
  <%= render "shifts" %>
<% end %>
<%= javascript_tag do %>
  $(function() {
    new Gather.Views.Work.ShiftsView({el: '#content', autorefresh: <%= @autorefresh.to_json %>});
  });
<% end %>
