<% content_for(:title, shift.job_title_with_icons) %>
<% content_for(:title_no_html, shift.job_title) %>
<% content_for(:action_links, shift.action_links) %>

<% content_for(:mobile_back_link) do %>
  <%= render partial: "shared/mobile_back_link", locals: {label: "Signups", path: work_shifts_path } %>
<% end %>

<h2><%= shift.times %></h2>

<dl class="shift-info icon-list bigger">
  <dt><%= icon_tag("clock") %></dt><dd><%= shift.hours_formatted %>h</dd><br/>
  <dt><%= icon_tag("folder-open") %></dt><dd><%= shift.period_name %></dd><br/>
  <% if shift.requester_name %>
    <dt><%= icon_tag("home") %></dt><dd><%= shift.requester_name %></dd><br/>
  <% end %>
  <% if shift.meal? %>
    <dt><%= icon_tag("cutlery") %></dt><dd><%= link_to(meal.title_or_no_title, meal_path(meal.object)) %></dd><br/>
  <% end %>
  <dt><%= icon_tag("user") %></dt><dd><%= shift.assginees_with_empty_slots(style: :comma_sep) %></dd><br/>
  <% shift.reminders.each do |reminder| %>
    <dt><%= icon_tag("bell") %></dt><dd><%= reminder.decorate.to_s %></dd><br/>
  <% end %>
</dl>

<%= safe_render_markdown(shift.job_description) %>
