<% content_for(:title) { "Google Drive Migration" } %>

<div class="synopsis gdrive-migration-synopsis">
  <%= render("synopsis") %>
</div>

<h2>Stats</h2>
<table>
  <tr><td>Total Files</td><td><%= number_with_delimiter(@stats.total) %></td></tr>
  <tr><td>Files Pending</td><td><%= number_with_delimiter(@stats.by_status["pending"]) %></td></tr>
  <tr><td>Files Declined</td><td><%= number_with_delimiter(@stats.by_status["declined"]) %></td></tr>
  <tr><td>Files Errored</td><td><%= number_with_delimiter(@stats.by_status["errored"]) %></td></tr>
  <tr><td>Files Transferred</td><td><%= number_with_delimiter(@stats.by_status["transferred"]) %></td></tr>
  <tr><td>Files Copied</td><td><%= number_with_delimiter(@stats.by_status["copied"]) %></td></tr>
  <tr><td>Files Ignored</td><td><%= number_with_delimiter(@stats.by_status["ignored"]) %></td></tr>
</table>

<h2>Owners</h2>
<table>
  <tr>
    <th>Owner</th>
    <th>Total Files</th>
    <th>Pending</th>
    <th>Declined</th>
    <th>Errored</th>
    <th>Transferred</th>
    <th>Copied</th>
    <th>Ignored</th>
  </tr>
  <% @stats.owners.each do |owner| %>
    <tr>
      <td><%= owner %></td>
      <td><%= number_with_delimiter(@stats.by_owner[owner]) %></td>
      <td><%= number_with_delimiter(@stats.by_owner_and_status[[owner, "pending"]]) %></td>
      <td><%= number_with_delimiter(@stats.by_owner_and_status[[owner, "declined"]]) %></td>
      <td><%= number_with_delimiter(@stats.by_owner_and_status[[owner, "errored"]]) %></td>
      <td><%= number_with_delimiter(@stats.by_owner_and_status[[owner, "transferred"]]) %></td>
      <td><%= number_with_delimiter(@stats.by_owner_and_status[[owner, "copied"]]) %></td>
      <td><%= number_with_delimiter(@stats.by_owner_and_status[[owner, "ignored"]]) %></td>
    </tr>
  <% end %>
</table>

<h2>Files</h2>
<table class="full-width">
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Type</th>
    <th>Status</th>
    <th>Error</th>
  </tr>
  <% @files.each do |file| %>
    <tr>
      <td><%= file.name %></td>
      <td><%= file.owner %></td>
      <td><%= file.mime_type %></td>
      <td><%= file.status %></td>
      <td>
        <% if file.error_type %>
          <%= file.error_type %>: <%= file.error_message %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @files %>