<%# Unlike some of the other sections, we don't show any of this unless the user can change it. %>
<% if policy(meal).change_expenses? %>
  <% cost = meal.cost %>
  <%= meal.form_section(:expenses, expanded: local_assigns[:expanded]) do %>
    <%= f.simple_fields_for(:cost, cost) do |mc_form| %>
      <%= mc_form.input(:ingredient_cost, input_html: {value: cost.ingredient_cost_decimals}) %>
      <%= mc_form.input(:pantry_cost, input_html: {value: cost.pantry_cost_decimals}) %>
      <%= mc_form.input(:reimbursee_id, as: :user_select, context: "current_community_full_access") %>
      <%= mc_form.input(:payment_method) do %>
        <ul class="no-bullets">
          <li>
            <label>
              <%= mc_form.radio_button(:payment_method, :check) %>
              <%= t("simple_form.options.meals_meal.cost.payment_method.check") %>
            </label>
          </li>
          <li>
            <label>
              <%= mc_form.radio_button(:payment_method, :credit) %>
              <%= t("simple_form.options.meals_meal.cost.payment_method.credit") %>
            </label>
          </li>
          <li>
            <label>
              <%= mc_form.radio_button(:payment_method, :paypal) %>
              <%= t("simple_form.options.meals_meal.cost.payment_method.paypal") %>
              - <span id="reimbursee-paypal-email"><%= @paypal_email %></span>
              <%= icon_tag("question-circle") %>
            </label>
          </li>
        </ul>
      <% end %>
    <% end %>
  <% end %>

  <%= javascript_tag do %>
    $(function() {
      new Gather.Views.Meals.ReimburseeChangeView(<%=json(
        el: ".finalize-form, .meals--meal-form",
        paypalEmailUrl: reimbursee_paypal_email_meals_path
      )%>);
    });
  <% end %>
<% end %>
