<%= meal.form_section(:general, expanded: local_assigns[:expanded]) do %>
  <div class="fields">
    <% if policy(meal).change_date_loc_invites? %>
      <%= f.input :served_at, as: :datetime_picker, include_day_of_week: true %>
      <%= f.input :resource_ids, collection: @resource_options, label_method: :name_with_prefix,
                                 required: true, input_html: {multiple: "multiple"} %>
      <%= javascript_tag do %>
        $(function() {
          // We don't use AjaxSelect2 here since it's not an ajax-based select2.
          // We specify width 100% so that the control has the proper width when the section is toggled.
          $("#meals_meal_resource_ids").select2({width: '100%'});
        });
      <% end %>
    <% else %>
      <%= f.input :served_at do %>
        <%= meal.served_at_datetime %>
      <% end %>
      <%= f.input :resource_ids do %>
        <%= meal.location_name %>
      <% end %>
    <% end %>

    <% if multi_community? %>
      <% if policy(meal).change_menu? %>
        <div class="form-group text optional
          <%= meal.errors[:invitations].present? ? "has-error" : "" %>">
          <label class="text optional col-sm-3 control-label" for="meal_invitations">Communities</label>
          <div class="boxes col-sm-9">
            <% @communities.each do |c| %>
              <% checked = meal.community_invited?(c) %>
              <% disabled = meal.disable_community_checkbox?(c) %>
              <%= check_box_tag("meals_meal[community_boxes][#{c.id}]", "1", checked, disabled: disabled) %>
              <%= hidden_field_tag("meals_meal[community_boxes][#{c.id}]", "1") if disabled %>
              <%= label_tag("meals_meal[community_boxes][#{c.id}]", c.name) %>
              &nbsp;&nbsp;
            <% end %>
          </div>
          <% if meal.errors[:invitations].present? %>
            <div class="error col-sm-6 col-sm-offset-2"><%= meal.errors[:invitations].join %></div>
          <% end %>
        </div>
      <% else %>
        <%= f.input :communities do %>
          <%= meal.communities.map(&:name).join(", ") %>
        <% end %>
      <% end %>
    <% end %>

    <% if policy(meal).change_capacity_close_time? %>
      <%= f.input :capacity, min: 1 %>
      <%= f.input :auto_close_time, as: :datetime_picker, include_day_of_week: true, stepping: 5 %>
    <% else %>
      <%= f.input :capacity do %><%= meal.capacity %><% end %>
      <%= f.input :auto_close_time do %>
        <%= l(auto_close_time) %>
      <% end %>
    <% end %>

    <% if policy(meal).change_formula? %>
      <%= f.input :formula_id, collection: @formula_options %>
    <% else %>
      <%= f.input :formula_id do %><%= meal.formula_name %><% end %>
    <% end %>
  </div>
<% end %>
