<% shift = f.object %>
<tr class="nested-fields">
  <td class="starts-at">
    <%= f.input_field :starts_at, as: :datetime_picker, class: "form-control",
          data: {date_options: {minDate: shift.min_time, maxDate: shift.max_time}} %>
  </td>
  <td class="ends-at">
    <%= f.input_field :ends_at, as: :datetime_picker, class: "form-control",
          data: {date_options: {minDate: shift.min_time, maxDate: shift.max_time}} %>
  </td>
  <td>
    <%= f.input_field :slots, class: "form-control shift-slots" %>
  </td>
  <td class="hours">
  </td>
  <td class="delete">
    <%= f.hidden_field :id %>
    <%= link_to_remove_association(icon_tag("trash"), f) %>
  </td>
</tr>
