<% shift = f.object %>
<tr class="nested-fields">
  <td class="starts-at <%= shift.errors[:starts_at].any? ? 'has-error' : '' %>">
    <%= f.input_field :starts_at, as: :datetime_picker, class: "form-control",
          data: {date_options: {minDate: shift.min_time, maxDate: shift.max_time}} %>
    <div class="period-date"><%= l(@job.period_starts_on) %></div>
    <%= f.error :starts_at %>
  </td>
  <td class="ends-at <%= shift.errors[:ends_at].any? ? 'has-error' : '' %>">
    <%= f.input_field :ends_at, as: :datetime_picker, class: "form-control",
          data: {date_options: {minDate: shift.min_time, maxDate: shift.max_time}} %>
    <div class="period-date"><%= l(@job.period_ends_on) %></div>
    <%= f.error :ends_at %>
  </td>
  <td class="shift-slots <%= shift.errors[:slots].any? ? 'has-error' : '' %>">
    <%= f.input_field :slots, class: "form-control" %>
    <div class="unlimited"><%= t("work/jobs.unlimited") %></div>
    <%= f.error :slots %>
  </td>
  <td class="assignments">
    <%= f.simple_fields_for(:assignments) do |assignment_form| %>
      <%= render("assignment_fields", f: assignment_form) %>
    <% end %>
    <%# New rows are inserted before this element. %>
    <div class="add-link">
      <%= link_to_add_association(t("cocoon.add_links.assignments"), f, :assignments) %>
    </div>
    <%= f.error :assignments %>
  </td>
  <td class="hours">
  </td>
  <td class="delete">
    <%= f.hidden_field :id %>
    <%= link_to_remove_association(icon_tag("trash"), f) %>
  </td>
</tr>
