<% content_for(:title, +"Jobs" << (@period ? ": #{@period.name}" : "")) %>
<% content_for(:top_buttons) do %>
  <% if @period && policy(sample_job).create? %>
    <%= link_to(icon_tag("plus") << " Create Job",
      new_work_job_path(period: @period.id), class: "btn btn-primary") %>
  <% end %>
<% end %>

<% if @period.nil? %>
  <%= render("work/shared/no_period_notice") %>
<% elsif jobs.empty? %>
  <div class="center-notice">
    No jobs found. <%= lenses.no_result_clear_filter_link %>
  </div>
<% else %>
  <table class="index part-width">
    <thead>
      <tr>
        <th><%= Work::Job.human_attribute_name(:title) %></th>
        <th><%= Work::Job.human_attribute_name(:requester) %></th>
        <th><%= Work::Job.human_attribute_name(:hours) %></th>
        <th><%= Work::Job.human_attribute_name(:slots) %></th>
      </tr>
    </thead>
    <tbody>
      <% jobs.each do |job| %>
        <tr>
          <td class="title"><%= job.link_with_icons %></td>
          <td class="requester"><%= job.requester_name %></td>
          <td class="hours"><%= job.hours_nice %></td>
          <td class="slots"><%= job.total_slots_nice %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
