<% content_for(:title, job.title_with_icon) %>
<% content_for(:title_no_html, job.title) %>
<% content_for(:action_links, job.action_links) %>

<% content_for(:mobile_back_link) do %>
  <%= render partial: "shared/mobile_back_link", locals: {label: "Jobs", path: work_jobs_path } %>
<% end %>

<table class="key-value">
  <tr>
    <td><%= Work::Job.human_attribute_name(:title) %></td>
    <td><%= job.title %></td>
  </tr>
  <tr>
    <td><%= Work::Job.human_attribute_name(:hours) %></td>
    <td>
      <%= job.hours_formatted %> hours
      <% "(#{job.hours_per_shift} per shift)" if job.hours_per_shift %>
    </td>
  </tr>
  <tr>
    <td><%= Work::Job.human_attribute_name(:requester) %></td>
    <td><%= job.requester_name %></td>
  </tr>
  <tr>
    <td><%= Work::Job.human_attribute_name(:time_type) %></td>
    <td><%= t("simple_form.options.work_job.time_type.#{job.time_type}") %></td>
  </tr>
  <tr>
    <td><%= Work::Job.human_attribute_name(:slot_type) %></td>
    <td><%= t("simple_form.options.work_job.slot_type.#{job.slot_type}") %></td>
  </tr>
  <tr>
    <td><%= Work::Job.human_attribute_name(:double_signups_allowed) %></td>
    <td><%= t("common.#{job.double_signups_allowed.to_s}") %></td>
  </tr>
  <% if reminders.any? %>
    <tr>
      <td><%= Work::Job.human_attribute_name(:reminders) %></td>
      <td>
        <ul>
          <% reminders.each do |reminder| %>
            <li><%= reminder.to_s %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
  <tr>
    <td><%= Work::Job.human_attribute_name(:shifts) %></td>
    <td>
      <% job.shifts.decorate.each do |shift| %>
        <%= shift.times %>
        <ul><%= shift.assginees_with_empty_slots(style: :li) %></ul>
      <% end %>
    </td>
  </tr>
</table>
<br/>
<%= safe_render_markdown(job.description) %>
