<%= safe_render_markdown(t("password.strength_info")) %>
<%= f.input(:password, label: "New Password", autofocus: true) %>
<%= f.input(:password_confirmation, label: "Re-type New Password") %>
<%= form_actions do %>
  <div class="secondary-links">
    <%= link_to("Reveal passwords", "#", id: "reveal-link") %>
    <%= link_to("Mask passwords", "#", id: "mask-link", style: "display: none") %>
  </div>
  <div class="buttons">
    <%= f.button(:primary, :set_password) %>
  </div>
<% end %>
<%= javascript_tag do %>
  $(function() {
    new Gather.Views.People.PasswordFormView({el: '.user-form'});
  });
<% end %>
