<%= gather_form_for(protocol) do |f| %>
  <h2><%= t("reservations/protocol.applicability") %></h2>

  <%= f.input(:resource_ids, collection: @resource_options, label_method: :name,
                             input_html: {
                               multiple: "multiple",
                               "data-placeholder": t("simple_form.placeholders.reservations_protocol.resource_ids")
                             }) %>

  <% if @kind_options.any? %>
    <%= f.input(:kinds, collection: @kind_options,
                        input_html: {
                          multiple: "multiple",
                          "data-placeholder": t("simple_form.placeholders.reservations_protocol.kinds")
                        }) %>
  <% else %>
    <%= f.input(:kinds) do %>
      <%= t("reservations/protocol.no_kinds_html", url: admin_settings_path(type: "community")) %>
    <% end %>
  <% end %>


  <h2><%= t("reservations/protocol.rules") %></h2>

  <%= form_actions do %>
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
<% end %>

<%= javascript_tag do %>
  $(function() {
    new Gather.Views.DirtyChecker({el: '.reservations--protocol-form'});
    $("#reservations_protocol_resource_ids").select2();
    $("#reservations_protocol_kinds").select2();
  });
<% end %>
