<% if @charges.any? %>
  <h4>Charges</h4>
  <table class="index charges">
    <%= render("transactions/charge_header") %>
    <% @charges.each do |txn| %>
      <%= render("transactions/charge_row", txn: txn) %>
    <% end %>
    <%= render("transactions/total_row", total: @total_charges, type: :charge) %>
  </table>
<% end %>

<% if @credits.any? %>
  <h4>Payments/Credits</h4>
  <table class="index credits">
    <%= render("transactions/credit_header") %>
    <% @credits.each do |txn| %>
      <%= render("transactions/credit_row", txn: txn) %>
    <% end %>
    <%= render("transactions/total_row", total: @total_credits, type: :credit) %>
  </table>
<% end %>
