<tr>
  <td class="col-md-1"><%= l(txn.incurred_on, format: :short_date) %></td>
  <td class="col-md-1"><%= t("transaction_codes.#{txn.code}") %></td>
  <td class="col-md-4">
    <% if txn.statementable.present? %>
      <%= link_to(txn.description, polymorphic_path(txn.statementable)) %>
    <% else %>
      <%= txn.description %>
    <% end %>
  </td>
  <td class="col-md-1 num"><%= txn.quantity %></td>
  <td class="col-md-1 num"><%= currency_with_cr(txn.unit_price) %></td>
  <td class="col-md-1 num">
    <%= currency_with_cr_span(txn.amount) %>
  </td>
</tr>
