<% content_for(:title, "Confirm Transaction") %>

<%= gather_form_for([@account, @transaction],
      width: :full, url: account_transactions_path(@account)) do |f| %>

  <%= hidden_field_tag :account_id, @account.id %>
  <%= hidden_field_tag :confirmed, "1" %>
  <%= f.hidden_field :incurred_on %>
  <%= f.hidden_field :code  %>
  <%= f.hidden_field :description %>
  <%= f.hidden_field :amount  %>

  <p>
    Below is how the new transaction will appear on the household's statement.
    Transactions cannot be edited once they are created.
    Please verify the information below is correct.
  </p>

  <table class="key-value key-value-narrow">
    <tr>
      <td>Household</td>
      <td>
        <%= @transaction.household_name %>
      </td>
    </tr>
  </table>

  <table class="index">
    <%= render("transactions/#{@transaction.chg_crd}_header") %>
    <%= render("transactions/#{@transaction.chg_crd}_row", txn: @transaction) %>
  </table>

  <%= render("shared/confirm_buttons", f: f) %>
<% end %>
