<% content_for(:title) do
    suffix = @account.household == current_user.household ? "" : ": #{@account.household_name}"
    "Recent Transactions#{suffix}"
  end
%>

<table class="key-value key-value-narrow">
  <tr>
    <td>Account Community</td>
    <td>
      <%= @community.name %>
    </td>
  </tr>
  <tr>
    <td>Household</td>
    <td>
      <%= @account.household_name %>
    </td>
  </tr>
  <tr>
    <td>Total Payments/Credits</td>
    <td>
      <%= currency_with_cr_span(@credits.sum(&:amount)) %>
    </td>
  </tr>
  <tr>
    <td>Total Charges</td>
    <td>
      <%= currency_with_cr_span(@charges.sum(&:amount)) %>
    </td>
  </tr>
</table>

<% if @transactions.none? %>
  <p class="inner">There are no recent transactions for this account.</p>
<% else %>
  <%= render("charges_and_credits") %>
<% end %>
