<% content_for(:title) do
    suffix = account.household == current_user.household ? "" : ": #{account.household_name}"
    "Recent Activity#{suffix}"
  end
%>

<table class="key-value key-value-narrow">
  <% if multi_community? %>
    <tr>
      <td>Account Community</td>
      <td><%= @community.name %></td>
    </tr>
  <% end %>
  <tr>
    <td>Account Number</td>
    <td><%= account.number_padded %></td>
  </tr>
  <tr>
    <td>Household</td>
    <td><%= account.household_name %></td>
  </tr>
</table>

<h2>Activity</h2>

<% if transactions.none? && last_statement.nil? %>
  <div class="center-notice">There is no activity on this account.</div>
<% else %>
  <%= render(layout: "txn_table") do %>
    <tr>
      <td><%= l(last_statement&.created_on, format: :short_date) %></td>
      <td></td>
      <td>Last statement balance</td>
      <td></td>
      <td></td>
      <td class="num"><%= currency_with_cr_span(last_statement&.total_due || 0) %></td>
    </tr>

    <%= render("transactions/txn_rows", transactions: transactions) %>

    <tr class="total">
      <td></td>
      <td></td>
      <td>Current balance</td>
      <td></td>
      <td></td>
      <td class="num"><%= currency_with_cr_span(account.current_balance) %></td>
    </tr>
  <% end %>
<% end %>
