<% hidden = f.object.marked_for_destruction? ? "hidden" : "" %>
<% dupe = @dupes.include?(f.object) ? "dupe" : "" %>
<tr class="nested-fields <%= dupe %> <%= hidden %>">
  <td>
    <% if f.object.persisted? %>
      <%= f.object.household.decorate.name %>
    <% else %>
      <%= f.select(:household_id, household_selected_option(f.object.household.try(:decorate)), {},
        class: "form-control", data: {
          "select2-src" => "households",
          "select2-label-attr" => "name",
          "select2-prompt" => t("select2_prompts.household"),
          "select2-context" => "finalize"
      }) %>
    <% end %>
  </td>
  <% Signup::DINER_TYPES.each do |dt| %>
    <% Signup::FOOD_TYPES.each do |ft| %>
      <% hide_select = f.object.persisted? && f.object.count_for(dt, ft) == 0 %>
      <% if @meal.formula.allows_signup_type?(dt, ft) %>
        <td class="count">
          <%= f.select("#{dt}_#{ft}",
            (0..Signup::MAX_PEOPLE_PER_TYPE).to_a.map do |i|
              [i == 0 ? "" : i, i]
            end,
            { include_blank: false },
            class: "select form-control #{hide_select ? 'zero' : ''}") %>
          <% if hide_select %>
            <a href="#" class="xyz" onclick="$(this).hide().closest('td').find('select').show(); return false"><%= icon_tag("plus") %></a>
          <% end %>
        </td>
      <% end %>
    <% end %>
  <% end %>
  <td class="remove"><%= link_to_remove_association(icon_tag("trash"), f) %></td>
</tr>
