<% hidden = f.object.marked_for_destruction? ? "hidden" : "" %>
<% dupe = @dupes.include?(f.object) ? "dupe" : "" %>
<%# household may be nil when cocoon is building the template %>
<% household = f.object.household.try(:decorate) %>
<tr class="nested-fields <%= dupe %> <%= hidden %>">
  <td>
    <% if f.object.persisted? %>
      <%= household.name_with_prefix %>
    <% else %>
      <%= f.select(:household_id, household.try(:selected_option) || "", {},
        class: "form-control", data: {
          "select2-src" => "households",
          "select2-label-attr" => "name_with_prefix",
          "select2-prompt" => t("select2.prompts.household"),
          "select2-context" => "finalize"
      }) %>
      <%= f.error :household_id %>
      <%= f.error :base %>
    <% end %>
  </td>
  <% Signup::DINER_TYPES.each do |dt| %>
    <% if @meal.formula.allows_diner_type?(dt) %>
      <% Signup::FOOD_TYPES.each do |ft| %>
        <% hide_select = f.object.persisted? && f.object.count_for(dt, ft) == 0 %>
        <td class="count">
          <%= f.select("#{dt}_#{ft}",
            (0..Signup::MAX_PEOPLE_PER_TYPE).to_a.map do |i|
              [i == 0 ? "" : i, i]
            end,
            { include_blank: false },
            class: "select form-control #{hide_select ? 'zero' : ''}") %>
          <% if hide_select %>
            <a href="#" class="expander"
              onclick="$(this).hide().closest('td').find('select').show(); return false">
              <%= icon_tag("plus") %>
            </a>
          <% end %>
        </td>
      <% end %>
    <% end %>
  <% end %>
  <td class="remove"><%= link_to_remove_association(icon_tag("trash"), f) %></td>
</tr>
