<% content_for(:title, "Finalize Meal: #{@meal.title || "Untitled"}") %>

<%= render("meals/meals/time_cook") %>

<%= gather_form_for(@meal, width: :full, name: "finalize",
  url: meal_finalize_path, method: :post) do |f| %>

  <%= hidden_field_tag :confirmed, "1" %>

  <table class="index confirm">
    <tr>
      <th>Household</th>
      <% meal.types.each do |type| %>
        <th><%= type.name %></th>
      <% end %>
    </tr>
    <tr class="cost">
      <td><strong>Calculated Cost</strong></td>
      <% meal.types.each do |type| %>
        <td><%= number_to_currency(@calculator.price_for(type)) %></td>
      <% end %>
    </tr>
    <% signups.reject(&:marked_for_destruction?).each do |signup| %>
      <tr>
        <td><%= signup.household_name %></td>
        <% meal.types.each do |type| %>
          <td class="count"><%= signup.count_or_blank(type) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <h2>Cook Reimbursement Request</h2>
  <table class="key-value key-value-narrow">
    <tr>
      <td><%= t("activerecord.attributes.meals/cost.ingredient_cost") %></td>
      <td><strong><%= number_to_currency(@cost.ingredient_cost) %></strong></td>
    </tr>
    <tr>
      <td><%= t("activerecord.attributes.meals/cost.pantry_cost") %></td>
      <td><strong><%= number_to_currency(@cost.pantry_cost) %></strong></td>
    </tr>
    <tr>
      <td><%= t("activerecord.attributes.meals/cost.payment_method") %></td>
      <td>
        <strong><%= t("simple_form.options.meals_meal.cost.payment_method.#{@cost.payment_method}") %></strong>
      </td>
    </tr>
  </table>

  <%# Hidden data to be resubmitted %>
  <div class="hidden">
    <%= render("meals/meals/form/signups", f: f) %>
    <%= render("meals/meals/form/expenses", f: f) %>
  </div>

  <%= render("shared/confirm_buttons", f: f) %>
<% end %>
