<tr>
  <td>Number of Users</td>
  <td><%= subscription.quantity %></td>
</tr>
<tr>
  <td>Currency</td>
  <td><%= subscription.currency.upcase %></td>
</tr>
<tr>
  <td>Price Per User</td>
  <td><%= subscription.price_per_user %> / month</td>
</tr>
<tr>
  <td>Months Per Bill Cycle</td>
  <td><%= subscription.months_per_period %></td>
</tr>
<tr class="emphasis">
  <td>Total Payment</td>
  <td>
    <%= subscription.total_payment_with_months %>
    <% if local_assigns[:prior_to_payment] %>
      <% if subscription.start_date > Time.zone.today %>
        <p>
          You will enter your payment details now but you won't be charged until <%= I18n.l(subscription.start_date) %>.
        </p>
      <% elsif subscription.start_date < Time.zone.today %>
        <p>
          Your first payment will be prorated to cover the days elapsed since <%= I18n.l(subscription.start_date) %>.
        </p>
      <% end %>
    <% end %>
  </td>
</tr>
