<% content_for(:title, "Job Templates") %>
<% content_for(:top_buttons) do %>
  <% if policy(sample_template).create? %>
    <%= link_to(icon_tag("plus") << " Create Template",
      new_work_job_template_path, class: "btn btn-primary") %>
  <% end %>
<% end %>

<% if templates.empty? %>
  <div class="none-found">
    No templates found.
  </div>
<% else %>
  <table class="index part-width">
    <thead>
      <tr>
        <th><%= Work::JobTemplate.human_attribute_name(:title) %></th>
        <th><%= Work::JobTemplate.human_attribute_name(:requester_id) %></th>
        <th><%= Work::JobTemplate.human_attribute_name(:hours) %></th>
      </tr>
    </thead>
    <tbody>
      <% templates.each do |template| %>
        <tr>
          <td class="title"><%= link_to(template.title, edit_work_job_template_path(template)) %></td>
          <td class="requester"><%= template.requester_name %></td>
          <td class="hours"><%= template.hours_formatted %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
