<tr>
  <td class="col-md-1"><%= txn.incurred_on.to_s(:short_date) %></td>
  <td class="col-md-1"><%= t("line_item_codes.#{txn.code}") %></td>
  <td class="col-md-4">
    <% if txn.statementable.present? %>
      <%= link_to(txn.description, polymorphic_path(txn.statementable)) %>
    <% else %>
      <%= txn.description %>
    <% end %>
  </td>
  <td class="col-md-1 num"><%= txn.quantity %></td>
  <td class="col-md-1 num"><%= currency_with_cr(txn.unit_price) %></td>
  <td class="col-md-1 num">
    <%= currency_with_cr_span(txn.amount) %>
  </td>
</tr>
