<%# This wrapper is needed to get the gray background to go all the way across the browser viewport,
  while the footer content maxes out at 1200px. %>
<div id="global-footer-wrapper">
  <footer id="global-footer" class="hidden-print footer-links">
    v<%= app_version %>&nbsp;
    <%= link_to("Privacy Policy", "/about/privacy-policy") %>&nbsp;&nbsp;
    <%= link_to("Credits", "https://github.com/sassafrastech/gather/blob/master/credits.md") %>
    <% if current_user && current_community %>
      <% if policy(current_community).update? %>
        &nbsp;
        <%= link_to("Settings", admin_settings_url(type: "community")) %>
      <% end %>
      <% if policy(Subscription::Subscription.new(community: current_community)).show? %>
        &nbsp;
        <%= link_to("Subscription", subscription_url) %>
      <% end %>
      <% if policy(Billing::Account.new(community: current_community)).index? %>
        &nbsp;
        <%= link_to("Billing", accounts_url) %>
      <% end %>
      <% if policy(Community.new).index? %>
        &nbsp;
        <%= link_to("Communities", communities_url) %>
      <% end %>
    <% end %>

    <%# For test purposes only. Security risk otherwise. %>
    <% if Rails.env.test? %>
      <div id="url"><%= request.url %></div>
    <% end %>
  </footer>
</div>
