<% @title = yield(:title) || (raise "No page title given") %>
<!DOCTYPE html>
<html>
<head>
  <title>MESS: <%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div id="user-info">
    <% if current_user %>
      <%= link_to(current_user.google_email, edit_user_path(current_user)) %> |
      <%= link_to("Logout", destroy_user_session_path, method: :delete) %>
    <% else %>
      <%= link_to "Login with Google", user_omniauth_authorize_path(:google_oauth2) %>
    <% end %>
  </div>

  <h1><i class="fa fa-cutlery"></i> MESS</h1>
  <div id="menu">
    <%= link_to "Users", users_path %>
  </div>
</header>

<div id="content" class="<%= controller.controller_name %>">
  <%= flash_messages %>

  <h1><%= @title %></h1>

  <%= yield %>
</div>

</body>
</html>
