<% (@title = yield(:title)) && @title.blank? && (raise "No page title given") %>
<% (@title_footnote = yield(:title_footnote)) %>
<% @title_no_html = yield(:title_no_html) %>
<!DOCTYPE html>
<html>
<head>
  <%= render("layouts/head") %>
</head>
<body>
  <div id="navs" class="hidden-print">
    <% if impersonated_user %>
      <div id="impersonation-notice" class="hidden-print">
        You are impersonating <%= impersonated_user.name %>. Any actions you take will appear to have
        been taken by them.
        <%= link_to("Stop Impersonating", unimpersonate_user_path(impersonated_user), method: :post) %>
      </div>
    <% end %>
    <%# DESKTOP/TABLET NAVS %>
    <nav class="navbar navbar-default hidden-xs">
      <div class="nav-wrapper">
        <div class="logo nav-1 hidden-sm">
          <%= link_to(image_tag("logo-white.png"), logo_link_url, alt: "Home") %>
        </div>
        <div class="nav-2-3-4">
          <div class="nav-2-3">
            <div class="logo nav-2 hidden visible-sm">
              <%= link_to(image_tag("logo-white.png"), logo_link_url, alt: "Home") %>
            </div>
            <div class="nav-3 personal-nav">
              <a href="#content" id="skip-link">
                Skip to Content
              </a>
              <% if user_signed_in? && current_community %>
                <ul class="nav">
                  <%= render("layouts/personal_dropdown") %>
                </ul>
              <% end %>
            </div>
          </div>
          <div class="main-nav">
            <% if user_signed_in? && current_community %>
              <ul class="nav">
                <% nav_builder.main_items(display: :desktop).each do |item| %>
                  <li class="<%= "active" if item[:active] %>">
                    <%= nav_builder.link(item, icon: false) %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <% if nav_builder.context[1] && (items = nav_builder.sub_items).size > 1 %>
      <nav class="subnav hidden-xs">
        <ul class="nav nav-tabs" role="tablist">
          <% items.each do |item| %>
            <li role="presentation" class="<%= item[:active] ? 'active' : '' %>">
              <%= nav_builder.link(item, tab: true) %>
            </li>
          <% end %>
        </ul>
      </nav>
    <% end %>

    <%# MOBILE NAVS %>
    <nav class="navbar navbar-default hidden visible-xs">
      <div class="container-fluid" class="nav-wrapper">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#mobile-nav" aria-expanded="false" aria-label="Show menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to(image_tag("logo-white.png"), logo_link_url, class: "logo", alt: "Home") %>
        </div>

        <% if user_signed_in? && current_community %>
          <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="nav navbar-nav mobile-nav">
              <% nav_builder.main_items(display: :mobile).each do |item| %>
                <% if (sub_items = nav_builder.sub_items(item[:name])).size > 1 %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                      aria-haspopup="true" aria-expanded="false" aria-label="Show menu">
                      <%= icon_tag(item[:icon]) %>
                      <%= t("nav_links.main.#{item[:name]}") %>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <% sub_items.each do |sub_item| %>
                        <li><%= nav_builder.link(sub_item) %></li>
                      <% end %>
                    </ul>
                  </li>
                <% else %>
                  <li><%= nav_builder.link(item) %></li>
                <% end %>
              <% end %>
              <%= render("layouts/personal_dropdown") %>
            </ul>
          </div>
        <% end %>
      </div>
    </nav>
  </div>

  <div id="main-row">
    <% if nav_builder.sub_sub_items.present? %>
      <nav id="subsubnav" class="hidden-print">
        <ul>
          <% nav_builder.sub_sub_items.each do |item| %>
            <%= content_tag(:li, class: item[:active] ? "active" : nil) do %>
              <%= nav_builder.link(item, icon: false) %></li>
            <% end %>
          <% end %>
        </ul>
      </nav>
    <% end %>

    <main id="content" class="<%= controller.controller_name.dasherize %>
      <%= controller.controller_path.gsub("/", "--").dasherize %>
      action-<%= controller.action_name.dasherize %> clearfix">
      <%= inline_svg("logo-light-bg.svg", id: "print-logo") %>

      <%= flash_messages %><%# These are from the controller via the `flash` array %>
      <%= yield(:flashes) %><%# These are from the view via `content_for` %>
      
      <div class="visible-xs mobile-back">
        <%= yield(:mobile_back_link) %>
      </div>

      <div class="title-and-buttons">
        <% title_icons = yield(:title_icons) %>
        <h1 class="hidden-print">
          <%= @title %>
          <%= content_tag(:span, @title_footnote, class: "title-footnote") %>
          <%= title_icons %>
        </h1>
        <h1 class="print-title visible-print">
          <%= yield(:print_title).presence || @title %>
          <%= content_tag(:span, @title_footnote, class: "title-footnote") %>
          <%= title_icons %>
        </h1>
        <div class="top-buttons hidden-print">
          <%= lenses.html(position: "upper") if lenses&.visible? %>
          <div class="action-links">
            <%= yield(:action_links) %>
          </div>
        </div>
      </div>
      <%= lenses.html(position: "lower") if lenses&.visible? %>

      <%= yield %>
    </main>
  </div>

  <%= render("layouts/footer") %>

  <div id="glb-load-ind" class="foreground-loader hiding">
    <%= image_tag("glb-load-ind.gif", alt: "Loading indicator") %>
    <div>Loading</div>
  </div>

  <%= render("layouts/error_modal") %>

  <div class="add-to-home">
    <div class="btn btn-primary">Add Gather To Your Home Screen</div>
    <a href="#" class="opt-out">&times;</a>
  </div>

  <%= javascript_tag do %>
    $(function() {
      new Gather.Views.AddToHomeScreenView({el: '.add-to-home', host: <%=json Settings.url.host %>});
      <% if current_user && current_user.created_at < Time.zone.parse("2021-06-01") &&
           !current_user.settings["calendar_popover_dismissed"] %>
        new Gather.Views.CalendarNavLinkPopoverView({el: '#navs'});
      <% end %>
    });
  <% end %>
</body>
</html>
