<% (@title = yield(:title)) && @title.blank? && (raise "No page title given") %>
<!DOCTYPE html>
<html>
<head>
  <title>MESS: <%= @title %></title>
  <%= render("layouts/head") %>
</head>
<body>

<header>
  <div>
    <div id="user-info">
      <% if current_user %>
        <%= link_to(current_user.google_email, edit_user_path(current_user)) %> |
        <%= link_to("Logout", destroy_user_session_path, method: :delete) %>
      <% else %>
        <%= link_to "Login with Google", user_omniauth_authorize_path(:google_oauth2) %>
      <% end %>
    </div>

    <h1><%= icon_tag('cutlery') %> MESS</h1>
    <div id="menu">
      <% if current_user %>
        <%= link_to "Meals", meals_path %>&nbsp;
        <%= link_to "Work Calendar", work_calendar_meals_path %>&nbsp;
        <%= link_to "Users", users_path %>
      <% end %>
    </div>
  </div>
</header>

<div id="content" class="<%= controller.controller_name %> action-<%= controller.action_name %>">
  <%= flash_messages %>

  <h1><%= @title %></h1>

  <%= yield %>
</div>

<footer class="clearfix">
</footer>

</body>
</html>
