<% (@title = yield(:title)) && @title.blank? && (raise "No page title given") %>
<% @title_no_html = yield(:title_no_html) %>
<!DOCTYPE html>
<html>
<head>
  <%= render("layouts/head") %>
</head>
<body>
  <div id="navs" class="hidden-print">
    <% if impersonated_user %>
      <div id="impersonation-notice" class="hidden-print">
        You are impersonating <%= impersonated_user.name %>. Any actions you take will appear to have
        been taken by them.
        <%= link_to("Stop Impersonating", unimpersonate_user_path(impersonated_user), method: :post) %>
      </div>
    <% end %>
    <%# DESKTOP/TABLET NAVS %>
    <nav class="navbar navbar-default hidden-xs">
      <table class="nav-wrapper">
        <tr>
          <td class="logo" rowspan="2">
            <%= link_to(image_tag("logo-white.png"), logo_link_url) %>
          </td>
          <td class="personal-nav">
            <% if user_signed_in? %>
              <ul class="nav">
                <%= render("layouts/personal_dropdown") %>
              </ul>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="main-nav">
            <% if user_signed_in? %>
              <ul class="nav">
                <% nav_items.each do |item| %>
                  <li class="<%= item[:active] ? 'active' : '' %>">
                    <%= link_to(t("nav_links.main.#{item[:name]}"),
                      item[:path], class: "icon-bar") %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </nav>
    <% if @context[:subsection] && (items = subnav_items).size > 1 %>
      <nav class="subnav hidden-xs">
        <ul class="nav nav-tabs" role="tablist">
          <% items.each do |item| %>
            <li role="presentation" class="<%= item[:active] ? 'active' : '' %>">
              <%= nav_link(item, tab: true) %>
            </li>
          <% end %>
        </ul>
      </nav>
    <% end %>

    <%# MOBILE NAVS %>
    <nav class="navbar navbar-default hidden visible-xs">
      <div class="container-fluid" class="nav-wrapper">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#mobile-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to(image_tag("logo-white.png"), logo_link_url, class: "logo") %>
        </div>

        <% if user_signed_in? %>
          <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="nav navbar-nav mobile-nav">
              <% nav_items.each do |item| %>
                <% if (sub_items = subnav_items(item[:name])).size > 1 %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                      aria-haspopup="true" aria-expanded="false">
                      <%= icon_tag(item[:icon]) %>
                      <%= t("nav_links.main.#{item[:name]}") %>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <% sub_items.each do |sub_item| %>
                        <li><%= nav_link(sub_item) %></li>
                      <% end %>
                    </ul>
                  </li>
                <% else %>
                  <li><%= nav_link(item) %></li>
                <% end %>
              <% end %>
              <%= render("layouts/personal_dropdown") %>
            </ul>
          </div>
        <% end %>
      </div>
    </nav>
  </div>

  <div id="content" class="<%= controller.controller_name.dasherize %>
    <%= controller.controller_path.gsub("/", "--").dasherize %>
    action-<%= controller.action_name.dasherize %> clearfix">
    <%= inline_svg("logo-light-bg.svg", id: "print-logo") %>

    <%= flash_messages %><%# These are from the controller via the `flash` array %>
    <%= yield(:flashes) %><%# These are from the view via `content_for` %>

    <div class="title-and-buttons">
      <% title_icons = yield(:title_icons) %>
      <h1 class="hidden-print"><%= @title %> <%= title_icons %></h1>
      <h1 class="print-title visible-print">
        <%= yield(:print_title).presence || @title %> <%= title_icons %>
      </h1>
      <div class="top-buttons hidden-print">
        <%= lenses.bar(position: "upper") if lenses.try(:visible?) %>
        <%= yield(:top_buttons) %>
      </div>
    </div>
    <%= lenses.bar(position: "lower") if lenses.try(:visible?) %>

    <%= yield %>
  </div>

  <%= render("layouts/footer") %>

  <div id="glb-load-ind">
    <%= image_tag("glb-load-ind.gif") %>
    Loading
  </div>

  <%= render("layouts/error_modal") %>

  <div class="add-to-home">
    <div class="btn btn-primary">Add Gather To Your Home Screen</div>
    <a href="#" class="opt-out">&times;</a>
  </div>

  <%= javascript_tag do %>
    $(function() {
      new Gather.Views.AddToHomeScreenView({el: '.add-to-home'});
    });
  <% end %>
</body>
</html>
