<!DOCTYPE html>
<html>
<head>
  <title>Mess</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div id="user-info">
    <% if current_user %>
      <%= current_user.google_email %> |
      <%= link_to("Logout", destroy_user_session_path, method: :delete) %>
    <% else %>
      <%= link_to "Login with Google", user_omniauth_authorize_path(:google_oauth2) %>
    <% end %>
  </div>

  <h1>MESS</h1>
</header>

<%= flash_messages %>

<%= yield %>

</body>
</html>
