<!DOCTYPE html>
<html>
<head>
  <title>MESS</title>
  <%= render("layouts/head") %>
</head>
<body class="home">
  <div id="box">
    <div id="logo">
      <%= image_tag("logo-tagline-white.png") %>
    </div>
    <div id="home-content">
      <%= yield %>
    </div>
    <div id="coho-logos">
      <%= image_tag("sunward.png") %><%= image_tag("touchstone.png") %><%= image_tag("great-oak.png") %>
    </div>
  </div>
</body>
</html>
