<% if @has_activity %>
  <%= render("accounts/synopsis") %>
  <div class="row">
    <div class="col-sm-6">
      <%= render("accounts/summary", footnotes: footnotes) %>
      <%= render("accounts/statement_list") %>
    </div>
    <div class="col-sm-6">
      <%= render("accounts/payment_instructions") %>
      <%= render("accounts/other_accounts") %>
    </div>
  </div>
<% else %>
  There is no activity on this account.
<% end %>
