<% if @has_activity %>
  <%= render("accounts/synopsis") %>
  <div class="row">
    <div class="col-sm-6">
      <%= render("accounts/summary", footnotes: footnotes) %>
      <%= render("accounts/statement_list") %>
    </div>
    <div class="col-sm-6">
      <%= render("accounts/payment_instructions") %>
      <% if @accounts.size > 1 %>
        <% cls = @community.settings.billing.payment_instructions ? "inner" : "top" %>
        <h2 class="<%= cls %>">Looking For Another Account?</h2>
        <%= t("accounts.several", count: @accounts.size) %>
      <% end %>
    </div>
  </div>
<% else %>
  There is no activity on this account.
<% end %>
