<% if @has_activity %>
  <div class="row">
    <% if @last_statement %>
      <div class="col-sm-6">
        <h2>
          Current Statement&nbsp;
          <%= link_to("View", statement_path(@last_statement)) %>
        </h2>

        <table class="key-value key-value-full">
          <tr>
            <td>Statement Date</td>
            <td>
              <%= l(@account.last_statement_on, format: :short_date) || "N/A" %>
            </td>
          </tr>
          <tr>
            <td>Payments/Credits</td>
            <td>
              <%= @last_statement ? currency_with_cr(@last_statement.total_credits) : "N/A" %>
            </td>
          </tr>
          <tr>
            <td>Charges</td>
            <td>
              <%= @last_statement ? currency_with_cr(@last_statement.total_charges) : "N/A" %>
            </td>
          </tr>
          <tr>
            <td><strong>Pay This Amount</strong></td>
            <td>
              <strong><%= currency_with_cr(@account.balance_due) %></strong>
              <% if footnotes && @account.balance_due >= 0.01 %>
                <strong>*</strong>
              <% end %>
            </td>
          </tr>
        </table>

        <% if footnotes && @account.balance_due >= 0.01 %>
          <div class="footnote">
            <strong>*</strong> This is the amount you currently owe. It is the amount due on your last
            statement minus any payments received since then.
            If you have already sent payment but it is not reflected here, please disregard.
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="col-sm-6">
      <h2>
        <%= @last_statement ? "Activity Since Current Statement" : "Recent Activity" %>&nbsp;
        <%= link_to("View", account_transactions_path(@account)) %>
      </h2>

      <table class="key-value key-value-full">
        <tr>
          <td>Payments/Credits</td>
          <td>
            <%= currency_with_cr(@account.total_new_credits) %>
          </td>
        </tr>
        <tr>
          <td>Charges</td>
          <td>
            <%= currency_with_cr(@account.total_new_charges) %>
          </td>
        </tr>
        <tr>
          <td>Current Balance</td>
          <td>
            <%= currency_with_cr(@account.current_balance) %>
            <% if cr_lim_footnote = footnotes && @account.current_balance >= 0.01 && @account.credit_limit %>
              <strong>**</strong>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Credit Limit</td>
          <td>
            <%= credit_limit(@account) %>
          </td>
        </tr>
      </table>
      <% if cr_lim_footnote %>
        <div class="footnote">
          <strong>**</strong> This balance includes charges and credits since your last statement.
            If it exceeds your credit limit, you will not be able to sign up for meals.
        </div>
      <% end %>
    </div>
  </div>

  <% if @statements.any? %>
    <div class="row">
      <div class="col-sm-6">
        <h2 class="inner">All Statements</h2>

        <table class="index">
          <tr>
            <th>Date</th>
            <th>Activity</th>
            <th>Total Due</th>
          </tr>
          <%= render("statements/statement_rows") %>
        </table>
      </div>
      <div class="col-sm-6"><%= payment_instructions %></div>
    </div>
  <% end %>
<% else %>
  There is no activity on this account.
<% end %>
