<% if @has_activity %>
  <%= render("accounts/topline") %>
  <div class="row">
    <div class="col-sm-6">
      <%= render("accounts/summary", footnotes: footnotes) %>
      <%= render("accounts/statement_list") %>
    </div>
    <div class="col-sm-6">
      <%= payment_instructions %>

      <% if @accounts.size > 1 %>
        <h2 class="inner">Looking For Another Account?</h2>
        <%= t("accounts.several", count: @accounts.size) %>
      <% end %>
    </div>
  </div>
<% else %>
  There is no activity on this account.
<% end %>
