<% content_for(:title) { "Accounts" } %>

<% content_for(:top_buttons) do %>
  <strong>
    <% unless @active_accounts == 0 %>
      <% if @late_fee_count > 0 %>
        <%= link_to(icon_tag("thumbs-down") << " Apply Late Fees", apply_late_fees_accounts_path,
          method: :put, class: "btn btn-default",
          data: { confirm: late_fee_confirm }) %>
      <% end %>

      <%= link_to(icon_tag("send") << " Send Statements", generate_statements_path,
        method: :post, class: "btn btn-primary", data: { confirm: statement_confirm_msg}) %>
    <% end %>
  </strong>
<% end %>

<% if @accounts.empty? %>
  <div class="none-found">
    No accounts found.
  </div>
<% else %>
  <p class="subtitle">
    <ul>
      <li><%= t(".summary", count: @active_accounts) %></li>
      <% if @last_statement_run.present? %>
        <li><%= t(".last_statement_run", date: @last_statement_run.to_s(:short_date)) %></li>
      <% else %>
        <li><%= t(".statements_never_run") %></li>
      <% end %>
    </ul>
  </p>

  <table class="index">
    <tr>
      <th>Household</th>
      <th class="amount">Last Stmt. Date</th>
      <th class="amount">Due Last Stmt.</th>
      <th class="amount">New Credits</th>
      <th class="amount">Balance Due</th>
      <th class="amount">New Charges</th>
      <th class="amount">Current Balance</th>
      <th class="amount">Credit Limit</th>
      <th></th>
    </tr>
    <% @accounts.each do |account| %>
      <tr>
        <td>
          <%= link_to(account.household_name.html_safe << no_user_warning(account),
            account_path(account)) %>
        </td>
        <td class="amount">
          <%= account.last_statement_on.try(:to_s, :short_date) || "N/A" %>
        </td>
        <td class="amount">
          <%= statement_amount(account.last_statement) %>
        </td>
        <td class="amount">
          <%= link_to_currency_if_nonzero(account.total_new_credits, account_transactions_path(account)) %>
        </td>
        <td class="amount">
          <%= currency_with_cr(account.balance_due) %>
        </td>
        <td class="amount">
          <%= link_to_currency_if_nonzero(account.total_new_charges, account_transactions_path(account)) %>
        </td>
        <td class="amount">
          <strong><%= currency_with_cr(account.current_balance) %></strong>
        </td>
        <td class="amount">
          <%= credit_limit(account) %>
        </td>
        <td>
          <%= link_to(icon_tag("plus"), new_account_transaction_path(account), title: 'Add Transaction') %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
