<% content_for(:title){ "Accounts" } %>

<% content_for(:top_buttons) do %>
  <strong>
    <% unless @active_accounts == 0 %>
      <% if @late_fee_count > 0 %>
        <%= link_to(icon_tag("thumbs-down") << " Apply Late Fees", apply_late_fees_accounts_path,
          method: :put, class: "btn btn-default",
          data: { confirm: late_fee_confirm }) %>
      <% end %>

      <%= link_to(icon_tag("send") << " Send Statements", generate_statements_path,
        method: :post, class: "btn btn-primary",
        data: { confirm: "Are you sure? Statements will be sent out to #{@active_accounts} households."}) %>
    <% end %>
  </strong>
<% end %>

<% if @accounts.empty? %>
  <div class="none-found">
    No accounts found.
  </div>
<% else %>
  <p class="subtitle">
    <%= t(".summary", count: @active_accounts) %>

    <% if @last_statement_run.present? %>
      <%= t(".last_statement_run", date: @last_statement_run.to_s(:short_date)) %>
    <% else %>
      <%= t(".statements_never_run") %>
    <% end %>
  </p>

  <%= form_tag("/accounts/apply_payments", method: :put) do %>
    <table class="index">
      <tr>
        <th class="col-md-2">Household</th>
        <th class="col-md-1">Last Inv. Date</th>
        <th class="col-md-1">Due Last Inv.</th>
        <th class="col-md-1">New Credits</th>
        <th class="col-md-1">Balance Due</th>
        <th class="col-md-1">New Charges</th>
        <th class="col-md-1">Current Balance</th>
        <th class="col-md-1">Payment</th>
      </tr>
      <% @accounts.each do |account| %>
        <tr>
          <td class="col-md-2">
            <%= link_to(account.household_full_name, account.household) %>
          </td>
          <td class="col-md-1">
            <%= account.last_statement_on.try(:to_s, :short_date) || "N/A" %>
          </td>
          <td class="col-md-1">
            <%= statement_amount(account.last_statement) %>
          </td>
          <td class="col-md-1">
            <%= number_to_currency(account.total_new_credits) %>
          </td>
          <td class="col-md-1">
            <%= currency_with_cr(account.balance_due) %>
          </td>
          <td class="col-md-1">
            <%= number_to_currency(account.total_new_charges) %>
          </td>
          <td class="col-md-1">
            <strong><%= currency_with_cr(account.current_balance) %></strong>
          </td>
          <td class="col-md-1 payment">
            <input type="text" name="payment[<%= account.id %>]" class="form-control" />
          </td>
        </tr>
      <% end %>
    </table>
    <button type="submit" class="btn btn-default"><%= icon_tag('thumbs-up') %> Apply Payments</button>
  <% end %>
<% end %>