<% content_for(:title){ "Accounts" } %>

<% if @households.empty? %>
  <div class="none-found">
    No accounts found.
  </div>
<% else %>
  <table class="index">
    <tr>
      <th class="col-md-2">Household</th>
      <th class="col-md-1">Last Inv. Date</th>
      <th class="col-md-1">Due Last Inv.</th>
      <th class="col-md-1">Payments</th>
      <th class="col-md-1">Balance Due</th>
      <th class="col-md-1">New Charges</th>
      <th class="col-md-1">Current Balance</th>
    </tr>
    <% @households.each do |household| %>
      <% account = household.account %>
      <tr>
        <td class="col-md-2">
          <%= link_to(account.household_name, account_path(account)) %>
        </td>
        <td class="col-md-1">
          <%= account.last_invoiced_on.try(:to_s, :short_date) || "N/A" %>
        </td>
        <td class="col-md-1">
          <%= invoice_amount(account.last_invoice) %>
        </td>
        <td class="col-md-1">
          <%= number_to_currency(account.total_new_credits) %>
        </td>
        <td class="col-md-1">
          <%= number_to_currency(account.balance_due) %>
        </td>
        <td class="col-md-1">
          <%= number_to_currency(account.total_new_charges) %>
        </td>
        <td class="col-md-1">
          <strong><%= number_to_currency(account.current_balance) %></strong>
        </td>
      </tr>
    <% end %>
  </table>

  <%= paginate @households, params: {controller: 'accounts'} %>
<% end %>