<% content_for(:title, "Accounts") %>

<% content_for(:top_buttons) do %>
  <strong>
    <% if @active_accounts > 0 && @late_fee_count > 0 %>
      <%= link_to(icon_tag("thumbs-down") << " Apply Late Fees", apply_late_fees_accounts_path,
        method: :put, class: "btn btn-default",
        data: { confirm: late_fee_confirm }) %>
    <% end %>
    <% if @statement_accounts %>
      <%= link_to(icon_tag("send") << " Send Statements", generate_statements_path,
        method: :post, class: "btn btn-primary", data: { confirm: statement_confirm_msg}) %>
    <% end %>
  </strong>
<% end %>

<% if accounts.empty? %>
  <div class="center-notice">
    No accounts found.
  </div>
<% else %>
  <p class="subtitle">
    <%= icon_tag("info-circle") %>
    <%= t(".summary", count: @active_accounts) %>
    <%= t(".active_account_definition", count: @active_accounts) %>
  </p>
  <p class="subtitle">
    <%= icon_tag("info-circle") %>
    <% if @last_statement_run.present? %>
      <%= t(".last_statement_run", date: l(@last_statement_run)) %>
    <% else %>
      <%= t(".statements_never_run") %>
    <% end %>
  </p>

  <table class="index">
    <tr>
      <th>Num</th>
      <th>Household</th>
      <th class="amount">Last Stmt. Date</th>
      <th class="amount">Due Last Stmt.</th>
      <th class="amount">New Credits</th>
      <th class="amount">Balance Due</th>
      <th class="amount">New Charges</th>
      <th class="amount">Current Balance</th>
      <th class="amount">Credit Limit</th>
      <th></th>
    </tr>
    <% accounts.each do |account| %>
      <tr>
        <td>
          <%= account.number_padded %>
        </td>
        <td>
          <%= link_to(account.household_name.html_safe << no_user_warning(account),
            account_path(account)) %>
        </td>
        <td class="amount">
          <%= l(account.last_statement_on) || "N/A" %>
        </td>
        <td class="amount">
          <%= statement_amount(account.last_statement) %>
        </td>
        <td class="amount">
          <%= link_to_currency_if_nonzero(account.total_new_credits, account_transactions_path(account)) %>
        </td>
        <td class="amount">
          <%= currency_with_cr(account.balance_due) %>
        </td>
        <td class="amount">
          <%= link_to_currency_if_nonzero(account.total_new_charges, account_transactions_path(account)) %>
        </td>
        <td class="amount">
          <strong><%= currency_with_cr(account.current_balance) %></strong>
        </td>
        <td class="amount">
          <%= number_to_currency(account.credit_limit) %>
        </td>
        <td>
          <%= link_to(icon_tag("plus"), new_account_transaction_path(account), title: 'Add Transaction') %>
        </td>
      </tr>
    <% end %>
  </table>

  <footer id="local-footer" class="footer-links">
    <%= icon_tag("download") %> <%= link_to("Download Accounts as CSV", accounts_path(format: :csv)) %>
    &nbsp;&nbsp;
    <% if @txn_years %>
      <div class="export-link-with-form">
        <%= icon_tag("download") %> <%= link_to("Download Transactions as CSV", "#",
              onclick: "$(this).closest('.export-link-with-form')
                .find('form').css({display: 'inline-block'}); return false;") %>
        &nbsp;
        <%= form_tag(transactions_path(format: :csv), method: :get) do %>
          <%= select_tag(:year, options_for_select([["Select Year", nil]].concat(@txn_years)),
                onchange: "this.form.submit()") %>
        <% end %>
      </div>
    <% end %>
  </footer>
<% end %>
