<tr>
  <td>
    <% if context == :user %>
      Household <%= link_to(icon_tag("link"), household, class: "household") %>
    <% else %>
      Members
    <% end %>
  </td>
  <td>
    <%= safe_join(members.map { |u| link_to(u.first_name_with_inactive, u) }, ", ".html_safe) %>
  </td>
</tr>
<% if policy(household).show_personal_info? %>
  <% if context == :household || !child %>
    <% if household.vehicles.any? %>
      <tr>
        <td>Vehicles</td>
        <td>
          <% household.vehicles.each do |v| %>
            <div><%= v.to_s %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if household.garage_nums.present? %>
      <tr>
        <td>Garage</td>
        <td>#<%= household.garage_nums %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td>Emergency Contacts</td>
    <td><%= household.emergency_contacts_html %></td>
  </tr>
  <tr>
    <td>Pets</td>
    <td><%= household.pets_html %></td>
  </tr>
  <tr>
    <td>Extra Unit Keyholders</td>
    <td><%= household.keyholders %></td>
  </tr>
<% end %>
