<tr>
  <td>
    <% if context == :user %>
      Household <%= link_to(icon_tag("link"), household, class: "household") %>
    <% else %>
      Members
    <% end %>
  </td>
  <td>
    <%= safe_join(members.map { |u| link_to(u.first_name, u) }, ", ".html_safe) %>
  </td>
</tr>
<% if policy(household).show_personal_info? %>
  <% if context == :household || !child %>
    <% if household.vehicles.any? %>
      <tr>
        <td>Vehicles</td>
        <td>
          <% household.vehicles.each do |v| %>
            <div><%= v.to_s %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if household.garage_nums.present? %>
      <tr>
        <td>Garage</td>
        <td>#<%= household.garage_nums %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td>Emergency Contacts</td>
    <td>
      <% if (contacts = household.emergency_contacts).any? %>
        <% contacts.each do |contact| %>
          <div class="emergency-contact">
            <strong><%= contact.name_relationship %></strong><br/>
            <% lines = [contact.location] %>
            <% lines.concat(contact.phones.map { |p| phone_link(p) }) %>
            <% lines << link_to(contact.email, "mailto:#{contact.email}") if contact.email.present? %>
            <%= safe_join(lines, tag(:br)) %>
          </div>
        <% end %>
      <% else %>
        [None]
      <% end %>
    </td>
  </tr>
<% end %>
