<div class="row">
  <div class="col-sm-6">
    <%= f.input :name %>
  </div>
  <div class="col-sm-6">
    <%= f.input :relationship %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= f.input :main_phone, as: :tel, input_html: {value: f.object.phone(:main).formatted} %>
  </div>
  <div class="col-sm-6">
    <%= f.input :location %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= f.input :alt_phone, as: :tel, input_html: {value: f.object.phone(:alt).formatted} %>
  </div>
  <div class="col-sm-6">
    <%= f.input :email %>
  </div>
</div>
