<%= horizontal_form_for(@household) do |f| %>

  <%= f.input :name %>
  <%= f.input :community_id, collection: Community.by_name %>
  <%= f.input :unit_num %>

  <%= f.input :vehicles, error: false do %>
    <% if @household.errors[:vehicles].present? %>
      <div class="help-block">All fields are required</div>
    <% end %>
    <div class="nested-field-set">
      <%= f.simple_fields_for :vehicles do |vehicle| %>
        <%= render("households/vehicle_fields", f: vehicle) %>
      <% end %>
      <div><%= link_to_add_association 'Add Vehicle', f, :vehicles %></div>
    </div>
  <% end %>

  <% if @household.from_grot? %>
    <%= f.input :old_id %>
    <%= f.input :old_name %>
  <% end %>

  <%= form_actions do %>
    <% if policy(@household).deactivate? && !@household.new_record? && @household.active? %>
      <%= link_to(icon_tag("times-circle") << " Deactivate Household", deactivate_household_path(@household),
        class: "btn btn-default", method: :put,
        data: { confirm: I18n.t("activerecord.deact_confirms.household", name: @household.name) }) %>
    <% end %>
    <% if policy(@household).destroy? && !@household.new_record? %>
      <%= link_to(icon_tag("trash") << " Delete Household", household_path(@household),
        class: "btn btn-default", method: :delete,
        data: { confirm: I18n.t("activerecord.delete_confirms.household", name: @household.name) }) %>
    <% end %>
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>

  <%= javascript_tag do %>
    $(function(){
      new Mess.Views.DirtyChecker({el: '.household-form'});
    });
  <% end %>
<% end %>
