<div class="field-row">
  <%= f.input :name %>
  <%= f.input :species %>
  <%= f.input :color %>
</div>
<div class="field-row">
  <%= f.input :vet %>
</div>
<div class="field-row">
  <%= f.input :caregivers %>
</div>
<div class="field-row">
  <%= f.input :health_issues %>
</div>
