<% content_for(:title){ "Accounts" } %>

<% if @accounts.empty? %>

  There are not yet any charges associated with your household.

<% else %>

  <p class="subtitle">
    <%= t(".intro", count: @accounts.size) %>
  </p>

  <% if @accounts.size > 1 %>
    <form>
      Select Community:
      <%= select_tag(:community,
        options_from_collection_for_select(@communities, :id, :name, @account.community_id),
        class: "form-control", onchange: "this.form.submit()") %>
    </form>
  <% end %>

  <h4><%= @account.community.name %>: Account Overview</h4>

  <table class="key-value">
    <tr>
      <td>Last Statement Date</td>
      <td>
        <%= @account.last_statement_on.try(:to_s, :short_date) || "N/A" %>
      </td>
    </tr>
    <tr>
      <td>Last Statement Amount</td>
      <td>
        <%= statement_amount(@account.last_statement) %>
      </td>
    </tr>
    <tr>
      <td>New Payments/Credits</td>
      <td>
        <%= number_to_currency(@account.total_new_credits) %>
      </td>
    </tr>
    <tr>
      <td>Balance Due</td>
      <td>
        <%= number_to_currency(@account.balance_due) %>
        <% if @account.balance_due >= 0.01 %>
          <strong>*</strong>
        <% end %>
      </td>
    </tr>
  </table>

  <% if @account.balance_due >= 0.01 %>
    <strong>*</strong> <small>If you have already sent payment, please disregard.</small>
  <% end %>

  <% if @statements.any? %>
    <h4><%= @account.community.name %>: Past Statements</h4>

    <table class="index">
      <tr>
        <th class="col-md-1">Date</th>
        <th class="col-md-1">Activity</th>
        <th class="col-md-1">Total Due</th>
      </tr>
      <%= render("statement_rows") %>
    </table>
  <% end %>
<% end %>
