<% content_for(:title, "Household: #{household.name}") %>
<% content_for(:action_links, household.action_links) %>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4 photos <%= members.size <= 2 ? 'two-or-less' : 'three-or-more' %>">
        <% if members.any? %>
          <% members.each do |user| %><%= user.photo_if_permitted(:medium) %><% end %>
        <% else %>
          <%= image_tag("missing/users/medium.png", class: "photo", alt: "Missing user photo") %>
        <% end %>
      </div>
      <div class="col-sm-8">
        <table class="key-value key-value-full">
          <%= render("households/unit_community", household: household) %>
          <%= render("households/attribs",
                household: household,
                members: members,
                context: :household) %>
        </table>
      </div>
    </div>
  </div>
</div>
