<% content_for(:title) { "Household: #{@household.name}" } %>

<% content_for(:top_buttons) do %>
  <% if policy(@household).edit? %>
    <%= link_to(icon_tag("pencil") << " Edit Household",
      edit_household_path(@household), class: "btn btn-primary") %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-9 col-sm-12">
    <div class="row">
      <div class="col-sm-4 photos <%= @members.size <= 2 ? 'two-or-less' : 'three-or-more' %>">
        <% @members.each do |user| %><%= user_photo_if_permitted(user, :medium) %><% end %>
      </div>
      <div class="col-sm-8">
        <table class="key-value">
          <%= render("households/unit_community", household: @household) %>
          <%= render("households/attribs",
                household: @household,
                members: @members,
                context: :household) %>
        </table>
      </div>
    </div>
  </div>
</div>
