<p>
  <%= @community.name %> is using <a href="https://gather.coop">Gather</a>
  to reorganize its Google Drive files.
</p>
<p>
  Currently, the community's files are owned by whoever created them. This can lead
  to accidental deletion of files when someone leaves the community.
</p>
<p>
  To prevent this, the community is moving all its files into a shared drive owned by the
  community.
</p>
<p class="cta">
  <% if @request.file_count >= 2 %>
    You own about <%= @request.file_count %> files in the
    <%= link_to("old Google Drive folder", @operation.src_folder_url) %>
    for <%= @community.name %>. We need your permission to move them into the new drive.
  <% else %>
    You own at least one file in the
    <%= link_to("old Google Drive folder", @operation.src_folder_url) %>
    for <%= @community.name %>. We need your permission to move it into the new drive.
  <% end %>
</p>
<p>
  You will still retain access to the files if you are a member of the community.
</p>
<p>
  If you have questions or concerns, you can reach out to <%= link_to(@operation.contact_name, "mailto:#{@operation.contact_email}") %>,
  who is coordinating the reorganization process.
</p>
<p>
  If you'd rather not help with this effort, you can <%= link_to("opt out", gdrive_migration_request_opt_out_path) %>.
</p>