<% content_for(:title, "#{current_community.name} File Reorganization") %>
<div class="simple">
  <h2>File Selection Opt Out</h2>
  <% if !@request.active? || @untransferred_files.none? %>
    <p>We're sorry, something went wrong.</p>
  <% else %>
    <p>
      Our records indicate that you still own the files below. If you don't want to help transfer these files
      to community ownership, please let us know why you're choosing to opt out.
    </p>
    <p>
      If you tried to transfer the files but something went wrong, please share what happened.
    </p>
    <p>
      If you didn't mean to opt out, you can <%= link_to("go back", gdrive_migration_request_path) %>.
    </p>
    <%= gather_form_for(@request, url: gdrive_migration_request_confirm_opt_out_path, html: {class: "full-width"}) do |f| %>
      <%= f.input(:opt_out_reason) %>
      <%= form_actions do %>
        <%= link_to("Go Back", gdrive_migration_request_path) %>
        <%= f.button :primary, :opt_out %>
      <% end %>
    <% end %>

    <h3>Files Not Transferred</h3>
    <table class="full-width">
      <tr>
        <th>Name</th>
        <th>Modified</th>
      </tr>
      <% @untransferred_files.each do |file| %>
        <tr>
          <td>
            <%= image_tag(file.icon_link, class: "file-icon", alt: "File icon") %>
            <%= link_to(file.name, file.web_view_link, target: "_blank") %>
          </td>
          <td><%= I18n.l(file.modified_at, format: :day_mo_yr_no_time) %></td>
        </tr>
      <% end %>
    </table>

    <%= gather_paginate(@untransferred_files) %>
  <% end %>
</div>